.colossal-labs-page .footer-end {
  margin-top: -18.39vw;
  width: 86.84vw;
  margin-left: auto;
  mix-blend-mode: lighten;
}
.education-faqs-item {
  margin-top: 2.91vw;
}
.education-faqs-title {
  font-weight: 400;
  font-size: 2.65vw;
  letter-spacing: 0.03vw;
  max-width: 29.76vw;
}
.gap-20 {
  gap: 1.32vw;
}
.education-faqs-description {
  line-height: 1.32vw;
  letter-spacing: 0.03vw;
  width: 29.3vw;
}
.colossal-labs-page .faqs-sec {
  padding: 4.233vw 0 5.29vw;
}
.colossal-labs-page .faq-item:last-child {
  border-bottom: 1px solid #000000;
}
.colossal-labs-page .facts-sec.de-ex-facts-sec .fact-row {
  padding: 2.31vw 0;
}
.colossal-labs-page .facts-sec .fact-title {
  font-size: 6.42vw;
  letter-spacing: -0.25vw;
}
.colossal-labs-page .facts-sec .fact-row-lg .fact-title {
  flex: 1;
  min-width: 0;
}
.facts-sec .fact-row .text-md {
  flex: 0 0 auto;
  width: fit-content;
  text-align: right;
}
.colossal-labs-page .facts-sec.de-ex-facts-sec .fact-inner {
  background: linear-gradient(
    180deg,
    rgba(125, 234, 19, 0) 22.07%,
    #7dea13 87.67%
  );
  padding-bottom: 8.47vw;
}
.gap-35 {
  gap: 2.31vw;
}
.education-facts-item {
  margin-top: 2.31vw;
}
.education-facts-title {
  font-weight: 400;
  font-size: 2.57vw;
  letter-spacing: 0.03vw;
  width: 42.46vw;
}
.mr-97 {
  margin-right: 6.42vw;
}
.education-facts-description{
font-weight: 400;
font-size: 0.93vw;
line-height: 1.19vw;
letter-spacing: 0.45px;

}