.conservation-hero {
    padding: 7.011vw 0 0;
}

.conservation-hero::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background: #000;
    pointer-events: none;
}

.conservation-hero::after {
    content: "";
    position: absolute;
    bottom: 0.86vw;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.38%, #000000 96.75%);
    height: 55%;
    z-index: 3;
    pointer-events: none;
}

.conservation-hero .heading {
    font-size: 13.276vw;
    margin: 0 -1.323vw;

}

.conservation-hero .video {
    aspect-ratio: 1512/973;
}

.conservation-hero .video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
}

.conservation-hero .subheading {
    font-size: 3.579vw;
    color: #D9D9D9;
    padding: 1.455vw 2.646vw;
    border-radius: 8.995vw;
    border: 0.132vw solid #D9D9D9;
    display: inline-block;
    margin: 5.225vw 0;
}

.conservation-hero__image {
    margin-top: -18.32vw;
}

.conservation-hero__note {
    position: absolute;
    bottom: 24.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 59.788vw;
    z-index: 5;
    font-size: 1.587vw;
    line-height: 1.166;
    padding: 7.209vw 6.614vw;
}

.conservation-hero__note img {
    width: 0.661vw;
}

.biodiversity-mission-sec {
    margin-top: -1.918vw;
    z-index: 4;
    padding-bottom: 5.82vw;
}

.biodiversity-mission-sec .content {
    gap: 8.796vw;
    margin-bottom: 5.82vw;
}

.biodiversity-mission-sec .content .left {
    width: 29.762vw;
}

.biodiversity-mission-sec .content .right {
    width: calc(100% - 29.762vw - 8.796vw);
}

.biodiversity-mission-sec .content .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;

}

.biodiversity-mission-sec .content .desc {
    font-size: 2.116vw;
    line-height: 1.0625;
    letter-spacing: 0.0140625em;
}

.biodiversity-mission__action {
    gap: 1.587vw;
}

.biodiversity-mission__action .img-plus {
    width: 1.058vw;
}

.biodiversity-mission__action a {
    font-size: 1.323vw;
    gap: 1.587vw;
}

.con-colossal-foundation-sec {
    padding-bottom: 4.365vw;
}

.con-colossal-foundation-sec .row-1 {
    margin-bottom: 0.397vw;
}

.con-colossal-foundation-sec .image {
    max-width: 47.95vw;
    margin-bottom: 1.19vw;
}

.con-colossal-foundation-sec .heading {
    font-size: 4.233vw;
    line-height: 1;
    letter-spacing: 0.006875em;
    max-width: 81.481vw;
    margin-bottom: 5.291vw;
}

.con-colossal-foundation-sec .data-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2.183vw;
    margin-bottom: 6.019vw;
}

.con-colossal-foundation-sec .row-2 {
    display: grid;
    grid-template-columns: 10.913vw 1fr 21.825vw;
    grid-gap: 3.968vw;
}

.con-colossal-foundation-sec .row-2 .square {
    margin-top: 0.265vw;
}

.con-colossal-foundation-sec .row-2 .desc {
    font-size: 1.19vw;
    line-height: 118%;
    letter-spacing: 0.01em;
}

.con-colossal-foundation__btn {
    font-size: 0.794vw;
    line-height: 1.33;
    letter-spacing: 0.13em;
    color: #FF6B00;
    border: 1px solid #FF6B00;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2.646vw;
    display: inline-flex;
    align-items: center;
    gap: 0.463vw;
    padding: 0.463vw 0.794vw;
}

.con-colossal-foundation__btn svg {
    width: 0.661vw;
    flex-shrink: 0;
}


.planet-crisis-grid-bg {
    position: absolute;
    top: -30.093vw;
    left: 0;
    width: 100%;
    mix-blend-mode: screen;
    opacity: 0.5;
}

.planet-crisis-grid-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 29.81%, rgba(0, 0, 0, 0) 73.56%, #000000 100%);

}

.planet-crisis__banner {
    border-radius: 2.646vw;
    padding: 5.026vw 4.233vw 0;
}

.planet-crisis__banner .text-plus {
    font-size: 1.587vw;
    position: absolute;
    z-index: 2;
}

.planet-crisis__banner .text-plus-1 {
    top: 0;
    left: 0;
}

.planet-crisis__banner .text-plus-2 {
    top: 0;
    right: 0;
}

.planet-crisis__banner .text-plus-3 {
    top: 22%;
    left: 0;
}

.planet-crisis__banner .text-plus-4 {
    top: 22%;
    right: 0;
}

.planet-crisis__banner .text-plus-5 {
    top: 31.2%;
    left: 0;
}

.planet-crisis__banner .text-plus-6 {
    top: 31.2%;
    right: 0;
}

.planet-crisis__banner .video {
    aspect-ratio: 1512/1402;
}

.planet-crisis__banner .video::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(360deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.4) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%),
        linear-gradient(180deg, rgba(255, 255, 255, 0) 55%, #FFFFFF 70%),
        linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, #FFFFFF 95%);
    background-blend-mode: multiply, normal, normal, normal;
}

.planet-crisis__banner .subheading {
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 6.614vw;
}

.planet-crisis__banner .heading {
    padding-top: 1.455vw;
    font-size: 18.358vw;
    line-height: 0.72;
    background:
        linear-gradient(180deg, #FFFFFF 66.33%, #828282 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.planet-crisis__banner .image {
    margin-left: -4.233vw;
    margin-right: -4.233vw;
    margin-top: -6.614vw;
}

.planet-crisis__slider-wrapper {
    margin-top: -29.497vw;
    padding-bottom: 5.952vw;
}

.planet-crisis__slider .swiper-slide {
    transform: translateY(0);
    transition: transform 0.8s ease;
}

.planet-crisis__slider .swiper-slide.is-offset {
    transform: translateY(6.349vw);
}

.species-card {
    position: relative;
    border-radius: 1.323vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.34);
    min-height: 36.772vw;
    backdrop-filter: blur(82.25116729736328px);
    -webkit-backdrop-filter: blur(82.25116729736328px);
    font-family: 'NB Architekt Std';
    padding: 1.521vw 1.521vw 1.984vw;
    border: 1px solid #636363
}


.species-card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.species-card__image img {
    width: auto;
    height: 28.307vw;
    object-fit: cover;
    margin-top: 1.786vw;
    margin-bottom: 1.323vw;
}

.species-card__image img.img-1 {
    margin-left: -1.786vw;
    margin-bottom: -7.606vw;
}

.species-card__image img.img-2 {
    margin-top: -1.521vw;
    margin-bottom: -4.299vw;
}

.species-card__image img.img-3 {
    height: 20.899vw;
    margin-top: 0;
}

.species-card__image img.img-4 {
    height: 23.413vw;
    margin-top: 0.397vw;
    margin-left: -11.905vw;
    margin-bottom: -1.323vw;
}

.species-card__info {
    display: flex;
    flex-direction: column;
    gap: 0.331vw;
    border-top: 1px solid #FFFFFF;
    padding-top: 0.529vw;
    position: relative;
    z-index: 2;

}

.species-card__row {
    padding-bottom: 1.19vw;
    border-bottom: 1px solid #FFFFFF;
    display: grid;
    grid-template-columns: 5.489vw 1fr;
    grid-gap: 1.786vw;
}

.species-card__row .label {
    font-size: 0.732vw;
    letter-spacing: 0.18em;
}

.species-card__row .value {
    font-family: 'Telegraf';
    font-weight: 700;
    font-size: 1.673vw;
    line-height: 1.1;
    text-transform: uppercase;
}

.species-card__status {
    position: absolute;
    top: 1.521vw;
    left: 1.521vw;
    background: #7DEA13;
    color: #000;
    padding: 0.397vw 0.661vw;
    border-radius: 1.587vw;
    border: 1px solid #000000;
    font-size: 0.794vw;
    letter-spacing: 0.01em;
    z-index: 2;
}

.planet-crisis__navigation {
    gap: 1.124vw;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.planet-crisis__navigation p {
    font-size: 0.794vw;
    line-height: 1.42;
    letter-spacing: 0.02em;
}

.planet-crisis__slider {
    padding-bottom: 6.481vw;
}

.planet-crisis-sec .biodiverse-planet__header {
    margin-bottom: 3.571vw;
}

.biodiverse-planet__heading {
    font-size: 4.431vw;
    line-height: 1.03;
    letter-spacing: 0.013em;
    max-width: 57.804vw;
    margin-bottom: 2.381vw;
}

.biodiverse-planet__desc {
    max-width: 44.577vw;
    font-size: 1.19vw;
    letter-spacing: 0.025em;
    margin-bottom: 4.497vw;
}

.planet-crisis-sec .biodiverse-planet .overview-header {
    font-size: 0.599vw;
    letter-spacing: 0.13em;
    padding-top: 1.323vw;
    margin-bottom: 0.794vw;

}

.biodiverse-planet__overview {
    padding: 0 0.86vw;

}

.biodiverse-planet__overview .overview-inner {
    padding-bottom: 2.513vw;
    border-bottom-left-radius: 2.646vw;
    border-bottom-right-radius: 2.646vw;
}

.biodiverse-planet__overview .overview-inner .wrapper-md {
    padding: 0 3.307vw;
}

.biodiverse-planet__overview .overview-title {
    font-size: 5.461vw;
    line-height: 0.846;
    letter-spacing: -0.05em;
    max-width: 90%;
    margin-bottom: 2.381vw;
}

.biodiverse-planet__overview .overview-content {
    display: grid;
    grid-template-columns: 1fr 37.368vw;
    gap: 9.061vw;
    margin-bottom: 5.026vw;
}


.biodiverse-planet__overview .overview-content .left-inner {
    display: grid;
    grid-template-columns: 1fr 23.611vw;
    grid-gap: 3.175vw;
}

.biodiverse-planet__overview .overview-content .right {
    margin-top: -4.563vw;
}

.biodiverse-planet__overview .overview-desc {
    font-size: 1.587vw;
    line-height: 1.083;
    letter-spacing: 0.01875em;
}

.biodiverse-planet__overview .overview-warning .warning-icon {
    width: 2.579vw;
    margin-bottom: 1.323vw;
}

.biodiverse-planet__overview .overview-warning .warning-process .rectangle {
    clip-path: polygon(8.3% 0%, 100% 0%, 91.7% 100%, 0% 100%);
    width: 10%;
    aspect-ratio: 36/15;
    background-color: #828282;
}

.biodiverse-planet__overview .overview-warning .warning-process .rectangle.active {
    background-color: #fff;
}

.warning-process__value {
    margin-top: 0.463vw;
    font-size: 2.116vw;
    line-height: 1.4375;
    letter-spacing: -0.0625em;
}

.biodiverse-planet__overview .overview-content .left-content-1 {
    gap: 0.132vw;
}

.biodiverse-planet__overview .overview-content .left-content-1 span {
    font-size: 0.529vw;
    letter-spacing: 0.02em;
    line-height: 2.625;
}

.biodiverse-planet__overview .overview-content .left-content-1 .video {
    aspect-ratio: 1;
    margin-top: -0.661vw;
    margin-bottom: -0.331vw;
}

.biodiverse-planet__overview .stat-item {
    border-radius: 0.265vw !important;
}

.our-responsibility-sec {
    padding: 0 0.86vw;
    background-color: #fff;
}

.our-responsibility-main {
    padding: 12.831vw 0 17.262vw;
    margin-top: -8.995vw;
    border-radius: 2.646vw;
}

.our-responsibility-sec .wrapper-md {
    padding: 0 3.307vw;
}

.our-responsibility-sec .row-1 {
    font-size: 0.638vw;
    letter-spacing: 0.02em;
    padding-bottom: 1.323vw;
}

.our-responsibility-sec .row-1 span {
    padding: 0.463vw 0;
}

.our-responsibility-sec .row-2,
.our-responsibility-sec .row-3 {
    display: grid;
    grid-template-columns: 1fr 37.368vw;
    grid-gap: 3.307vw;
}

.our-responsibility-sec .heading {
    font-size: 6.349vw;
    letter-spacing: -0.01em;
}

.our-responsibility-sec .desc {
    font-size: 0.794vw;
    line-height: 1.33;
    letter-spacing: 0.0375em;
    margin: 1.19vw 0;
}

.our-responsibility-sec .subheading {
    font-size: 2.116vw;
    line-height: 1.0625;
    letter-spacing: 0.01375em;
}

.our-responsibility-sec .row-3 .column-2 {
    gap: 2.381vw;
    padding: 1.19vw 0;
}

.our-responsibility-navigation span {
    font-size: 0.661vw;
}

.our-responsibility-navigation .swiper-arrow {
    border: 1px solid #000000;
}

.our-responsibility__slider-wrapper {
    padding: 4.63vw 0;
}

.our-responsibility__slider .swiper-slide {
    display: flex;
    height: auto;
}

.our-responsibility__slider {
    margin-right: -3.307vw;
}

.responsibility-item {
    font-family: 'NB Architekt Std';
    display: flex;
    height: 100%;

}

.responsibility-item .item-left {
    width: 2.183vw;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.587vw;
    padding: 0.661vw 0;
}

.responsibility-item .item-left span {
    font-size: 0.489vw;
    letter-spacing: 0.02em;
    white-space: nowrap;
    transform: rotate(-90deg);
    margin-left: -0.926vw;
}

.responsibility-item .item-right {
    width: calc(100% - 2.183vw);
    padding: 0 2.116vw 0 1.19vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.794vw;
}

.responsibility-item .item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.794vw;
}

.responsibility-item .item-header .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 0.794vw;
}

.responsibility-item .item-number {
    font-family: 'NB Architekt Light';
    font-size: 6.636vw;
    letter-spacing: -0.05em;
    margin-top: -0.86vw;
}

.responsibility-item .line-text {
    font-size: 0.546vw;
    line-height: 1.7;
}

.responsibility-item .item-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.397vw;
    font-size: 0.733vw;
    letter-spacing: 0.13em;
    color: #fff;
    border: 1px solid #FFFFFF;
    padding: 0.529vw 0.794vw;
    border-radius: 2.381vw;
}

.responsibility-item .item-btn svg {
    width: 0.661vw;
}

.responsibility-item .item-btn:hover {
    background-color: #fff;
    color: #000000;
}

.responsibility-item .item-title {
    font-size: 1.467vw;
    margin-bottom: 2.116vw;
}

.responsibility-item .item-desc {
    font-size: 0.733vw;
    font-family: 'Telegraf';
    line-height: 1.17;

}

.human-factor-sec {
    padding: 3.704vw 0 7.937vw;
}

.human-factor__label {
    margin-bottom: 1.587vw;
}

.human-factor-sec .row-plus {
    margin-bottom: 1.72vw;
}

.human-factor-sec .row-plus .column-1 {
    width: 42%;
}

.human-factor-sec .row-plus .column-2 {
    width: 16%;
}

.human-factor-sec .row-plus .column-3 {
    width: 42%;

}

.human-factor-sec .row-plus img {
    width: 0.529vw;
}

.human-factor__heading {
    padding: 1.521vw 0 3.77vw;
    margin-left: -3.307vw;
    margin-right: -3.307vw;
}

.human-factor__heading span {
    font-size: 8.398vw;
    line-height: 1.38;
    display: inline-block;
    color: #FF7B31;
    border: 0.198vw solid #FF7B31;
    border-radius: 21.032vw;
    padding: 1.918vw 6.151vw;
}

.human-factor__content {
    margin-top: 2.976vw;
    gap: 1.587vw;
    padding-top: 1.984vw;
}

.human-factor__content .left {
    width: calc(58.67% - 0.794vw);
    display: grid;
    grid-template-columns: 1fr 21.892vw;
    grid-gap: 1.257vw;
    padding-top: 3.571vw;

}

.human-factor__content .right {
    width: calc(41.33% - 0.794vw);
}

.human-factor__content .row-label {
    font-size: 0.638vw;
    letter-spacing: 0.02em;
    padding-top: 0.331vw;
    margin-bottom: 3.175vw;
}

.human-factor__content .content-title {
    font-size: 2.116vw;
    line-height: 120%;
    letter-spacing: 0.01375em;
}

.human-factor__content .content-desc {
    max-width: 80%;
}

.human-factor__slider .slide-img {
    aspect-ratio: 560/385;
    overflow: hidden;
    position: relative;
    border: 1px solid #979797;
    border-radius: 0.529vw;
    margin-bottom: 1.058vw;
}

.human-factor__slider .slide-img .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.human-factor__slider .slide-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'NB Architekt Std';
    gap: 0.529vw;
    font-size: 0.638vw;
    letter-spacing: 0.02em;
    color: #B3B3B3;
    border-top: 1px solid #B3B3B3;
    padding-top: 0.331vw;
    margin-bottom: 1.058vw;
}

.human-factor__slider .slide-title {
    font-size: 2.116vw;
    line-height: 120%;
    letter-spacing: 0.01375em;
    color: #B3B3B3;
    margin-bottom: 1.984vw;
}

.human-factor__slider .slide-source {
    position: absolute;
    top: 1.455vw;
    left: 1.587vw;
    display: flex;
    align-items: center;
    font-family: 'NB Architekt Std';
    gap: 1.19vw;
    font-size: 0.863vw;
    letter-spacing: 0.02em;
    color: #F4F4F4;
}

.human-factor__slider .slide-source .square-plus {
    width: 1.72vw;
    height: 1.72vw;
}

.human-factor__slider .slide-source .square-plus img {
    width: 0.595vw;
}

.human-factor__slider .slide-log {
    font-family: 'NB Architekt Std';
    font-size: 0.863vw;
    letter-spacing: 0.02em;
    color: #F4F4F4;
    position: absolute;
    left: 1.587vw;
    bottom: 0.661vw;
    padding: 0.661vw 0;
}

.human-factor__slider .slide-log::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 19%;
    height: 1px;
    background-color: #E5DEDD;
}

.human-factor__navigation {
    gap: 2.116vw;
    margin-bottom: 1.124vw;
}

.human-factor__slider-wrapper .swiper-arrow.swiper-button-disabled {
    background-color: #D9D9D9;
    color: #5E5E5E;
}

.human-factor__slider-wrapper .human-factor-counter {
    font-size: 2.116vw;
}

.human-factor__slider-wrapper .human-factor-counter .total {
    color: #4F4F4F;
}

.work-in-action-sec {
    padding-bottom: 6.614vw;
}

.work-in-action-bg-grid {
    position: absolute;
    left: 0;
    width: 100%;
    top: -17.526vw;
    opacity: 0.5;
    mix-blend-mode: screen;

}

.work-in-action-bg-grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 29.81%, rgba(0, 0, 0, 0) 73.56%, #000000 100%);
}

.work-in-action-sec .row-1 {
    margin-bottom: 10.053vw;
}

.work-in-action-sec .heading {
    font-size: 18.358vw;
    line-height: 0.72;
    background:
        linear-gradient(180deg, #FFFFFF 16.62%, #7DEA13 96.47%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding: 0.661vw 0;
    margin-bottom: 2.976vw;
}

.work-in-action__about {
    display: grid;
    grid-template-columns: 41.138vw 1fr;
    grid-gap: 5.291vw;
    margin-bottom: 4.96vw;
}

.work-in-action__about .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
}

.work-in-action__about .desc {
    max-width: 38.69vw;
}

.work-in-action-sec .our-genetic .title {
    font-size: 4.034vw;
    line-height: 1;
    background:
        linear-gradient(0deg, #FFFFFF 24.67%, #7DEA13 144.49%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    max-width: 51.323vw;
    margin-bottom: 6.019vw;
}

.work-in-action-sec .our-genetic__content {
    display: grid;
    grid-template-columns: 1fr 49.339vw;
    grid-gap: 10.714vw;
    margin-right: -4.233vw;
    align-items: start;
}

.work-in-action-sec .our-genetic__content .btn-orange:hover {
    background-color: transparent;
    border-color: #FF6131;
    color: #FF7B31;
}

.work-in-action-sec .our-genetic__content .source-group {
    position: absolute;
    left: -2.778vw;
    align-items: center;
    color: #5E5E5E;
}

.work-in-action-sec .our-genetic__content .source-group-top {
    flex-direction: column-reverse;
    top: 0;
}

.work-in-action-sec .our-genetic__content .source-group-bottom {
    bottom: 0;
}

.work-in-action-sec .our-genetic__content .source-group__label {
    transform: rotate(90deg);
}

.work-in-action-sec .our-genetic__content .source-group-top .source-group__label {
    margin-top: 2.513vw;
}

.work-in-action-sec .our-genetic__content .source-group-bottom .source-group__label {
    margin-bottom: 2.513vw;
    flex-direction: row-reverse;
}

.work-in-action-sec .our-genetic__content .left {
    padding-left: 4.894vw;
}

.work-in-action-sec .our-genetic__content .image {
    border-top-left-radius: 2.646vw;
}

.work-in-action-sec .our-genetic__content .image::before,
.work-in-action-sec .our-genetic__content .image::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.work-in-action-sec .our-genetic__content .image::before {
    background: url('../img/2000W_grid.png') no-repeat center / cover;
    opacity: 0.5;
}

.work-in-action-sec .our-genetic__content .image::after {
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 63.37%, rgba(0, 0, 0, 0.7) 94.01%),
        linear-gradient(0deg, rgba(108, 108, 108, 0.2), rgba(108, 108, 108, 0.2)),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.work-in-action-sec .our-genetic__content .image-caption {
    position: absolute;
    z-index: 2;
    left: 1.918vw;
    top: 2.315vw;
    font-size: 1.058vw;
    line-height: 1.25;
    letter-spacing: 0.017em;
    max-width: 5.688vw;
}

.work-in-action-sec .our-genetic__content .image-caption .square {
    backdrop-filter: blur(0.7742958664894104px);
    box-shadow: 0px 0px 4.13px 0px #FF6131;
}

.work-in-action-sec .our-genetic__content .right-bottom {
    gap: 1.455vw;
}

.work-in-action-sec .our-genetic__content .right-bottom__text {
    gap: 0.661vw;
    max-width: 27.116vw;
}

.our-genetic-list {
    display: flex;
    flex-direction: column;
    gap: 2.249vw;
}

.our-genetic-item {
    font-family: 'NB Architekt Std';
    display: flex;
    flex-direction: column;
    gap: 2.315vw;
    padding-bottom: 2.183vw;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, #5E5E5E 58.17%, #000000 100%) 1;
}

.our-genetic-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.our-genetic-item .item-top {
    display: flex;
    gap: 1.323vw;
}

.our-genetic-item .item-bottom {
    display: flex;
    gap: 1.521vw;
}

.our-genetic-item .item-plus {
    flex-shrink: 0;
}

.our-genetic-item .line-text {
    font-weight: 700;
    font-size: 0.661vw;
    line-height: 1.4;
    letter-spacing: 0.017em;
}

.our-genetic-item .item-number {
    width: 1.455vw;
    height: 1.455vw;
    border-radius: 50%;
    border: 1px solid #FF7B31;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.595vw;
    letter-spacing: 0.09em;
    color: #FF7B31;
    margin-top: 0.397vw;
    flex-shrink: 0;
}

.our-genetic-item .item-title {
    font-size: 3.175vw;
    line-height: 93%;
    letter-spacing: 0.0092em;
}

.our-genetic-item .item-desc {
    font-size: 0.926vw;
    line-height: 130%;
    letter-spacing: 0.02em;
}

.our-genetic-item .item-line {
    height: 0.132vw;
    width: 2.315vw;
    background: #383838;
}

.our-genetic-item .item-info {
    display: flex;
    flex-direction: column;
    gap: 0.992vw;
    max-width: 25.529vw;
}

.conservation-project-sec {
    padding: 5.291vw 0 100px;
}

.conservation-project-sec .heading {
    font-size: 4.034vw;
    line-height: 100%;
    background:
        linear-gradient(0deg, #7DEA13 -20.9%, #FFFFFF 81.86%), linear-gradient(0deg, #FFFFFF, #FFFFFF);

    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    max-width: 51.323vw;
    margin-bottom: 4.96vw;
}

.conservation-project-sec .project-title {
    font-size: 1.918vw;
    flex: 1;
    position: relative;
    z-index: 3;
}

.conservation-project-sec .project-list {
    gap: 2.116vw;
    padding-bottom: 4.828vw;
}

.conservation-project-sec .project-content.project-elephants .project-title {
    font-size: 6.614vw;
    line-height: 90%;
}

.conservation-project-sec .project-content.project-elephants .project-header {
    border-top: 1px solid #D9D9D9;
    display: grid;
    grid-template-columns: 1fr 15.212vw;
    grid-gap: 3.968vw;

}

.conservation-project-sec .project-content.project-elephants .project-infos {
    display: flex;
    flex-direction: column;
    margin-top: 0.331vw;
}

.conservation-project-sec .project-content.project-elephants .project-infos .info-item {
    display: grid;
    grid-template-columns: 2.646vw 1fr;
    grid-gap: 1.323vw;
    align-items: center;
}

.conservation-project-sec .project-content.project-elephants .project-infos .label {
    font-size: 0.529vw;
    letter-spacing: 0.03em;
}

.conservation-project-sec .project-content.project-elephants .project-infos .value {
    text-align: end;
}

.conservation-project-sec .project-content .project-box .box-link-arrow {
    width: 2.116vw;
    height: 2.116vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF6B00;
    background: rgba(0, 0, 0, 0.4);
    color: #FF6B00;
    margin-top: 2.249vw;
    position: relative;
    z-index: 4;
}

.conservation-project-sec .project-content .project-box .box-link-arrow:hover {
    color: #fff;
    background-color: #FF6B00;
}

.conservation-project-sec .project-content .project-box .box-link-arrow svg {
    width: 0.661vw;
}

.conservation-project-sec .project-content {
    height: 100%;
}

.conservation-project-sec .project-content .project-box {
    position: relative;
    border-radius: 0.397vw;
    font-family: 'NB Architekt Std';
    border: 1px solid #979797;
    min-height: 29.696vw;
    padding: 2.315vw 1.984vw 0.794vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.conservation-project-sec .project-content .project-box.box-lg {
    border-radius: 0.529vw;
}

.conservation-project-sec .project-content .project-box .box-bottom {
    margin-top: auto;
}

.conservation-project-sec .project-content .project-box::before,
.conservation-project-sec .project-content .project-box::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
}

.conservation-project-sec .project-content .project-box::before {
    background: url('../img/2000W_grid.png') no-repeat center / cover;
    opacity: 0.5;
    z-index: 1;
}

.conservation-project-sec .project-content .project-box::after {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.conservation-project-sec .project-content .project-box .box-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.conservation-project-sec .project-content .project-box .square {
    position: absolute;
    top: 2.778vw;
    left: 2.778vw;
    z-index: 3;
}

.conservation-project-sec .project-content .project-box .group-plus {
    font-size: 1.093vw;
    letter-spacing: 0.02em;
    position: absolute;
    top: 2.249vw;
    right: 2.513vw;
    z-index: 3;
}


.conservation-project-sec .project-content .project-box .box-header {
    border-top: 1px solid #fff;
    display: flex;
    gap: 1.587vw;
    justify-content: space-between;
}

.conservation-project-sec .project-content .project-box .box-btn {
    position: absolute;
    display: inline-flex;
    align-items: center;
    gap: 0.463vw;
    font-size: 0.794vw;
    line-height: 1.33;
    letter-spacing: 0.13em;
    color: #FF6B00;
    padding: 0.463vw 0.794vw;
    border-radius: 2.646vw;
    z-index: 4;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #FF6B00;
    left: 0.86vw;
    bottom: 0.86vw;
}

.conservation-project-sec .project-content .project-box .box-btn svg {
    width: 0.728vw;
    flex-shrink: 0;
}

.conservation-project-sec .project-content .project-box .box-btn:hover {
    color: #fff;
    background-color: #FF6B00;
}

.conservation-project-sec .project-content .project-box .box-endangerment {
    margin-left: -1.984vw;
    background-color: #7DEA13;
    backdrop-filter: blur(6.7404961585998535px);
    -webkit-backdrop-filter: blur(6.7404961585998535px);
    position: relative;
    z-index: 4;
    max-width: 26.257vw;
    border-top-right-radius: 1.455vw;
    border-bottom-right-radius: 1.455vw;
    border-bottom-left-radius: 0.529vw;
    margin-top: 3.638vw;
    margin-bottom: -0.794vw;
    color: #000;
}

.conservation-project-sec .project-content .project-box .box-endangerment__top {
    padding: 0.794vw 0.794vw 0.926vw 0.794vw;

}

.conservation-project-sec .project-content .project-box .box-endangerment__content {
    border: 1px solid #000;
    border-top-right-radius: 0.992vw;
}

.conservation-project-sec .project-content .project-box .box-endangerment__header {
    font-size: 0.562vw;
    letter-spacing: 0.02em;
    padding: 0.661vw 1.323vw 0.794vw 1.323vw;
    gap: 0.529vw;
    border-bottom: 1px dashed #000;
    margin-bottom: 0.661vw;

}

.conservation-project-sec .project-content .project-box .box-endangerment__body {
    padding: 0 1.323vw 1.19vw;
}

.conservation-project-sec .project-content .project-box .box-endangerment__title {
    font-size: 3.046vw;
    line-height: 0.8;
    letter-spacing: -0.02em;
    margin-bottom: 1.323vw;
}

.conservation-project-sec .project-content .project-box .box-endangerment__title span {
    color: rgba(0, 0, 0, 0.3);
}

.conservation-project-sec .project-content .project-box .box-endangerment .line-text {
    font-size: 1.798vw;
    letter-spacing: -0.17em;
    margin-bottom: 0.992vw;

}

.conservation-project-sec .project-content .project-box .box-endangerment__list {
    gap: 1.058vw;
}

.conservation-project-sec .project-content .project-box .box-endangerment__item .item-line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    mix-blend-mode: multiply;
    margin-bottom: 0.397vw;
}


.conservation-project-sec .project-content .project-box .box-endangerment__item .item-label {
    font-size: 0.562vw;
    letter-spacing: 0.02em;
    margin-bottom: 0.331vw;
}

.conservation-project-sec .project-content .project-box .box-endangerment__item .item-text {
    font-size: 0.953vw;
    line-height: 1.25;
    font-family: 'Telegraf';
    letter-spacing: 0.03em;
}

.conservation-project-sec .project-content .project-box .box-endangerment__bottom {
    border-top: 1px dashed #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.794vw;
    padding-left: 1.984vw;
}

.conservation-project-sec .project-content .project-box .box-endangerment__bottom span {
    font-weight: 700;
    font-size: 0.562vw;
    letter-spacing: 0.02em;
}

.conservation-project-sec .project-content .project-box.box-lg .cs-warning-box .left {
    width: 2.778vw;
}

.conservation-project-sec .project-content .project-box.box-lg .cs-warning-box .right img,
.conservation-project-sec .project-content .project-box.box-lg .cs-warning-box .left img {
    width: 1.455vw;
}

.conservation-project-sec .project-content .project-box.box-lg .cs-warning-box {
    min-height: 2.315vw;
    font-size: 0.463vw;
}

.conservation-project-sec .project-content .project-box .box-endangerment .cs-warning-box {
    position: static;
    font-size: 0.647vw;
    border-radius: 0;
}

.conservation-project-sec .project-content .project-box.box-lg .cs-warning-box .right {
    gap: 0.397vw;
}

.conservation-project-sec .project-content .project-box .box-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 0.661vw;
    position: relative;
    z-index: 4;
}

.conservation-project-sec .project-content .project-speci {
    font-family: 'NB Architekt Std';
    font-size: 0.926vw;
    mix-blend-mode: difference;
    position: relative;
    z-index: 3;
    margin-top: 0.661vw;
}

.conservation-project-sec .project-content .box-header .project-speci {
    text-align: right;
}

.conservation-project-sec .project-content .project-box .cs-warning-box {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    color: #000000;
    min-height: 1.587vw;
    font-family: 'Telegraf';
    font-size: 0.311vw;
    border-bottom-right-radius: 0.529vw;
}



.conservation-project-sec .project-content.project-elephants .project-box .cs-warning-box {
    min-height: 2.381vw;
}

.conservation-project-sec .project-content .project-box .cs-warning-box .left {
    width: 1.852vw;
}

.conservation-project-sec .project-content .project-box .cs-warning-box .right {
    gap: 0.661vw;
    padding: 0 0.397vw;
}

.conservation-project-sec .project-content.project-elephants .project-box .cs-warning-box .left {
    width: 2.778vw;
}

.conservation-project-sec .project-content .project-box .cs-warning-box .right img,
.conservation-project-sec .project-content .project-box .cs-warning-box .left img {
    width: 0.992vw;
}

.conservation-project-sec .project-content.project-elephants .project-box .cs-warning-box .right img,
.conservation-project-sec .project-content.project-elephants .project-box .cs-warning-box .left img {
    width: 1.455vw;
}

.conservation-project-sec .project-content.project-elephants .project-box {
    min-height: 43.915vw;
    margin-top: 1.984vw;
    height: auto;
}

.conservation-project-sec .project-content.project-elephants .project-box::before,
.conservation-project-sec .project-content.project-elephants .project-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    border-radius: inherit;
    z-index: 1;
}

.conservation-project-sec .project-content.project-elephants .project-box::after {
    background: url('../img/conservation/grid-3.png') no-repeat center / cover;
}

.conservation-project-sec .project-content.project-elephants .project-box .box-bg-2 {
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 100%;
    left: 0;
}

.conservation-project-sec .project-content.project-elephants .project-box .box-bg-2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 80%);
    pointer-events: none;
}

.conservation-project-sec .project-content.project-elephants .project-box .btn-primary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.conservation-project-sec .project-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.323vw;
}

.conservation-project-sec .project-row .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.323vw;
}

.conservation-project-sec .project-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.19vw;
}

.conservation-project-sec .project-box.box-sm {
    min-height: 22.95vw;
}

.conservation-project-sec .project-row-2,
.conservation-project-sec .project-row-4,
.conservation-project-sec .project-row-6 {
    grid-template-columns: repeat(2, 1fr);
}

.conservation-project-sec .project-content .project-box.box-lg .project-title {
    font-size: 2.976vw;
}

.conservation-project-sec .project-content.project-lion .box-btn {
    left: auto;
    right: 1.257vw;
    bottom: 1.257vw;
}

.conservation-project-sec .project-content .cs-warning-box.bg-yellow {
    background-color: #FBFF00 !important;
}

.conservation-project-sec .project-content .cs-warning-box.bg-red {
    background-color: #FF0000 !important;
}

.conservation-project-sec .project-content .cs-warning-box.bg-purple {
    background-color: #5C0C33 !important;
    color: #fff;
}

.conservation-project-sec .project-content .cs-warning-box.bg-purple .left {
    border-color: #fff;
}

.conservation-project-sec .project-content.project-california-condor .cs-warning-box .right {
    gap: 0.265vw;
    padding: 0 0 0 0.265vw;
}

.conservation-project-sec .project-content.project-pink-pigeon .project-speci {
    color: #808080;
}

.conservation-project-sec .project-box-note {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(33, 33, 33, 0.6);
    border-radius: 12.169vw;
    flex: 1;
    padding: 3.307vw 6.614vw;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    min-height: 22.884vw;
}

.conservation-project-sec .project-box-note .note-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.984vw;
    position: relative;
    z-index: 2;
}

.conservation-project-sec .project-box-note .note-logo {
    width: 3.108vw;
}

.conservation-project-sec .project-box-note .note-video {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.conservation-project-sec .project-box-note .note-label {
    font-size: 0.661vw;
}

.conservation-project-sec .project-box-note .note-title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
}

.conservation-project-sec .project-row-3,
.conservation-project-sec .project-row-5 {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.19vw;
}

.conservation-project-sec .project-row-4 .column-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.19vw;
}

.conservation-project-sec .project-row-4 .project-group {
    grid-template-columns: 1fr;
    gap: 1.323vw;
}

.conservation-project-sec .stats-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.587vw;
    margin: 0;
}

.conservation-project-sec .project-row-6 .project-box-note {
    border-color: #979797;
}

.conservation-project-sec .project-gallery__header {
    line-height: 1.375;
    padding-top: 1.058vw;
    margin-bottom: 3.108vw;
}

.conservation-project-sec .project-gallery__header .column {
    gap: 0.661vw 7.143vw;
}

.conservation-project-sec .project-gallery__header .square {
    margin-top: 0.331vw;
}