.de-extinction-hero {
    padding: 8.201vw 0 2.844vw;
}

.de-extinction-hero::before,
.de-extinction-hero::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.de-extinction-hero::before {
    background: url('../img/2000W_grid.png') no-repeat center / cover;
}

.de-extinction-hero::after {
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 67.35%, #000000 100%),
        linear-gradient(180deg, #000000 1.59%, rgba(0, 0, 0, 0) 31.41%);
}

.de-extinction-hero .heading {
    font-size: 10.888vw;
    line-height: 0.91;
    margin-bottom: 0.529vw;
}

.de-extinction-hero .heading-group {
    max-width: 83.862vw;
}

.de-extinction-hero .heading-group .heading:first-child {
    margin-left: 7.143vw;
}

.de-extinction-hero .image {
    max-width: 48.81vw;
    transform: rotate(-11.2deg);
    margin-top: -14.881vw;
    left: -1.984vw;
}

.de-extinction-hero .row-1 {
    margin-top: -22.09vw;
}

.de-extinction-hero .row-1 .column {
    gap: 0.661vw 7.143vw;
}

.de-extinction-hero .row-1 .square {
    margin-top: 0.265vw;
}

.de-extinction-hero .heading-bottom {
    margin-top: 11.111vw;
}

.de-ex-mission-sec {
    padding: 5.754vw 0 6.614vw;
}

.de-ex-mission-sec .row-1 {
    margin-bottom: 2.116vw;
}

.de-ex-mission-sec .row-2 {
    line-height: 1.375;
}

.de-ex-mission-sec .row-2 .column {
    gap: 0.661vw 7.143vw;
}

.de-ex-mission-sec .row-2 .square {
    margin-top: 0.331vw;
}

.de-ex-mission-sec .heading {
    font-size: 11.243vw;
    line-height: 0.79;
    padding-top: 4.497vw;
}

.de-ex-mission-sec .heading-gradient {
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 32.56%, rgba(255, 123, 49, 0.68) 100%), linear-gradient(0deg, #F4F4F4, #F4F4F4);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.de-ex-mission-sec .content {
    margin-top: -9.921vw;
    margin-bottom: 5.159vw;
}

.de-ex-mission-sec .content-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
}

.de-ex-mission-sec .content-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.43%, #000000 100%);

}

.de-ex-mission-sec .content-image {
    max-width: 82.474vw;
    z-index: 3;
    padding-top: 1.72vw;
}

.de-ex-mission-sec .content-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.87%, #000000 93.51%);
    pointer-events: none;
}

.de-ex-mission-sec .content-title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    padding-bottom: 4.828vw;
}

.de-ex-mission-slider__wrapper {
    margin-top: -12.037vw;
    z-index: 5;
}

.de-ex-mission-slider .slide-card {
    display: flex;
    flex-direction: column;
    gap: 2.315vw;
}

.de-ex-mission-slider .slide-image {
    height: 12.897vw;
    width: 100%;
    object-fit: cover;
    border-radius: 0.397vw;
}

.de-ex-mission-slider .swiper-slide {
    width: 10.317vw;
    transition: all 0.5s ease;
}

.de-ex-mission-slider .swiper-slide-active {
    width: 16.005vw;
}

.de-ex-mission-slider .slide-title {
    max-width: 6.415vw;
}

.mission-result__content {
    margin-top: -1.852vw;
}

.mission-result__content .left {
    width: 38.7%;
}

.mission-result__content .right {
    width: 61.3%;
    padding-left: 3.307vw;
}

.mission-result__img img {
    margin-left: -1.19vw;
}

.mission-result__desc {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    line-height: 1;
    max-width: 50.198vw;
    padding-bottom: 3.307vw;
}

.mission-result__video {
    padding: 0 1.323vw;
    margin-top: -2.646vw;
    margin-bottom: -32.011vw;
}

.mission-result__video .video {
    aspect-ratio: 1472/822;
    border-radius: 2.646vw;
}

.mission-result__video .video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 123, 49, 0) 49.22%, #9940DD 101.14%);
    pointer-events: none;
}

.mission-result__video .source-group-1 {
    top: 3.439vw;
    left: 2.91vw;
}

.mission-result__video .source-group-2 {
    top: 3.439vw;
    right: 2.91vw;
}

.mission-result__video .source-group-3 {
    bottom: 2.116vw;
    left: 2.91vw;
}

.mission-result__video .source-group-4 {
    bottom: 2.116vw;
    right: 2.91vw;
}

.mission-result__video .video-text {
    font-size: 3.439vw;
    letter-spacing: 0.096em;
    gap: 2.91vw;
}

.mission-result__video .video-text .text-highlight {
    font-size: 5.063vw;
    letter-spacing: 0;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.261vw solid rgba(217, 217, 217, 1);
    backdrop-filter: blur(116px);
    -webkit-backdrop-filter: blur(116px);
    border-radius: 13.228vw;
    padding: 1.323vw 2.249vw;

}

.de-ex-about-sec {
    padding: 24.008vw 0 0;
}

.de-ex-about__header .bg-grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 34.08%, #FFFFFF 93.61%),
        linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 17.92%);
}

.de-ex-about__header {
    padding: 4.497vw 0 4.63vw;
}

.de-ex-about__header .wrapper-md {
    padding: 0 3.307vw;
}

.de-ex-about_heading-wrapper .img-1 {
    max-width: 39.484vw;
}

.de-ex-about_heading-wrapper .img-1 .img-inner {
    max-width: 24.471vw;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 1.19vw;
}

.de-ex-about_heading-wrapper .img-2 {
    left: 0;
    width: 84.061vw;
    top: 4.762vw;
}

.de-ex-about_heading-wrapper .heading {
    font-size: 4.762vw;
    line-height: 120%;
}

.de-ex-about_heading-wrapper .text-plus {
    position: absolute;
    font-size: 2.249vw;
    line-height: 0.6470;
}

.de-ex-about_heading-wrapper .text-plus-1 {
    top: 9.458vw;
    left: 6.481vw;
}

.de-ex-about_heading-wrapper .text-plus-2 {
    top: 9.458vw;
    right: 6.481vw;
}

.de-ex-about_heading-wrapper .text-plus-3 {
    bottom: 8.135vw;
    left: 6.481vw;
}

.de-ex-about_heading-wrapper .text-plus-4 {
    bottom: 8.135vw;
    right: 6.481vw;
}

.de-ex-about_heading-wrapper .highlight-text {
    font-size: 13.889vw;
    line-height: 0.87;
    letter-spacing: -0.065em;
    left: -7.672vw;
    right: -7.672vw;
    padding-top: 1.72vw;

}

.de-ex-about-sec .content-1 {
    margin-top: 0.926vw;
    margin-bottom: 5.952vw;
}

.de-ex-about-sec .content-1 .row-1 {
    margin-bottom: 4.63vw;
}

.de-ex-about-sec .content-1 .row-1 .column {
    gap: 0.661vw 7.143vw;
}

.de-ex-about-sec .content-1 .row-1 .square {
    margin-top: 0.265vw;
}

.de-ex-about-sec .content-1 .row-2 {
    gap: 1.323vw;
    margin-bottom: 0.595vw;
}

.de-ex-about-sec .content-1 .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;

}

.de-ex-about-sec .content-2 .content-heading {
    font-size: 11.243vw;
    line-height: 0.79;
    padding-top: 0.529vw;
}

.de-ex-about-sec .content-2 .content-heading-wrapper {
    margin-bottom: 1.852vw;
}

.de-ex-about-sec .content-2 .content-heading-wrapper .img-deco {
    width: 38.492vw;
    bottom: -7.672vw;
}

.de-ex-about-sec .content-2 .content-heading-wrapper .img-deco.deco-left {
    left: -9.921vw;
}

.de-ex-about-sec .content-2 .content-heading-wrapper .img-deco.deco-right {
    right: -8.995vw;
    transform: rotateY(180deg);
}

.de-ex-about-sec .content-2 .row-1 {
    gap: 4.894vw;
    padding: 0 2.646vw;
    margin-bottom: 3.505vw;

}

.de-ex-about-sec .content-2 .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    padding: 2.778vw 0;
}

.de-ex-about-sec .content-2 .row-2 .column-1 {
    width: 36.05%;
    border-top: 1px solid #828282;
    padding-top: 3.373vw;
}

.de-ex-about-sec .content-2 .row-2 .column-2 {
    width: 27.9%;
}

.de-ex-about-sec .content-2 .row-2 .column-3 {
    border-top: 1px solid #828282;
    width: 36.05%;
    padding-top: 3.373vw;
}

.de-ex-about-sec .content-2 .row-2 .label {
    gap: 1.058vw;
    font-size: 1.323vw;
    line-height: 1.2;
    letter-spacing: 0.0445em;
    margin-bottom: 0.992vw;
}

.de-ex-about-sec .content-2 .row-2 .label .square {
    width: 1.587vw;
    height: 1.587vw;
}

.de-ex-about-sec .content-2 .row-2 .animal-content {
    max-width: 19.841vw;
}

.de-ex-about-sec .content-2 .row-2 .animal-content .name {
    font-size: 3.941vw;
}

.de-ex-about-sec .content-2 .row-2 .animal-content .video {
    aspect-ratio: 300 / 324;
    margin-top: -1.323vw;
    margin-left: 0.661vw;
}

.de-ex-about-sec .content-2 .row-2 .animal-content .video video {
    transform: scale(1.6);
}

.de-ex-about-sec .content-2 .row-2 .content-line {
    width: 1px;
    height: 10.119vw;
    background: linear-gradient(180deg, #FFFFFF 0%, #3F3F3F 100%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.de-ex-about-sec .content-2 .row-2 .content-line.line-top {
    top: -5.82vw;
}

.de-ex-about-sec .content-2 .row-2 .content-line.line-bottom {
    bottom: -4.365vw;
    background: linear-gradient(180deg, #3F3F3F 0%, #FFFFFF 85.71%);

}

.de-ex-about-sec .content-2 .row-2 .content-line::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2.183vw;
    height: 1px;
    background-color: #828282;
}

.de-ex-about-sec .content-2 .row-2 .content-line.line-top::before {
    bottom: 0;
}

.de-ex-about-sec .content-2 .row-2 .content-line.line-bottom::before {
    top: 0;
}


.de-ex-about-sec .content-2 .row-2 .content-desc {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    margin: auto -2.381vw;
    padding-bottom: 1.984vw;
    line-height: 1;
}

.de-ex-about-sec .content-2 .row-2 .text-plus {
    position: absolute;
    font-size: 1.587vw;
    letter-spacing: 0.02em;
}

.de-ex-about-sec .content-2 .row-2 .text-plus-1 {
    top: 3.439vw;
    left: -4.101vw;
}

.de-ex-about-sec .content-2 .row-2 .text-plus-2 {
    top: 3.439vw;
    right: -4.101vw;
}

.de-ex-about-sec .content-2 .row-2 .text-plus-3 {
    bottom: 4.894vw;
    left: -4.101vw;
}

.de-ex-about-sec .content-2 .row-2 .text-plus-4 {
    bottom: 4.894vw;
    right: -4.101vw;
}

.de-ex-about-sec .content-2 {
    margin-bottom: 2.116vw;
}

.de-ex-about-sec .content-3 .content-heading {
    font-size: 22.981vw;
    letter-spacing: 0.03em;
}

.de-ex-about-sec .content-3 .content-heading span {
    font-size: 11.77vw;
    letter-spacing: -0.086em;
    padding-top: 3.307vw;
}

.de-ex-about-sec .content-3 .row-1 {
    margin-bottom: 1.653vw;
}

.de-ex-about-sec .content-3 .row-1 .column {
    gap: 0.661vw 7.143vw;
    padding-right: 1.587vw;
}

.de-ex-about-sec .content-3 .row-1 .column-1 {
    width: 33%;
}

.de-ex-about-sec .content-3 .row-1 .column-2 {
    width: 18%;
}

.de-ex-about-sec .content-3 .row-1 .column-3 {
    width: 34%;
}

.de-ex-about-sec .content-3 .row-1 .column-4 {
    width: 15%;
    padding-right: 0;
}

.de-ex-about-sec .content-3 .row-1 .square {
    margin-top: 0.265vw;
}

.de-ex-about-sec .content-3 .row-2 .column {
    padding-right: 1.587vw;
}

.de-ex-about-sec .content-3 .row-2 .column-1 {
    width: 50.8%;
}

.de-ex-about-sec .content-3 .row-2 .column-2 {
    width: 34%;
}

.de-ex-about-sec .content-3 .row-2 .column-3 {
    width: 15.2%;
    padding-right: 0;
}

.de-ex-about-sec .content-3 .row-2 {
    margin-bottom: 2.513vw;
}

.de-ex-about-sec .content-3 .row-3 .column-1 {
    width: 50.8%;
    padding-right: 3.175vw;
}

.de-ex-about-sec .content-3 .row-3 .column-2 {
    width: 49.2%;
    padding-top: 1.653vw;
}

.de-ex-about-sec .content-3 .text-plus {
    font-size: 1.587vw;
}

.de-ex-about-sec .content-3 .title {
    font-size: 4.233vw;
    margin-bottom: 1.323vw;
}

.de-ex-about-sec .content-3 .content-desc {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    margin-right: -1.323vw;

}

.de-ex-about-sec .content-3 .label {
    font-size: 1.587vw;
    margin-bottom: 1.323vw;
}

.de-ex-about-sec .content-3 .img-logo {
    width: 2.249vw;
    margin-bottom: 0.529vw;
}

.de-ex-about-sec .content-4 .content-bg-grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 34.08%, #FFFFFF 93.61%),
        linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 17.92%);

}

.de-ex-about-sec .content-4 {
    padding: 4.299vw 0 0;
}

.de-ex-about-sec .content-4 .content-bg-1 {
    width: 96%;
    top: 4.167vw;
    left: -0.728vw;
    position: absolute;
}

.de-ex-about-sec .content-4 .content-bg-2 {
    opacity: 0.46;
    width: 64.55vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16.931vw;
}

.de-ex-about-sec .content-4 .content-inner {
    padding-top: 17.659vw;
}

.de-ex-about-sec .content-4 .content-heading {
    font-size: 6.769vw;
    line-height: 0.79;
    letter-spacing: -0.039em;
    max-width: 41.865vw;
    margin-bottom: 4.365vw;
    background:
        linear-gradient(180deg, #000000 0%, #828282 100%), linear-gradient(0deg, #000000, #000000);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.rebuilding-species-item {
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
}

.rebuilding-species-item .item-inner {
    padding: 2.381vw 1.72vw 2.381vw 2.381vw;
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rebuilding-species-item .item-label {
    font-size: 1.433vw;
    letter-spacing: 0.028em;
    color: #828282;
    margin-bottom: 1.72vw;
}

.rebuilding-species-item .item-number {
    font-size: 1.433vw;
    line-height: 1.06;
    color: #828282;
    margin-top: 2.183vw;
}

.rebuilding-species-item .item-view {
    font-size: 0.794vw;
    line-height: 1.16;
    padding-bottom: 0.463vw;
    display: block;
}

.rebuilding-species-item .item-extra {
    font-size: 0.794vw;
    line-height: 1.16;
    display: none;
    gap: 1.587vw;
    position: absolute;
    bottom: 4.63vw;
    left: 2.381vw;
    right: -3.968vw;
    z-index: 2;
}

.rebuilding-species-item .item-extra__content {
    display: flex;
    flex-direction: column;
    gap: 1.587vw;
    justify-content: space-between;
}

.rebuilding-species-item .item-img {
    height: 13.492vw;
    width: auto;
    object-fit: cover;
    box-shadow: 0px 39px 18.3px -22px #00000059;
    border-radius: 1.058vw;
}

.rebuilding-species-item .item-plus {
    font-size: 1.587vw;
    color: #000;
}

.rebuilding-species-item.active .item-extra {
    display: flex;

}

.rebuilding-species-item.active .item-label,
.rebuilding-species-item.active .item-number {
    color: #000;
}

.rebuilding-species-item.active .item-inner::after {
    background-color: #7DEA13;
}

.rebuilding-species-item.active .item-view {
    display: none;
}

.rebuilding-species-item .item-title {
    font-size: 2.148vw;
}

.rebuilding-species-item .item-inner::before,
.rebuilding-species-item .item-inner::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.rebuilding-species-item .item-inner::before {
    background: #5E5E5E;
}

.rebuilding-species-item .item-inner::after {
    inset: 1.35px;
    background: #fff;
}

.rebuilding-species-item .item-inner>* {
    position: relative;
    z-index: 2;
}

.rebuilding-species-item .floating-icon {
    position: absolute;
    z-index: 10;
}

.rebuilding-species-item.item-1 {
    width: 29.63vw;
    aspect-ratio: 488 / 557;
}

.rebuilding-species-item.item-1 .item-inner {
    clip-path: polygon(4.8% 0.1%, 95.2% 0.1%, 95.4% 0.1%, 95.7% 0.1%, 95.9% 0.2%, 96.2% 0.2%, 96.4% 0.3%, 96.6% 0.3%, 96.9% 0.4%, 97.1% 0.5%, 97.3% 0.5%, 97.5% 0.6%, 97.7% 0.7%, 97.9% 0.8%, 98.1% 1%, 98.3% 1.1%, 98.5% 1.2%, 98.6% 1.4%, 98.8% 1.5%, 98.9% 1.7%, 99.1% 1.8%, 99.2% 2%, 99.3% 2.2%, 99.4% 2.3%, 99.5% 2.5%, 99.6% 2.7%, 99.7% 2.9%, 99.7% 3.1%, 99.8% 3.3%, 99.8% 3.5%, 99.8% 3.7%, 99.8% 3.9%, 99.8% 68.5%, 99.8% 68.6%, 99.8% 68.7%, 99.8% 68.8%, 99.8% 69%, 99.8% 69.1%, 99.8% 69.2%, 99.7% 69.3%, 99.7% 69.4%, 99.7% 69.5%, 99.6% 69.6%, 99.6% 69.8%, 99.5% 69.9%, 99.5% 70%, 99.4% 70.1%, 99.3% 70.2%, 99.3% 70.3%, 99.2% 70.4%, 99.1% 70.5%, 99% 70.6%, 99% 70.7%, 98.9% 70.8%, 98.8% 70.9%, 98.7% 71%, 98.6% 71.1%, 98.5% 71.1%, 98.4% 71.2%, 98.3% 71.3%, 98.1% 71.4%, 98% 71.5%, 97.9% 71.5%, 86.3% 78.3%, 86.2% 78.3%, 86% 78.4%, 85.9% 78.5%, 85.8% 78.6%, 85.7% 78.7%, 85.6% 78.8%, 85.5% 78.9%, 85.4% 79%, 85.3% 79.1%, 85.2% 79.2%, 85.1% 79.3%, 85% 79.4%, 84.9% 79.5%, 84.8% 79.6%, 84.8% 79.7%, 84.7% 79.8%, 84.6% 79.9%, 84.6% 80%, 84.5% 80.2%, 84.5% 80.3%, 84.4% 80.4%, 84.4% 80.5%, 84.3% 80.6%, 84.3% 80.8%, 84.3% 80.9%, 84.3% 81%, 84.2% 81.1%, 84.2% 81.3%, 84.2% 81.4%, 84.2% 81.5%, 84.2% 96.1%, 84.2% 96.3%, 84.2% 96.5%, 84.2% 96.7%, 84.1% 96.9%, 84.1% 97.1%, 84% 97.3%, 83.9% 97.5%, 83.8% 97.7%, 83.7% 97.8%, 83.6% 98%, 83.5% 98.2%, 83.3% 98.3%, 83.2% 98.5%, 83% 98.6%, 82.9% 98.8%, 82.7% 98.9%, 82.5% 99%, 82.3% 99.2%, 82.1% 99.3%, 81.9% 99.4%, 81.7% 99.5%, 81.5% 99.5%, 81.3% 99.6%, 81% 99.7%, 80.8% 99.7%, 80.5% 99.8%, 80.3% 99.8%, 80.1% 99.9%, 79.8% 99.9%, 79.5% 99.9%, 4.8% 99.9%, 4.6% 99.9%, 4.3% 99.9%, 4.1% 99.8%, 3.8% 99.8%, 3.6% 99.7%, 3.4% 99.7%, 3.1% 99.6%, 2.9% 99.5%, 2.7% 99.5%, 2.5% 99.4%, 2.3% 99.3%, 2.1% 99.2%, 1.9% 99%, 1.7% 98.9%, 1.5% 98.8%, 1.4% 98.6%, 1.2% 98.5%, 1.1% 98.3%, 0.9% 98.2%, 0.8% 98%, 0.7% 97.8%, 0.6% 97.7%, 0.5% 97.5%, 0.4% 97.3%, 0.3% 97.1%, 0.3% 96.9%, 0.2% 96.7%, 0.2% 96.5%, 0.2% 96.3%, 0.2% 96.1%, 0.2% 3.9%, 0.2% 3.7%, 0.2% 3.5%, 0.2% 3.3%, 0.3% 3.1%, 0.3% 2.9%, 0.4% 2.7%, 0.5% 2.5%, 0.6% 2.3%, 0.7% 2.2%, 0.8% 2%, 0.9% 1.8%, 1.1% 1.7%, 1.2% 1.5%, 1.4% 1.4%, 1.5% 1.2%, 1.7% 1.1%, 1.9% 1%, 2.1% 0.8%, 2.3% 0.7%, 2.5% 0.6%, 2.7% 0.5%, 2.9% 0.5%, 3.1% 0.4%, 3.4% 0.3%, 3.6% 0.3%, 3.8% 0.2%, 4.1% 0.2%, 4.3% 0.1%, 4.6% 0.1%);
}

.rebuilding-species-item.item-1 .item-inner::before,
.rebuilding-species-item.item-1 .item-inner::after {
    clip-path: inherit;
}

.rebuilding-species-item.item-2 {
    width: 34.259vw;
    aspect-ratio: 518 / 557;
    margin-left: -3.307vw;
}

.rebuilding-species-item.item-2 .item-inner {
    clip-path: polygon(17.7% 0.1%, 95.8% 0.1%, 96% 0.1%, 96.3% 0.1%, 96.5% 0.2%, 96.7% 0.2%, 96.9% 0.3%, 97.1% 0.3%, 97.3% 0.4%, 97.5% 0.5%, 97.7% 0.5%, 97.9% 0.6%, 98% 0.7%, 98.2% 0.8%, 98.4% 1%, 98.5% 1.1%, 98.7% 1.2%, 98.8% 1.4%, 99% 1.5%, 99.1% 1.7%, 99.2% 1.8%, 99.3% 2%, 99.4% 2.2%, 99.5% 2.3%, 99.6% 2.5%, 99.7% 2.7%, 99.7% 2.9%, 99.8% 3.1%, 99.8% 3.3%, 99.8% 3.5%, 99.9% 3.7%, 99.9% 3.9%, 99.9% 14.1%, 99.9% 14.2%, 99.9% 14.3%, 99.9% 14.4%, 99.8% 14.5%, 99.8% 14.6%, 99.8% 14.7%, 99.8% 14.8%, 99.8% 14.9%, 99.8% 15%, 99.7% 15.1%, 99.7% 15.2%, 99.7% 15.3%, 99.6% 15.4%, 99.6% 15.5%, 99.6% 15.5%, 99.5% 15.6%, 99.5% 15.7%, 99.4% 15.8%, 99.4% 15.9%, 99.3% 16%, 99.3% 16.1%, 99.2% 16.1%, 99.2% 16.2%, 99.1% 16.3%, 99.1% 16.4%, 99% 16.5%, 98.9% 16.5%, 98.9% 16.6%, 98.8% 16.7%, 98.7% 16.8%, 93.4% 21.9%, 93.3% 21.9%, 93.2% 22%, 93.1% 22.1%, 93.1% 22.2%, 93% 22.2%, 92.9% 22.3%, 92.9% 22.4%, 92.8% 22.5%, 92.8% 22.6%, 92.7% 22.7%, 92.7% 22.8%, 92.6% 22.9%, 92.6% 23%, 92.5% 23%, 92.5% 23.1%, 92.4% 23.2%, 92.4% 23.3%, 92.4% 23.4%, 92.3% 23.5%, 92.3% 23.6%, 92.3% 23.7%, 92.2% 23.8%, 92.2% 23.9%, 92.2% 24%, 92.2% 24.1%, 92.2% 24.2%, 92.2% 24.3%, 92.2% 24.4%, 92.1% 24.5%, 92.1% 24.7%, 92.1% 96.1%, 92.1% 96.3%, 92.1% 96.5%, 92.1% 96.7%, 92.1% 96.9%, 92% 97.1%, 91.9% 97.3%, 91.9% 97.5%, 91.8% 97.7%, 91.7% 97.8%, 91.6% 98%, 91.5% 98.2%, 91.4% 98.3%, 91.2% 98.5%, 91.1% 98.6%, 91% 98.8%, 90.8% 98.9%, 90.7% 99%, 90.5% 99.2%, 90.3% 99.3%, 90.1% 99.4%, 90% 99.5%, 89.8% 99.5%, 89.6% 99.6%, 89.4% 99.7%, 89.2% 99.7%, 89% 99.8%, 88.8% 99.8%, 88.5% 99.9%, 88.3% 99.9%, 88.1% 99.9%, 4.2% 99.9%, 4% 99.9%, 3.7% 99.9%, 3.5% 99.8%, 3.3% 99.8%, 3.1% 99.7%, 2.9% 99.7%, 2.7% 99.6%, 2.5% 99.5%, 2.3% 99.5%, 2.1% 99.4%, 2% 99.3%, 1.8% 99.2%, 1.6% 99%, 1.5% 98.9%, 1.3% 98.8%, 1.2% 98.6%, 1% 98.5%, 0.9% 98.3%, 0.8% 98.2%, 0.7% 98%, 0.6% 97.8%, 0.5% 97.7%, 0.4% 97.5%, 0.3% 97.3%, 0.3% 97.1%, 0.2% 96.9%, 0.2% 96.7%, 0.2% 96.5%, 0.1% 96.3%, 0.1% 96.1%, 0.1% 83.5%, 0.1% 83.4%, 0.1% 83.2%, 0.2% 83.1%, 0.2% 83%, 0.2% 82.9%, 0.2% 82.8%, 0.2% 82.6%, 0.3% 82.5%, 0.3% 82.4%, 0.3% 82.3%, 0.4% 82.2%, 0.4% 82%, 0.5% 81.9%, 0.5% 81.8%, 0.6% 81.7%, 0.7% 81.6%, 0.7% 81.5%, 0.8% 81.4%, 0.9% 81.3%, 1% 81.2%, 1% 81.1%, 1.1% 81%, 1.2% 80.9%, 1.3% 80.8%, 1.4% 80.8%, 1.5% 80.7%, 1.6% 80.6%, 1.7% 80.5%, 1.8% 80.4%, 1.9% 80.4%, 11.7% 74.2%, 11.9% 74.2%, 12% 74.1%, 12.1% 74%, 12.2% 73.9%, 12.3% 73.8%, 12.4% 73.7%, 12.5% 73.6%, 12.6% 73.5%, 12.7% 73.4%, 12.8% 73.3%, 12.8% 73.2%, 12.9% 73.1%, 13% 73%, 13.1% 72.9%, 13.1% 72.8%, 13.2% 72.7%, 13.3% 72.6%, 13.3% 72.4%, 13.4% 72.3%, 13.4% 72.2%, 13.5% 72.1%, 13.5% 71.9%, 13.5% 71.8%, 13.6% 71.7%, 13.6% 71.6%, 13.6% 71.4%, 13.6% 71.3%, 13.6% 71.2%, 13.6% 71%, 13.6% 70.9%, 13.6% 3.9%, 13.7% 3.7%, 13.7% 3.5%, 13.7% 3.3%, 13.7% 3.1%, 13.8% 2.9%, 13.9% 2.7%, 13.9% 2.5%, 14% 2.3%, 14.1% 2.2%, 14.2% 2%, 14.3% 1.8%, 14.4% 1.7%, 14.6% 1.5%, 14.7% 1.4%, 14.8% 1.2%, 15% 1.1%, 15.1% 1%, 15.3% 0.8%, 15.5% 0.7%, 15.7% 0.6%, 15.8% 0.5%, 16% 0.5%, 16.2% 0.4%, 16.4% 0.3%, 16.6% 0.3%, 16.8% 0.2%, 17% 0.2%, 17.3% 0.1%, 17.5% 0.1%);

}

.rebuilding-species-item.item-2 .item-inner::before,
.rebuilding-species-item.item-2 .item-inner::after {
    clip-path: inherit;
}

.rebuilding-species-item.item-2 .item-inner .item-top {
    padding-left: 4.894vw;
}

.rebuilding-species-item.item-2 .item-inner .item-view {
    padding-left: 4.894vw;
}

.rebuilding-species-item.item-2 .item-extra {
    left: 7.275vw;
}

.rebuilding-species-item.item-3 {
    width: 32.341vw;
    aspect-ratio: 489 / 557;
    margin-left: -1.323vw;
}

.rebuilding-species-item.item-3 .item-inner {
    clip-path: polygon(12.8% 0.1%, 95.6% 0.1%, 95.8% 0.1%, 96% 0.1%, 96.3% 0.2%, 96.5% 0.2%, 96.7% 0.3%, 96.9% 0.3%, 97.1% 0.4%, 97.3% 0.5%, 97.5% 0.5%, 97.7% 0.6%, 97.9% 0.7%, 98.1% 0.8%, 98.3% 1%, 98.4% 1.1%, 98.6% 1.2%, 98.8% 1.4%, 98.9% 1.5%, 99% 1.7%, 99.2% 1.8%, 99.3% 2%, 99.4% 2.2%, 99.5% 2.3%, 99.6% 2.5%, 99.6% 2.7%, 99.7% 2.9%, 99.8% 3.1%, 99.8% 3.3%, 99.8% 3.5%, 99.9% 3.7%, 99.9% 3.9%, 99.9% 96.1%, 99.9% 96.3%, 99.8% 96.5%, 99.8% 96.7%, 99.8% 96.9%, 99.7% 97.1%, 99.6% 97.3%, 99.6% 97.5%, 99.5% 97.7%, 99.4% 97.8%, 99.3% 98%, 99.2% 98.2%, 99% 98.3%, 98.9% 98.5%, 98.8% 98.6%, 98.6% 98.8%, 98.4% 98.9%, 98.3% 99%, 98.1% 99.2%, 97.9% 99.3%, 97.7% 99.4%, 97.5% 99.5%, 97.3% 99.5%, 97.1% 99.6%, 96.9% 99.7%, 96.7% 99.7%, 96.5% 99.8%, 96.3% 99.8%, 96% 99.9%, 95.8% 99.9%, 95.6% 99.9%, 4.4% 99.9%, 4.2% 99.9%, 4% 99.9%, 3.7% 99.8%, 3.5% 99.8%, 3.3% 99.7%, 3.1% 99.7%, 2.9% 99.6%, 2.7% 99.5%, 2.5% 99.5%, 2.3% 99.4%, 2.1% 99.3%, 1.9% 99.2%, 1.7% 99%, 1.6% 98.9%, 1.4% 98.8%, 1.2% 98.6%, 1.1% 98.5%, 1% 98.3%, 0.8% 98.2%, 0.7% 98%, 0.6% 97.8%, 0.5% 97.7%, 0.4% 97.5%, 0.4% 97.3%, 0.3% 97.1%, 0.2% 96.9%, 0.2% 96.7%, 0.2% 96.5%, 0.1% 96.3%, 0.1% 96.1%, 0.1% 25.5%, 0.1% 25.4%, 0.1% 25.3%, 0.2% 25.2%, 0.2% 25.1%, 0.2% 25%, 0.2% 24.9%, 0.2% 24.8%, 0.2% 24.7%, 0.2% 24.6%, 0.3% 24.5%, 0.3% 24.5%, 0.3% 24.4%, 0.4% 24.3%, 0.4% 24.2%, 0.4% 24.1%, 0.5% 24%, 0.5% 23.9%, 0.5% 23.9%, 0.6% 23.8%, 0.6% 23.7%, 0.7% 23.6%, 0.7% 23.5%, 0.8% 23.5%, 0.9% 23.4%, 0.9% 23.3%, 1% 23.2%, 1% 23.2%, 1.1% 23.1%, 1.2% 23%, 1.2% 22.9%, 7.3% 17%, 7.4% 16.9%, 7.5% 16.8%, 7.6% 16.8%, 7.6% 16.7%, 7.7% 16.6%, 7.8% 16.5%, 7.8% 16.4%, 7.9% 16.4%, 7.9% 16.3%, 8% 16.2%, 8% 16.1%, 8.1% 16%, 8.1% 15.9%, 8.2% 15.8%, 8.2% 15.7%, 8.3% 15.7%, 8.3% 15.6%, 8.3% 15.5%, 8.4% 15.4%, 8.4% 15.3%, 8.4% 15.2%, 8.4% 15.1%, 8.5% 15%, 8.5% 14.9%, 8.5% 14.8%, 8.5% 14.7%, 8.5% 14.6%, 8.5% 14.5%, 8.5% 14.4%, 8.5% 14.3%, 8.5% 3.9%, 8.5% 3.7%, 8.5% 3.5%, 8.6% 3.3%, 8.6% 3.1%, 8.7% 2.9%, 8.7% 2.7%, 8.8% 2.5%, 8.9% 2.3%, 9% 2.2%, 9.1% 2%, 9.2% 1.8%, 9.4% 1.7%, 9.5% 1.5%, 9.6% 1.4%, 9.8% 1.2%, 9.9% 1.1%, 10.1% 1%, 10.3% 0.8%, 10.5% 0.7%, 10.6% 0.6%, 10.8% 0.5%, 11% 0.5%, 11.2% 0.4%, 11.5% 0.3%, 11.7% 0.3%, 11.9% 0.2%, 12.1% 0.2%, 12.3% 0.1%, 12.6% 0.1%);

}

.rebuilding-species-item.item-3 .item-inner .item-top {
    padding-left: 2.778vw;
}

.rebuilding-species-item.item-3 .item-inner .item-view {
    padding-left: 2.778vw;
}


.rebuilding-species-item.item-3 .item-inner::before,
.rebuilding-species-item.item-3 .item-inner::after {
    clip-path: inherit;
}

.rebuilding-species-list {
    margin-bottom: -16.733vw;
}

.why-de-ex-matters-sec {
    padding: 22.487vw 0 6.614vw;
}

.why-de-ex-matters-banner {
    padding: 0 1.323vw;
}

.why-de-ex-matters-banner .banner-box {
    padding: 5.291vw 0 0.331vw;
}

.why-de-ex-matters-banner .banner-box::before,
.why-de-ex-matters-banner .banner-box::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.why-de-ex-matters-banner .banner-box::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.84%, #000000 92.02%),
        linear-gradient(180deg, #7DEA13 0%, #FF7B31 32.03%, rgba(255, 123, 49, 0) 64.07%);
    z-index: 1;
}

.why-de-ex-matters-banner .banner-box::after {
    background: url('../img/de-extinction/grid-3.png') no-repeat center / cover;
    opacity: 0.86;
    z-index: 2;
}

.why-de-ex-matters-banner .box-content {
    z-index: 3;
}

.why-de-ex-matters-banner .box-subheading {
    font-size: 2.185vw;
}

.why-de-ex-matters-banner .box-header {
    max-width: 76.19vw;
    margin-bottom: 9.524vw;
}

.why-de-ex-matters-banner .box-heading {
    font-size: 11.189vw;
    line-height: 0.8;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 32.56%, rgba(255, 123, 49, 0.68) 100%), linear-gradient(0deg, #F4F4F4, #F4F4F4);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.why-de-ex-matters-banner .box-image {
    margin-bottom: -1.984vw;
    margin-top: -3.968vw;
}

.why-de-ex-matters-banner .box-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.66%, #000000 62.33%);
    pointer-events: none;
}

.why-de-ex-matters-sec .fight-back {
    padding: 6.614vw 0 4.762vw;
    margin-top: -15.608vw;
    z-index: 3;
}

.why-de-ex-matters-sec .fight-back .row-1 {
    margin-bottom: 4.365vw;
}

.why-de-ex-matters-sec .fight-back-heading {
    font-size: 11.189vw;
    line-height: 0.8;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 32.56%, rgba(255, 123, 49, 0.68) 100%), linear-gradient(0deg, #F4F4F4, #F4F4F4);
    padding: 1.323vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.why-de-ex-matters-sec .fight-back-bg-grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 61.07%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 67.72%, #000000 104.28%);

}

.why-de-ex-matters-sec .fight-back-heading-wrapper {
    margin-bottom: 2.976vw;
}

.why-de-ex-matters-sec .fight-back-heading-wrapper img {
    width: 29.101vw;
    bottom: -3.571vw;
}

.why-de-ex-matters-sec .fight-back-content {
    gap: 1.19vw;
}

.why-de-ex-matters-sec .fight-back-content .left {
    width: calc(36.63% - 0.595vw);
}

.why-de-ex-matters-sec .fight-back-content .right {
    width: calc(63.37% - 0.595vw);
    padding: 2.513vw 1.323vw 0;
}

.why-de-ex-matters-sec .fight-back-content .right::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/de-extinction/grid-4.png') no-repeat center / cover;
}

.why-de-ex-matters-sec .fight-back-content .label {
    margin-bottom: 2.646vw;
}

.why-de-ex-matters-sec .fight-back-content .title {
    font-size: 5.556vw;
    line-height: 0.74;
}

.why-de-ex-matters-sec .fight-back-content .title span {
    transform: rotate(-4.62deg);
    font-size: 6.964vw;
    line-height: 0.79;
    letter-spacing: -0.12em;
    display: block;
    margin-bottom: -0.661vw;
    margin-top: -0.661vw;
}

.why-de-ex-matters-sec .fight-back-content .right img {
    width: 33.995vw;
    margin-left: 3.704vw;
    margin-top: -3.571vw;
}

.why-de-ex-matters-sec .ecosystem-impact-title {
    max-width: 80.159vw;
    margin-bottom: 0.331vw;
}

.why-de-ex-matters-sec .ecosystem-impact-title .title {
    font-size: 4.431vw;
    line-height: 1.03;
    letter-spacing: 0.013em;
    padding: 5.291vw 0 7.143vw;
}

.why-de-ex-matters-sec .ecosystem-impact-title .text-plus {
    font-size: 2.249vw;
    line-height: 0.647;
}

.why-de-ex-matters-sec .ecosystem-impact .content-1 {
    display: grid;
    grid-template-columns: 14.153vw 44.974vw 29.63vw;
    gap: 1.323vw;
    align-items: flex-end;
    padding-bottom: 1.653vw;
    margin-bottom: 1.984vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-1 .column-1 .image {
    aspect-ratio: 214/392;
}

.why-de-ex-matters-sec .ecosystem-impact .content-1 .column-2 .image {
    aspect-ratio: 680/477;
}

.why-de-ex-matters-sec .ecosystem-impact .content-1 .video {
    aspect-ratio: 448/392;
    border: 1px solid #B3B3B3
}

.why-de-ex-matters-sec .ecosystem-impact .content-1 .video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58.44%, #000000 100%);
    pointer-events: none;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 {
    padding-bottom: 1.852vw;
    margin-bottom: 1.984vw;
    display: flex;
    gap: 1.323vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .left {
    width: 21.759vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right {
    width: calc(100% - 1.323vw - 21.759vw);
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right-side {
    width: 3.307vw;
    border-right: 1px solid #828282;
    padding: 0.86vw 0.529vw 1.587vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right-content {
    width: calc(100% - 3.307vw);
    padding: 1.058vw;
    display: grid;
    grid-template-columns: 1fr 30.291vw;
    grid-gap: 1.852vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right-content__title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;

}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right-content__desc {
    font-size: 4.233vw;
    line-height: 0.859375;
    padding-top: 0.265vw;
    padding-bottom: 1.124vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right-content__image {
    border-radius: 0.794vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right-content__top {
    margin-bottom: 1.852vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right-side span {
    transform: rotate(-90deg);
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right-side__top {
    gap: 2.381vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .critical-loss {
    gap: 0.926vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .critical-loss img {
    width: 2.579vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .critical-loss .line-text {
    font-size: 0.59vw;
    line-height: 1.79;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .critical-loss__label {
    font-size: 0.774vw;
    padding: 0.265vw 0.529vw;
    border: 1px solid #828282;
    margin-top: 0.198vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right-content__stats {
    display: flex;
    flex-direction: column;
    gap: 1.455vw;
    padding-bottom: 0.926vw;

}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right-content__stat-item {
    display: grid;
    grid-template-columns: 10.582vw 1fr;
    align-items: center;
    gap: 1.323vw;
    padding-bottom: 1.257vw;
    border-bottom: 1px solid #828282;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2 .right-content__stat-item .number {
    font-size: 4.233vw;
    line-height: 0.71875;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2.content-reverse {
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2.content-reverse .left {
    width: 28.042vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2.content-reverse .right {
    width: calc(100% - 1.323vw - 28.042vw);
}

.why-de-ex-matters-sec .ecosystem-impact .content-2.content-reverse .right-content {
    grid-template-columns: 25vw 1fr;
    gap: 1.323vw;
    padding-bottom: 2.183vw;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2.content-reverse .right-content__stats {
    padding: 1.786vw 0 0 0;
}

.why-de-ex-matters-sec .ecosystem-impact .content-2.content-reverse .right-content__stat-item {
    grid-template-columns: 8.333vw 1fr;
}

.why-de-ex-matters-sec .ecosystem-impact {
    margin-bottom: 2.91vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure .row-1 {
    font-size: 0.599vw;
    letter-spacing: 0.13em;
    vertical-align: middle;
    padding-top: 1.323vw;
    margin-bottom: 1.984vw;

}

.why-de-ex-matters-sec .ecosystem-under-pressure__box {
    min-height: 36.905vw;
    border-radius: 2.646vw;
    padding: 0 2.646vw;
    margin-bottom: 3.704vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box::before,
.why-de-ex-matters-sec .ecosystem-under-pressure__box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box::before {
    background: linear-gradient(180deg, rgba(151, 151, 151, 0) 70.23%, #FF7B31 105.6%);
    mix-blend-mode: exclusion;
    z-index: 1;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box::after {
    background: url('../img/2000W_grid.png') no-repeat center / cover;
    z-index: 2;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box .box-bg .img-main {
    border-radius: 2.646vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box .box-bg .img-sub {
    top: -5.622vw;
    border-radius: 2.646vw;
    z-index: 5;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box .box-inner {
    z-index: 3;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box .box-title {
    font-size: 6.283vw;
    line-height: 0.83;
    background:
        linear-gradient(180deg, #FFFFFF 50%, #B3B3B3 122.78%), linear-gradient(0deg, #F4F4F4, #F4F4F4);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box .cs-warning-box {
    z-index: 3;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box .warning-icon {
    width: 1.653vw;
    position: absolute;
    z-index: 3;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box .warning-icon.icon-1 {
    top: 2.249vw;
    left: 2.646vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box .warning-icon.icon-2 {
    top: 2.249vw;
    right: 2.646vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box .warning-icon.icon-4 {
    bottom: 2.249vw;
    left: 2.646vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__box .warning-icon.icon-3 {
    bottom: 2.249vw;
    right: 2.646vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.323vw;
    margin-bottom: 5.291vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__stats .stat-box {
    display: flex;
    min-height: 12.698vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__stats .stat-box .line-text {
    font-size: 0.546vw;
    line-height: 1.7;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__stats .stat-box__left {
    width: 2.381vw;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    gap: 2.381vw;
    padding: 0.463vw 0;
    align-items: center;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__stats .stat-box__right {
    width: calc(100% - 2.381vw);
    padding-left: 1.124vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.116vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__stats .stat-box__left span {
    transform: rotate(-90deg);
    font-size: 0.489vw;
    letter-spacing: 0.02em;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__stats .stat-box__top {
    display: flex;
    gap: 0.992vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__stats .stat-box__number {
    font-size: 6.636vw;
    letter-spacing: -0.05em;
    flex: 1;
    margin-top: -0.926vw;
}

.why-de-ex-matters-sec .ecosystem-under-pressure__stats .stat-box__desc {
    font-size: 1.467vw;
}

.why-de-ex-matters__messsage .row-1 {
    margin-bottom: 4.63vw;
}

.why-de-ex-matters__messsage .row-2 {
    gap: 1.19vw;
}

.why-de-ex-matters__messsage .row-2 .left {
    width: 50%;
}

.why-de-ex-matters__messsage .row-2 .right {
    width: 50%;
}

.why-de-ex-matters__messsage .row-2 .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    max-width: 35.053vw;
}

.why-de-ex-matters__messsage .row-2 .desc {
    font-size: 1.587vw;
    line-height: 1.08;
    max-width: 35.053vw;
    letter-spacing: 0.01875em;

}

.turning-conservation-up-sec {}

.turning-conservation-up-sec .subheading {
    font-size: 2.185vw;
}

.turning-conservation-up__banner {
    padding: 12.103vw 1.323vw 22.95vw;
}

.turning-conservation-up__banner::before,
.turning-conservation-up__banner::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.turning-conservation-up__banner::before {
    background:
        linear-gradient(180deg, #000000 3.35%, rgba(255, 255, 255, 0) 17.5%), linear-gradient(180deg, #7DEA13 15.28%, rgba(255, 255, 255, 0) 69.02%);
    z-index: 1;
}

.turning-conservation-up__banner::after {
    background: url('../img/de-extinction/grid-5.png') no-repeat center / cover;
    opacity: 0.57;
    mix-blend-mode: exclusion;
}

.turning-conservation-up__banner .banner-header {
    padding: 0 2.646vw;
    margin-bottom: 5.489vw;
}

.turning-conservation-up__banner .heading {
    font-size: 11.189vw;
    line-height: 0.8;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 32.56%, rgba(125, 234, 19, 0.68) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 8.796vw;
}

.turning-conservation-up__banner .banner-content {
    z-index: 3;
}

.turning-conservation-up__banner .banner-title {
    font-size: 6.614vw;
    padding: 2.183vw 0 3.175vw;
}

.turning-conservation-up__banner .banner-title__border {
    width: 1.124vw;
    height: 1.124vw;
    position: absolute;
    border: 1px solid #fff;
}

.turning-conservation-up__banner .banner-title__border.top-left {
    top: 0;
    left: 2.91vw;
    border-bottom: none;
    border-right: none;
}

.turning-conservation-up__banner .banner-title__border.top-right {
    top: 0;
    right: 2.91vw;
    border-bottom: none;
    border-left: none;
}

.turning-conservation-up__banner .banner-title__border.bottom-left {
    bottom: 0;
    left: 2.91vw;
    border-top: none;
    border-right: none;
}

.turning-conservation-up__banner .banner-title__border.bottom-right {
    bottom: 0;
    right: 2.91vw;
    border-top: none;
    border-left: none;
}

.turning-conservation-up__banner .banner-title__border.border-inner.top-left {
    left: 40%;
}

.turning-conservation-up__banner .banner-title__border.border-inner.top-right {
    right: 40%;
}

.turning-conservation-up__banner .banner-title__border.border-inner.bottom-left {
    left: 40%;
}

.turning-conservation-up__banner .banner-title__border.border-inner.bottom-right {
    right: 40%;
}

.turning-conservation-up__intro {
    margin-top: -12.897vw;
    margin-bottom: 3.439vw;
}

.turning-conservation-up__intro .intro-box {
    min-height: 32.143vw;
    padding: 6.614vw 2.646vw;
}

.turning-conservation-up__intro .intro-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.turning-conservation-up__intro .intro-box-title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    max-width: 56.415vw;
}


.turning-conservation-up-sec .new-tools-heading {
    font-size: 18.629vw;
    letter-spacing: 0.03em;
    display: flex;
    gap: 2.976vw;
    margin: -1.058vw -1.058vw -0.661vw;
}

.turning-conservation-up-sec .new-tools-list {
    padding-top: 2.116vw;
    column-count: 2;
    column-gap: 1.653vw;
}

.turning-conservation-up-sec .new-tools-card {
    min-height: 40.741vw;
    background-color: #7DEA13;
    break-inside: avoid;
    margin-bottom: 1.587vw;
    padding: 2.646vw 1.852vw 2.249vw 2.513vw;
    border-radius: 1.587vw;
    border: 1px solid #B3B3B3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-family: 'NB Architekt Std';
    overflow: hidden;
}

.turning-conservation-up-sec .new-tools-card.card-lg {
    min-height: 49.008vw;
}

.turning-conservation-up-sec .new-tools-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/de-extinction/grid-6.png') no-repeat center / cover;
    pointer-events: none;
}

.turning-conservation-up-sec .new-tools-card .card-title {
    font-family: 'Telegraf';
    font-weight: 700;
    font-size: 4.489vw;
    line-height: 0.79;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1.389vw;
}

.turning-conservation-up-sec .new-tools-card .card-bottom {
    display: flex;
    align-items: flex-end;
    gap: 3.836vw;
    position: relative;
    justify-content: space-between;
}

.turning-conservation-up-sec .new-tools-card .card-number {
    font-size: 4.233vw;
    flex-shrink: 0;
}

.turning-conservation-up-sec .new-tools-card .card-image {
    border-radius: 1.058vw;
    overflow: hidden;
    height: 20.172vw;
    position: relative;
    margin-bottom: 2.183vw;
}

.turning-conservation-up-sec .new-tools-card .card-video {
    border-radius: 1.058vw;
    overflow: hidden;
    height: auto;
    position: relative;
    mix-blend-mode: multiply;
    transform: rotateY(180deg);
    margin-bottom: 1.918vw;
}

.turning-conservation-up-sec .new-tools-card .card-content {
    border: 1px solid #585858;
    background-color: rgba(88, 88, 88, 0.49);
    backdrop-filter: blur(5.099999904632568px);
    -webkit-backdrop-filter: blur(5.099999904632568px);
    border-radius: 1.058vw;
    padding: 1.521vw 1.257vw 1.984vw 1.984vw;
    color: #fff;
    flex: 1;
    min-height: 12.302vw;
    overflow: hidden;
    position: relative;
}

.turning-conservation-up-sec .new-tools-card .card-content::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
}

.turning-conservation-up-sec .new-tools-card .card-content-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.turning-conservation-up-sec .new-tools-card .card-content-lg {
    min-height: 20.635vw;
}

.turning-conservation-up-sec .new-tools-card .card-content__top {
    display: flex;
    gap: 1.984vw;
    position: relative;
    z-index: 2;
}

.turning-conservation-up-sec .new-tools-card .card-content__bottom {
    margin-top: 1.852vw;
    position: relative;
    z-index: 2;
}

.turning-conservation-up-sec .new-tools-card .card-desc {
    font-size: 1.587vw;
    flex: 1;
}

.turning-conservation-up-sec .new-tools-card .card-arrow {
    font-family: 'Telegraf';
    font-size: 1.521vw;
    line-height: 0.87;
    letter-spacing: 0.02em;
}

.turning-conservation-up-sec .new-tools-card.card-1 .card-content__bottom .image {
    width: 17.328vw;
    margin-left: auto;
    margin-right: -3.175vw;
}

.turning-conservation-up-sec .new-tools-card.card-1 .card-content {
    border-color: #B3B3B3;
}

.turning-conservation-up-sec .new-tools-card.card-2 {
    background-color: #383838;
    color: #fff;
}

.turning-conservation-up-sec .new-tools-card.card-2 .card-title {
    margin-bottom: 2.249vw;
}

.turning-conservation-up-sec .new-tools-card.card-3 {
    background-color: #D9D9D9;
}

.turning-conservation-up-sec .new-tools-card.card-4 {
    background-color: #FF7B31;
}

.turning-conservation-up-sec .new-tools-card.card-4 .card-bottom {
    flex-direction: row-reverse;
}

.turning-conservation-up-sec .new-tools-card.card-4 .card-content::before {
    background:
        linear-gradient(180deg, #FF7B31 20.35%, rgba(255, 123, 49, 0) 46.77%);

}

.turning-conservation-up-sec .new-tools-card.card-5 {
    background-color: #6A5F40;
}

.turning-conservation-up-sec .new-tools-card.card-5 .card-bottom {
    flex-direction: row-reverse;
}

.turning-conservation-up-sec .new-tools-card.card-5 .card-content {
    border-color: #FFF;
}

.turning-conservation-up-sec .new-tools-card.card-5 .card-content::before {

    background:
        linear-gradient(180deg, #6A5F40 20.35%, rgba(106, 95, 64, 0) 100%);

}

.turning-conservation-up-sec .new-tools-card.card-6 {
    background-color: #ffffff;
}

.turning-conservation-up-sec .new-tools-card.card-6 .card-video {
    margin: -1.587vw 0;
}

.turning-conservation-up-sec .new-tools-card.card-7 {
    background-color: #000000;
    color: #fff;
}

.turning-conservation-up-sec .new-tools-card.card-7 .card-video {
    margin: -1.587vw 0;
    height: 22.817vw;
    mix-blend-mode: unset;
}

.turning-conservation-up-sec .new-tools-card.card-8 {
    background-color: #9940DD;
}

.turning-conservation-up-sec .new-tools-card.card-8 .card-content__top {
    flex-direction: column-reverse;
}

.turning-conservation-up-sec .new-tools-card.card-8 .card-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.turning-conservation-up-sec .rewilding-box {
    background-color: #000;
    border: 1px solid #B3B3B3;
    padding: 2.513vw 2.513vw 3.175vw 2.513vw;
    margin-bottom: 2.116vw;
}

.turning-conservation-up-sec .rewilding-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/2000W_grid.png') no-repeat center / cover;
    pointer-events: none;
}

.turning-conservation-up-sec .rewilding-box .box-inner {
    gap: 2.844vw;
}

.turning-conservation-up-sec .rewilding-box .box-left {
    width: 29.63vw;
}

.turning-conservation-up-sec .rewilding-box .box-right {
    width: calc(100% - 29.63vw - 2.844vw);
    margin-top: 0.661vw;
}

.turning-conservation-up-sec .rewilding-box .box-title {
    font-size: 4.489vw;
    line-height: 0.8;
    margin-bottom: 1.852vw;
}

.turning-conservation-up-sec .rewilding-box .box-content {
    border: 1px solid #B3B3B3;
    background-color: rgba(88, 88, 88, 0.49);
    backdrop-filter: blur(5.099999904632568px);
    -webkit-backdrop-filter: blur(5.099999904632568px);
    gap: 1.058vw;
    padding: 0.86vw 2.513vw 2.513vw 2.513vw;
    margin-bottom: 2.513vw;
}

.turning-conservation-up-sec .rewilding-box .box-arrow {
    font-size: 1.521vw;
    line-height: 0.87;
    letter-spacing: 0.02em;
}

.turning-conservation-up-sec .rewilding-box .box-desc {
    font-size: 1.587vw;
}

.turning-conservation-up-sec .rewilding-box .box-btn .arrow {
    color: #7DEA13;
    border-color: #7DEA13;
}

.turning-conservation-up-sec .rewilding-box .box-btn:hover .arrow {
    background-color: #7DEA13 !important;
    color: #fff !important;
}

.turning-conservation-up-sec .rewilding-box .box-btn span {
    max-width: 9.259vw;
}

.turning-conservation-up-sec .rewilding-box .box-logo {
    width: 2.183vw;
}

.turning-conservation-up-sec .gene-editing-solution {
    padding-top: 2.116vw;
    margin-bottom: 8.069vw;
}

.turning-conservation-up-sec .gene-editing-solution .column-1 {
    width: 33.82%;
    padding-right: 1.19vw;
}

.turning-conservation-up-sec .gene-editing-solution .column-2 {
    width: 38%;
    padding-right: 1.19vw;
}

.turning-conservation-up-sec .gene-editing-solution .column-3 {
    width: 28.18%;
}

.turning-conservation-up-sec .gene-editing-solution .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;

}

.turning-conservation-up-sec .gene-editing-solution .title span+span {
    margin-top: 1em;
    display: block;
}

.turning-conservation-up-sec .gene-editing-solution .desc {
    max-width: 30.82vw;
}


.turning-conservation-up-sec .gene-editing-solution .btn-primary .arrow {
    background-color: transparent;
}

.turning-conservation-up-sec .science-highlights {
    padding-bottom: 7.804vw;
}

.turning-conservation-up-sec .science-highlights-bg-grid {
    top: 1.852vw;
}

.turning-conservation-up-sec .science-highlights-bg-grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(180deg, rgba(255, 255, 255, 0) 34.08%, #FFFFFF 93.61%),
        linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 17.92%);

}

.turning-conservation-up-sec .science-highlights .title {
    font-size: 6.206vw;
    line-height: 0.85;
    letter-spacing: 0.01em;
    background: linear-gradient(180deg, #000000 16.62%, #9940DD 96.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 2.712vw;
}

.turning-conservation-up-sec .science-highlights .desc {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    max-width: 75.728vw;
}

.turning-conservation-up-sec .science-highlights .label {
    font-size: 1.438vw;
    line-height: 1.33;
    letter-spacing: 0.13em;
    margin: 2.249vw 0;
    padding: 0.728vw 2.447vw;
}

.turning-conservation-up-sec .science-highlights .label::before,
.turning-conservation-up-sec .science-highlights .label::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0.529vw;
    border: 0.132vw solid #979797;
}

.turning-conservation-up-sec .science-highlights .label::before {
    left: 0;
    border-right: none;
}

.turning-conservation-up-sec .science-highlights .label::after {
    right: 0;
    border-left: none;
}

.de-ex-hiw {
    padding: 48px 0;
    border-top-left-radius: 3.175vw;
    border-top-right-radius: 3.175vw;
}

.de-ex-hiw-inner {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    user-select: none;
    cursor: default;
}

.de-ex-hiw-images {
    position: absolute;
    inset: 0;
}

.de-img {
    position: absolute;
    inset: 0;
}

.de-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
}

/* clip mặc định */

.img-1 {
    clip-path: polygon(0 0, 20% 0, 20% 100%, 0 100%);
}

.img-2 {
    clip-path: polygon(20% 0, 40% 0, 40% 100%, 20% 100%);
}

.img-3 {
    clip-path: polygon(40% 0, 60% 0, 60% 100%, 40% 100%);
}

.img-4 {
    clip-path: polygon(60% 0, 80% 0, 80% 100%, 60% 100%);
}

.img-5 {
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%);
}


/* ========================= */

.de-ex-hiw-dividers {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 50;
}

.de-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    pointer-events: auto;
}

.divider-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, .35);
}

.divider-handle {
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 90px;
    border-radius: 50px;
    background: #9EFF3C;
    cursor: ew-resize;
    box-shadow: 0 0 20px rgba(158, 255, 60, .35);
}


/* mặc định */

.divider-1 {
    left: 20%;
}

.divider-2 {
    left: 40%;
}

.divider-3 {
    left: 60%;
}

.divider-4 {
    left: 80%;
}

.divider-5 {
    left: 100%;
}


/* content */

.de-ex-hiw-content {
    position: absolute;
    inset: 0;
    z-index: 100;
    pointer-events: none;
}

.de-title {
    position: absolute;
    top: 40px;
    left: 40px;
}

.de-title h2 {
    color: #9EFF3C;
    font-size: 70px;
    line-height: 1;
    margin: 0;
}

.de-levels {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.level {
    position: absolute;
    top: 15px;
    transform: translateX(-50%);
}

.level span {
    writing-mode: vertical-rl;
    color: #fff;
    font-size: 12px;
    letter-spacing: 3px;
}

.level:nth-child(1) {
    left: 20%;
}

.level:nth-child(2) {
    left: 40%;
}

.level:nth-child(3) {
    left: 60%;
}

.level:nth-child(4) {
    left: 80%;
}

.level:nth-child(5) {
    left: 100%;
}