.moa-hub-page .moa-hero .mammoth-database {
    max-width: 467px;
}

.moa-hub-page .navigate-woolly p {
    mix-blend-mode: difference;
    color: rgba(255, 255, 255, 0.75);
}

.moa-hub-page .reviving-mammoth-sec .row-2 {
    line-height: 1.375;
    margin-bottom: 78px;
}

.moa-hub-page .reviving-mammoth-sec .row-2 .column {
    gap: 10px 108px;
}

.moa-hub-page .reviving-mammoth-sec .row-2 .square {
    margin-top: 5px;
}