.moa-hub-page .moa-hero .mammoth-database {
    max-width: 30.886vw;
}

.moa-hub-page .reviving-mammoth-sec .row-2 {
    line-height: 1.375;
    margin-bottom: 5.159vw;
}

.moa-hub-page .reviving-mammoth-sec .row-2 .column {
    gap: 0.661vw 7.143vw;
}

.moa-hub-page .reviving-mammoth-sec .row-2 .square {
    margin-top: 0.331vw;
}

.moa-hub-page .explore-key-swiper .bg-media::before {
    background: rgba(0, 0, 0, 0.2);
}

.moa-hub-page .explore-key-swiper .bg-media::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: rgba(108, 108, 108, 0.2);
}

.moa-hub-page .explore-key-swiper .swiper-slide.swiper-slide-active .bg-media::after {
    display: none;
}

.moa-hub-page .explore-key-swiper .swiper-slide.swiper-slide-active .bg-media::before {
    background: rgba(0, 0, 0, 0.14);

}

.moa-hub-page .moa-about-img {
    max-width: unset;
    width: calc(100% + 0.661vw);
    left: -1%;
    top: 48.5%;
}

.moa-hub-page .moa-about-img img {
    margin: 0;
}

.moa-hub-page .earth-friend-content .inner {
    padding-bottom: 43.585vw;
}

.moa-hub-page .moa-about-sec::before {
    height: 46.561vw;
    left: 1.323vw;
    width: calc(100% - 2.646vw);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.04%, #000000 93.71%);
}

.moa-hub-page .science-action-sec .inner-global {
    margin-bottom: 19.114vw;
}

.moa-hub-page .science-action-content .right .content .video {
    aspect-ratio: 1;
}

.moa-hub-page .science-action-content .right .title {
    padding-bottom: 0;
}

.moa-hub-page .science-action-content .video-info {
    top: 55% !important;
}

.moa-hub-page .science-action-content .right .content {
    margin-bottom: 0.794vw;
}

.moa-hub-page .science-action-content .left .title {
    margin-bottom: 13.161vw;
}

.moa-hub-page .advisors-header .row-1 {
    margin-bottom: 2.513vw;
}

.moa-hub-page .advisors-header .row-2 {
    margin-bottom: 3.307vw;
}

.moa-hub-page .advisor-swiper {
    padding-bottom: 0.992vw;
}

.moa-hub-page .advisors-sec {
    padding-bottom: 4.762vw;
}