.moa-hub-page .moa-hero .mammoth-database {
    max-width: 30.886vw;
}

.moa-hub-page .reviving-mammoth-sec .row-2 {
    line-height: 1.375;
    margin-bottom: 5.159vw;
}

.moa-hub-page .reviving-mammoth-sec .row-2 .column {
    gap: 0.661vw 7.143vw;
}

.moa-hub-page .reviving-mammoth-sec .row-2 .square {
    margin-top: 0.331vw;
}

.moa-hub-page .explore-key-swiper .bg-media::before {
    background: rgba(0, 0, 0, 0.2);
}

.moa-hub-page .explore-key-swiper .bg-media::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: rgba(108, 108, 108, 0.2);
}

.moa-hub-page .explore-key-swiper .swiper-slide.swiper-slide-active .bg-media::after {
    display: none;
}

.moa-hub-page .explore-key-swiper .swiper-slide.swiper-slide-active .bg-media::before {
    background: rgba(0, 0, 0, 0.14);

}

.moa-hub-page .moa-about-img {
    max-width: unset;
    width: calc(100% + 0.661vw);
    left: -1%;
    top: 48.5%;
}

.moa-hub-page .moa-about-img img {
    margin: 0;
}

.moa-hub-page .earth-friend-content .inner {
    padding-bottom: 43.585vw;
}

.moa-hub-page .moa-about-sec::before {
    height: 46.561vw;
    left: 1.323vw;
    width: calc(100% - 2.646vw);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.04%, #000000 93.71%);
}

.moa-hub-page .science-action-sec .inner-global {
    margin-bottom: 19.114vw;
}

.moa-hub-page .science-action-content .right .content .video {
    aspect-ratio: 1;
}

.moa-hub-page .science-action-content .right .title {
    padding-bottom: 0;
}

.moa-hub-page .science-action-content .video-info {
    top: 55% !important;
}

.moa-hub-page .science-action-content .right .content {
    margin-bottom: 0.794vw;
}

.moa-hub-page .science-action-content .left .title {
    margin-bottom: 13.161vw;
}

.moa-hub-page .advisors-header .row-1 {
    margin-bottom: 2.513vw;
}

.moa-hub-page .advisors-header .row-2 {
    margin-bottom: 3.307vw;
}

.moa-hub-page .advisor-swiper {
    padding-bottom: 0.992vw;
}

.moa-hub-page .advisors-sec {
    padding-bottom: 4.762vw;
}

.moa-hub-page .testimonial-white-sec .testimonial-main>.left .quote-title {
    font-size: 1.323vw;
    letter-spacing: 0.022em;
}

.moa-hub-page .testimonial-white-sec .testimonial-main>.left .row-2 {
    margin-bottom: 0.794vw;

}

.moa-hub-page .testimonial-main>.right::after {
    background: radial-gradient(160.77% 55.4% at 51.75% 100%, #7DEA13 0%, rgba(125, 234, 19, 0) 70.91%);
}

.moa-hub-page .moa-habitat-sec .map-wrapper .subtitle-4 {
    color: #B3B3B3 !important;
}

.moa-hub-page .woolly-mammoths-sec .bg-1::before {
    display: none;
}

.moa-hub-page .moa-habitat-sec::before {
    display: none;
}

.moa-hub-page .moa-habitat-content::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 32.738vw;
    height: 28.505vw;
    background: linear-gradient(270deg, #9940DD 2.44%, rgba(255, 123, 49, 0.8) 20.39%, rgba(255, 255, 255, 0) 77.71%);
    mix-blend-mode: unset;
}

.moa-habitat-sec .distribution {
    display: grid;
    grid-template-columns: 1fr 27.712vw;
}

.moa-habitat-sec .distribution .left {
    background-color: #000;
    padding: 3.571vw 3.439vw 3.307vw;
}

.moa-habitat-sec .distribution .left::before,
.moa-habitat-sec .distribution .left::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.moa-habitat-sec .distribution .left::before {
    background: url('../img/moa-hub/bg-1.png') no-repeat center / cover;
    opacity: 0.3;
}

.moa-habitat-sec .distribution .left::after {
    background: url('../img/moa-hub/grid-1.png') no-repeat center / cover;
    mix-blend-mode: difference;
}

.moa-habitat-sec .distribution .left-content {
    gap: 3.968vw;
    width: 50%;
    padding-right: 3.968vw;
}

.moa-habitat-sec .distribution .left-image {
    width: 50%;
}

.moa-habitat-sec .distribution .left-image .image-wrapper {
    padding: 1.323vw;
    width: 27.447vw;
    height: 26.587vw;
}

.moa-habitat-sec .distribution .left-image .image-wrapper .border-img {
    width: 1.587vw;
    height: 1.587vw;
    border: 1px solid #B3B3B3;
}

.moa-habitat-sec .distribution .left-image .image-wrapper .border-img.border-top-left {
    border-right: none;
    border-bottom: none;
}

.moa-habitat-sec .distribution .left-image .image-wrapper .border-img.border-top-right {
    border-left: none;
    border-bottom: none;
}

.moa-habitat-sec .distribution .left-image .image-wrapper .border-img.border-bottom-left {
    border-top: none;
    border-right: none;
}

.moa-habitat-sec .distribution .left-image .image-wrapper .border-img.border-bottom-right {
    border-top: none;
    border-left: none;
}

.moa-habitat-sec .distribution .left-image .image {
    border: 1px solid #5E5E5E;
    padding: 1.389vw 1.257vw 1.257vw;
}

.moa-habitat-sec .distribution .left-image .image-caption {
    position: absolute;
    z-index: 3;
    top: 1.587vw;
    left: 1.587vw;
}


.moa-habitat-sec .distribution .left-image .image-caption .line-text {
    font-size: 0.661vw;
    line-height: 1.4;
    letter-spacing: 0.017em;
}

.moa-habitat-sec .distribution .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    max-width: 20.172vw;
}

.moa-hub-page .moa-habitat-grid {
    height: 109.3% !important;
}

.distribution-item {
    font-size: 1.323vw;
    line-height: 96%;
    color: #5E5E5E;
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
}

.distribution-item::before {
    transition: all 0.4s ease;
    content: "/ ";
}

.distribution-item.active,
.distribution-item:hover {
    color: #FFFFFF;
}

.distribution-item.active::before {
    content: ">>>>> ";
}

.moa-habitat-sec .distribution .text-habitat {
    position: absolute;
    top: 50%;
    right: -8.73vw;
    font-size: 0.992vw;
    letter-spacing: 0.02em;
    transform: translateY(-50%) rotate(-90deg);
    white-space: nowrap;
    z-index: 2;
}

.moa-habitat-sec .distribution .right {
    padding: 4.63vw 0 0 1.918vw;
}

.moa-habitat-sec .geological-distribution-title {
    max-width: 7.407vw;
    margin-bottom: 4.365vw;
}

.moa-habitat-sec .geological-distribution-image {
    width: 16.534vw;
    height: 22.354vw;
    display: flex;
    align-items: end;
    justify-content: end;
}

.moa-habitat-sec .geological-distribution-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #9940DD;
    mix-blend-mode: exclusion;
    z-index: 1;
}

.moa-habitat-sec .geological-distribution-image .img-main {
    mix-blend-mode: luminosity;
    width: 11.772vw;
    height: 17.063vw;
}

.moa-hub-page .moa-conservation-impact-sec .conservation-impact-header {
    padding-bottom: 22.156vw;
    padding-top: 18.519vw;
    margin-bottom: 5.556vw;
}

.moa-hub-page .moa-conservation-impact-sec .conservation-impact-header .heading {
    padding-top: 0;
    margin-top: 6.68vw;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 32.56%, rgba(106, 95, 64, 0.78) 76.66%), linear-gradient(0deg, #FFFFFF, #FFFFFF);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.moa-hub-page .moa-conservation-impact-bg {
    top: 0.794vw;
}

.moa-hub-page .conservation-impact-bottom .row-3 .text-2 {
    margin-top: 7.54vw;
}

.moa-hub-page .conservation-impact-bottom .row-3 {
    padding-bottom: 5.291vw;
}