.news-hero {
    padding: 160px 0 80px;
}


.news-hero .heading {
    font-size: 277.58px;
    line-height: 200px;
    color: #FDFDFD;
    max-width: 955px;
    position: relative;
}

.news-hero .target-icon {
    width: 55px;
    mix-blend-mode: soft-light;
}

.news-hero .target-icon.icon-1 {
    left: 64px;
    top: 130px;
}

.news-hero .target-icon.icon-2 {
    right: 64px;
    top: 130px;
}

.news-hero .target-icon.icon-3 {
    left: 64px;
    bottom: 87px;
}

.news-hero .target-icon.icon-4 {
    right: 64px;
    bottom: 87px;
}

.news-hero .deco-img {
    width: 26px;
    top: 130px;
    mix-blend-mode: soft-light;
}

.news-hero .deco-img.deco-1 {
    left: -10px;
}

.news-hero .deco-img.deco-2 {
    right: -10px;
    transform: rotate(180deg);
}

.news-hero .ruler-img {
    mix-blend-mode: soft-light;
    bottom: -14px;
    left: 0;
    width: 100%;
}

.news-features-sec {
    padding: 24px 8px 16px;
}

.news-features-main {
    min-height: 1536px;
    border-radius: 32px;
    padding: 50px 56px 100px;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 73.97%), linear-gradient(0deg, #7DEA13, #7DEA13);

}

.news-features-main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/news/grid-1.png') no-repeat center / cover;
    opacity: 0.6;
    mix-blend-mode: exclusion;

}

.news-features-header {
    padding-bottom: 35px;
}

.news-features-header .left {
    max-width: 450px;
}

.news-features-header .right {
    max-width: 450px;
}

.news-features-subtitle {
    font-size: 40px;
    letter-spacing: 0.011em;
    margin-bottom: 26px;
}

.news-features-heading {
    font-size: 162px;
    background:
        linear-gradient(180deg, #000000 58.18%, #828282 100%), linear-gradient(0deg, #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-top: 10px;
    margin-bottom: -5px;
}

.news-features-video-wrapper {
    position: relative;
    padding: 14px;
    aspect-ratio: 1386/642;
    margin-bottom: 40px;
}

.news-features-video-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #989492;

    -webkit-mask: url('../img/news/mask-1.svg') center/100% 100% no-repeat;
    mask: url('../img/news/mask-1.svg') center/100% 100% no-repeat;

    z-index: -1;
}

.news-features-video {
    position: relative;
    width: 100%;
    height: 100%;

    clip-path: polygon(99.9% 0.1%,
            99.9% 99.9%,
            0% 99.9%,
            0% 9%,
            4.2% 0.1%);

    overflow: hidden;
}

.news-features-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.news-features-video .video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92px;
    height: 92px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: .3s;
    z-index: 10;
}

.news-features-video .video-play:hover {
    transform: translate(-50%, -50%) scale(1.08);
}

.news-features-video .play-icon {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 26px solid #7cff00;
}

.news-features-video.playing .video-play {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.news-features-video .video-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17.47px;
    letter-spacing: 0.18em;
    z-index: 5;
}

.news-features-video .video-text-left {
    left: 17%;
}

.news-features-video .video-text-right {
    right: 20%;
}

.news-features-video .video-deco {
    position: absolute;
    color: #fff;
    z-index: 5;
}

.news-features-video .square {
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
}

.news-features-video .text-plus {
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    font-size: 26.59px;
}

.news-features-video.playing .text-plus,
.news-features-video.playing .square {
    display: none;
}

.news-features-sec .row-1 .text-plus {
    font-size: 24px;
    line-height: 22px;
    top: 50%;
    transform: translateY(-50%);
}

.news-features-sec .row-1 .text-plus.text-left {
    left: -40px;
}

.news-features-sec .row-1 .text-plus.text-right {
    right: -40px;
}