.news-hero {
    padding: 10.582vw 0 5.291vw;
}


.news-hero .heading {
    font-size: 18.358vw;
    line-height: 0.72;
    color: #FDFDFD;
    max-width: 63.161vw;
    position: relative;
}

.news-hero .target-icon {
    width: 3.638vw;
    mix-blend-mode: soft-light;
}

.news-hero .target-icon.icon-1 {
    left: 4.233vw;
    top: 8.598vw;
}

.news-hero .target-icon.icon-2 {
    right: 4.233vw;
    top: 8.598vw;
}

.news-hero .target-icon.icon-3 {
    left: 4.233vw;
    bottom: 5.754vw;
}

.news-hero .target-icon.icon-4 {
    right: 4.233vw;
    bottom: 5.754vw;
}

.news-hero .deco-img {
    width: 1.72vw;
    top: 8.598vw;
    mix-blend-mode: soft-light;
}

.news-hero .deco-img.deco-1 {
    left: -0.661vw;
}

.news-hero .deco-img.deco-2 {
    right: -0.661vw;
    transform: rotate(180deg);
}

.news-hero .ruler-img {
    mix-blend-mode: soft-light;
    bottom: -0.926vw;
    left: 0;
    width: 100%;
}

.news-features-sec {
    padding: 1.587vw 0.529vw 1.058vw;
}

.news-features-main {
    border-radius: 2.116vw;
    padding: 3.307vw 3.704vw 2.91vw;
    background-color: #7DEA13;
}

.news-features-bg {
    max-width: unset;
    width: 119%;
    left: -10%;
    top: 14%;
    mix-blend-mode: difference;
    opacity: 0.3;
}

.news-features-main::after {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 73.97%);
    pointer-events: none;
}

.news-features-main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/news/grid-1.png') no-repeat center / cover;
    opacity: 0.6;
    pointer-events: none;
    mix-blend-mode: exclusion;

}

.news-features-header {
    padding-bottom: 2.315vw;
}

.news-features-header .left {
    max-width: 29.762vw;
}

.news-features-header .right {
    max-width: 29.762vw;
}

.news-features-subtitle {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    margin-bottom: 1.72vw;
}

.news-features-heading {
    font-size: 10.714vw;
    background:
        linear-gradient(180deg, #000000 58.18%, #828282 100%), linear-gradient(0deg, #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-top: 0.661vw;
    margin-bottom: -0.331vw;
}

.news-features-video-wrapper {
    position: relative;
    padding: 0.926vw;
    aspect-ratio: 1386/642;
    margin-bottom: 2.646vw;
}

.news-features-video-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #989492;

    -webkit-mask: url('../img/news/mask-1.svg') center/100% 100% no-repeat;
    mask: url('../img/news/mask-1.svg') center/100% 100% no-repeat;

    z-index: -1;
}

.news-features-video {
    position: relative;
    width: 100%;
    height: 100%;

    clip-path: polygon(99.9% 0.1%,
            99.9% 99.9%,
            0% 99.9%,
            0% 9%,
            4.2% 0.1%);

    overflow: hidden;
}

.news-features-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.news-features-video .video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6.085vw;
    height: 6.085vw;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: .3s;
    z-index: 10;
}

.news-features-video .video-play:hover {
    transform: translate(-50%, -50%) scale(1.08);
}

.news-features-video .play-icon {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 0.86vw solid transparent;
    border-bottom: 0.86vw solid transparent;
    border-left: 1.72vw solid #7DEA13;
}

.news-features-video.playing .video-play {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.news-features-video .video-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.155vw;
    letter-spacing: 0.18em;
    z-index: 5;
}

.news-features-video .video-text-left {
    left: 17%;
}

.news-features-video .video-text-right {
    right: 20%;
}

.news-features-video .video-deco {
    position: absolute;
    color: #fff;
    z-index: 5;
}

.news-features-video .square {
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
}

.news-features-video .text-plus {
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    font-size: 1.759vw;
}

.news-features-video.playing .text-plus,
.news-features-video.playing .square {
    display: none;
}

.news-features-sec .row-1 {
    margin-bottom: 2.646vw;
}

.news-features-sec .row-1 .text-plus {
    font-size: 1.587vw;
    top: 50%;
    transform: translateY(-50%);
}

.news-features-sec .row-1 .text-plus.text-left {
    left: -2.646vw;
}

.news-features-sec .row-1 .text-plus.text-right {
    right: -2.646vw;
}

.news-features-sec .news-features-row {
    margin-bottom: 4.63vw;
}

.news-features-sec .news-features-row:last-child {
    margin-bottom: 0;
    padding-bottom: 3.175vw;
    border-bottom: 1px solid #000000;
}

.news-features-sec .news-features-row .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    max-width: 34.524vw;
}

.news-features-sec .news-features-row .label {
    gap: 3.968vw;
}


.news-features-sec .news-features-row .column-1 {
    width: 50%;
    padding-right: 4.497vw;
}

.news-features-sec .news-features-row .column-2 {
    width: 34%;
    padding-right: 4.497vw;
}

.news-features-sec .news-features-row .column-3 {
    width: 16%;
}

.species-project-sec {
    padding-bottom: 1.72vw;
}

.species-project-heading {
    font-size: 19.048vw;
    padding: 5.754vw 0 4.563vw;
}

.species-project-header video {
    width: 28.307vw;
}

.species-project-header .video-top {
    top: 7.407vw;
}

.species-project-header .video-bottom {
    bottom: 9.788vw;
}

.species-project-main .main-header {
    padding: 3.307vw 0 5.622vw;
}

.species-project-main .main-label {
    font-size: 0.996vw;
    letter-spacing: 0.034em;
    gap: 13.294vw;
}

.spec-project-content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3.968vw;
    border-bottom: 1px solid #FFFFFF;
}

.spec-project-content .content-left {
    width: 34.392vw;
    padding-right: 4.96vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.646vw;
    margin-top: 1.984vw;
    justify-content: space-between;
}

.spec-project-content .nav-wrapper {
    height: 28.571vw;
    overflow: hidden;
    position: relative;
}

.spec-project-content .nav-inner {
    transition: all .4s ease;
}

.spec-project-item {
    font-size: 3.175vw;
    line-height: 1.5;
    cursor: pointer;
    transition: all .4s ease;
    position: relative;
}

.spec-project-item::before {
    content: "";
    position: absolute;
    left: -3.307vw;
    top: 50%;
    transform: translateY(-50%);
    width: 1.72vw;
    height: 4.167vw;
    background: url('../img/selected-icon.svg') no-repeat center/contain;
    transition: all .4s ease;
    opacity: 0;
}

.spec-project-item.active,
.spec-project-item:hover {
    opacity: 1 !important;
    transform: translateX(3.704vw);
}

.spec-project-item.active::before,
.spec-project-item:hover::before {
    opacity: 1;
}

.spec-project-btn {
    display: inline-flex;
    align-items: center;
    gap: 2.116vw;
    padding: 1.753vw 2.579vw;
    border: 1px solid #FF7B31;
    border-radius: 4.299vw;
    color: #fff;
    font-weight: 700;
    font-size: 1.438vw;
    letter-spacing: 0.13em;
    vertical-align: middle;

}

.spec-project-btn svg {
    width: 2.381vw;
}

.spec-project-btn:hover {
    background-color: #FF7B31;
    color: #fff;
}

.spec-project-btn:hover svg path {
    transition: all 0.3s ease-in-out;
    stroke: #fff !important;
}

.content-right {
    position: relative;
    width: calc(100% - 34.392vw);
}

.spec-project-panel {
    display: none;
    opacity: 0;
    transform: translateY(1.323vw);
    transition: all .3s ease;
}

.spec-project-panel.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.species-inner-slider {
    width: 100%;
    overflow: hidden;
}

.species-inner-slider .swiper-slide {
    display: flex;
    height: auto;
}

.spec-project-card {
    font-family: 'NB Architekt Std';
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.spec-project-card .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.spec-project-card .card-img {
    position: relative;
    border-radius: 0.529vw;
    overflow: hidden;
    aspect-ratio: 448/406;
    margin-bottom: 1.72vw;
    display: block;
}

.spec-project-card .card-img::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 0.529vw;

    background: linear-gradient(180deg,
            #828282 0%,
            var(--border-color, #7DEA13) 100%);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
}

.spec-project-card .card-cate {
    font-size: 1.058vw;
    display: flex;
    align-items: center;
    gap: 0.661vw 7.275vw;
    margin-bottom: 2.05vw;
}

.spec-project-card .card-title {
    font-size: 2.116vw;
    letter-spacing: 0.01375em;
    margin-bottom: 1.852vw;
}

.btn-news-read {
    font-family: 'NB Architekt Std';
    display: inline-flex;
    align-items: center;
    gap: 1.587vw;
    font-size: 0.794vw;
    line-height: 1.33;
    letter-spacing: 0.13em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 0.463vw 0.992vw;
    border-radius: 1.587vw;
    margin-top: auto;
}

.btn-news-read svg {
    width: 0.728vw;
    flex-shrink: 0;
}

.btn-news-read:hover {
    background-color: #fff;
    color: #000;
}

.btn-news-read.btn-news-read--black {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.btn-news-read.btn-news-read--black:hover {
    background-color: #fff;
    color: #000;
}

.history-making__gird {
    opacity: 0.15;
}

.history-making-sec .history-making__top .text-plus {
    font-size: 2.249vw;
    line-height: 0.647;
}

.history-making-sec .history-making__top .text-plus.text-1 {
    left: 4.233vw;
    top: 1.323vw;
}

.history-making-sec .history-making__top .text-plus.text-2 {
    right: 4.233vw;
    top: 1.323vw;
}

.history-making-sec .history-making__top .text-plus.text-3 {
    left: 4.233vw;
    bottom: 1.323vw;
}

.history-making-sec .history-making__top .text-plus.text-4 {
    right: 4.233vw;
    bottom: 1.323vw;
}

.history-making-sec .heading-wrapper {
    padding: 4.563vw 1.19vw 3.968vw;
    margin-bottom: 4.96vw;
}

.history-making-sec .heading {
    font-size: 11.243vw;
    line-height: 0.79;
    background: linear-gradient(180deg, #FFFFFF 55.69%, #FF7B31 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.history-making__image {
    max-width: 86.574vw;
    aspect-ratio: 1309/678;
}

.history-making__image .img-border {
    width: 5.886vw;
    top: -2.381vw;
}

.history-making__image .img-border.img-border-left {
    left: -2.646vw;
}

.history-making__image .img-border.img-border-right {
    right: -2.646vw;
}

.history-making__image img {
    border-top-left-radius: 0.529vw;
    border-top-right-radius: 0.529vw;
}

.history-making__top-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(360deg, #FF7B31 0%, rgba(255, 123, 49, 0) 100%);
    mix-blend-mode: difference;
}

.history-making__bottom {
    padding: 2.116vw 6.614vw 2.447vw;
}

.history-making__bottom .history-title {
    font-size: 4.233vw;
    text-indent: 15.344vw;
}

.history-making__bottom .history-cate {
    top: 0.794vw;
}

.history-making__bottom .history-date {
    bottom: 0.397vw;
}

.history-making__bottom .row-1 {
    margin-bottom: 2.381vw;
}

.history-making__bottom .text-plus {
    font-size: 1.587vw;
    line-height: 0.71;
}

.history-making__bottom .row-2 {
    margin-bottom: 1.323vw;
}

.history-making__bottom .row-2 .column-1 {
    width: 50.5%;
    padding-right: 3.175vw;
}

.history-making__bottom .row-2 .column-2 {
    padding-right: 3.175vw;
    width: 35.5%;
}

.history-making__bottom .row-2 .column-3 {
    width: 14%;
}

.history-making__bottom .row-3 .column-1 {
    width: 50.5%;
    padding-right: 3.175vw;
}

.history-making__bottom .row-3 .column-2 {
    width: 49.5%;
    gap: 2.116vw;
}

.history-making__bottom .history-logo {
    width: auto;
    height: 2.646vw;
}

.history-making__bottom .history-desc {
    max-width: 42.659vw;
}

.history-making__bottom .history-subtitle {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
}

.news-highlight-sec {
    margin-bottom: 1.124vw;
}

.news-highlight-item {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.news-highlight-item::before,
.news-highlight-item::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.news-highlight-item::before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FF7B31 100%);
}

.news-highlight-item::after {
    background: url('../img/news/grid-3.png') no-repeat center / cover;
    opacity: 0.5;
    mix-blend-mode: screen;
}

.news-highlight-item.right::before {
    background: linear-gradient(360deg, #832BC1 0%, rgba(255, 255, 255, 0) 91.07%);
}

.news-highlight-item.left {
    padding: 2.315vw 2.646vw 0 2.646vw;
    width: 49.27%;
}

.news-highlight-item.left .line {
    width: calc(100% + 2.646vw);
    margin-bottom: 2.579vw;
}

.news-highlight-item.left .title {
    font-size: 3.704vw;
    max-width: 28.571vw;
}

.news-highlight-item.left .title span {
    display: block;
    margin-bottom: 3.77vw;
}

.news-highlight-item.left .row-1 {
    margin-bottom: 4.828vw;
}

.news-highlight-item.left .subtitle {
    margin-bottom: 2.05vw;
    max-width: 14.153vw;
}

.news-highlight-item.left .image {
    max-width: 40.741vw;
    margin-top: -6.415vw;
}

.news-highlight-item.left .name {
    font-size: 11.623vw;
    line-height: 0.79;
    letter-spacing: -0.02em;
    transform: rotate(-90deg);
    right: -1.323vw;
    top: 31%;
    max-width: 26.257vw;
}

.news-highlight-btn {
    display: inline-flex;
    align-items: center;
    gap: 2.116vw;
    font-size: 1.438vw;
    letter-spacing: 0.13em;
    backdrop-filter: blur(116px);
    -webkit-backdrop-filter: blur(116px);
    border: 1px solid #FF7B31;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 2.315vw 3.108vw;
    border-radius: 4.299vw;
    position: absolute;
    z-index: 10;
    left: 2.646vw;
    bottom: 2.646vw;
}

.news-highlight-btn svg {
    width: 2.381vw;
    color: #FF7B31;
}

.news-highlight-btn:hover {
    background-color: #FF7B31;
    color: #fff;
}

.news-highlight-btn svg path {
    transition: all 0.3s ease-in-out;

}

.news-highlight-btn:hover svg path {
    stroke: #fff;
}

.news-highlight-item.right {
    padding-top: 2.116vw;
    width: 50.73%;
}

.news-highlight-item.right .time-magazine {
    font-size: 8.598vw;
    line-height: 80%;
    letter-spacing: -0.038em;
    background:
        linear-gradient(360deg, rgba(153, 64, 221, 0) -32.08%, #FFFFFF 50%), linear-gradient(0deg, #FFFFFF, #FFFFFF);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding: 0 1.984vw 2.513vw 1.19vw;
}

.news-highlight-item.right .line-text {
    letter-spacing: 0;
    padding-left: 5.159vw;
    margin-bottom: 5.159vw;
}

.news-highlight-item.right .content {
    gap: 1.653vw;
    padding-left: 5.159vw;
    margin-bottom: 1.323vw;
    padding-right: 2.646vw;
}

.news-highlight-item.right .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
}

.news-highlight-item.right .subtitle {
    line-height: 1.4;
    max-width: 23.148vw;
}

.news-highlight-item.right .news-highlight-btn {
    border-color: #fff;
}

.news-highlight-item.right .news-highlight-btn svg {
    color: #fff;
}

.news-highlight-item.right .news-highlight-btn:hover {
    background-color: #832BC1;
    border-color: #832BC1;
}

.news-highlight-item .logo {
    height: 1.984vw;
    width: auto;
    bottom: 3.968vw;
    right: 2.976vw;
    z-index: 5;
}

.news-main-sec {
    padding: 0 0.529vw;
}

.news-main-box {
    border-radius: 2.116vw;
    padding: 3.241vw 0 6.349vw;
}

.news-main-sec .wrapper-md {
    padding: 0 3.704vw;
}

.news-main-sec .heading {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
}

.news-main-sec .recent-insights {
    margin-bottom: 5.291vw;
}


.news-main-sec .recent-insights .heading {
    margin-bottom: 1.323vw;
}

.news-main-sec .recent-insights .btn-viewall {
    display: inline-block;
    font-size: 0.794vw;
    padding: 0.728vw;
    border: 1px solid #000;
    color: #000000;
    border-radius: 0.661vw;
}

.news-main-sec .recent-insights .btn-viewall:hover {
    background-color: #000;
    color: #fff;
}

.news-main-sec .recent-insights-header span {
    font-size: 0.794vw;
    line-height: 1.75;

}

.news-main-sec .recent-insights-header {
    padding-top: 1.852vw;
    margin-bottom: 2.05vw;
}

.recent-insights-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.646vw 1.323vw;
}

.recent-insights-list .recent-insight-item.item-large {
    grid-column: span 2;
}

.recent-insight-item {
    display: flex;
    flex-direction: column;
}

.recent-insight-item .item-image {
    aspect-ratio: 448/500;
    display: block;
    overflow: hidden;
    margin-bottom: 1.058vw;
    border-radius: 0.529vw;
}

.recent-insight-item.item-large .item-image {
    aspect-ratio: 916/500;

}

.recent-insight-item .item-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.587vw;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    padding: 1.19vw 0 0 1.455vw;
    position: relative;
}

.recent-insight-item .item-content .square {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
}

.recent-insight-item.item-large .item-content .square {
    background-color: #FF7B31;
}

.recent-insight-item.item-large .item-content {
    border-color: #FF7B31;
}

.recent-insight-item .item-date {
    font-size: 1.058vw;
    line-height: 1.25;
    letter-spacing: 0.02em;
}

.recent-insight-item .item-bottom {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1.587vw;
}

.recent-insight-item .item-title {
    font-size: 1.455vw;
    line-height: 114.99999999999999%;
    max-width: 19.18vw;
    flex: 1;
}

.recent-insight-item .item-btn {
    margin-bottom: 0.397vw;
}

.recent-insight-item.item-large .item-title {
    max-width: 40.079vw;
    font-size: 1.846vw;
    line-height: 1.15;
}

.recent-insight-item .item-logo img {
    max-height: 1.587vw;
    object-fit: contain;
}

.news-main-sec .news-archive-header {
    padding-top: 2.116vw;
    gap: 7.804vw;
    margin-bottom: 2.976vw;
}


.news-main-sec .news-archive-header .column-1 {
    width: 22.52%;
}

.news-main-sec .news-archive-header .column-2 {
    width: 11.94%;
}

.news-main-sec .news-archive-header .column-3 {
    width: 40.78%;
}

.news-main-sec .news-archive-header .column-4 {
    width: 24.76%;
}

.news-main-sec .number-post {
    font-size: 1.058vw;
    line-height: 1.375;
}

.news-main-sec .news-archive-desc {
    gap: 3.175vw;
}

.news-main-sec .news-archive-desc .square {
    margin-top: 0.331vw;

}

.news-main-sec .news-archive .btn-primary .arrow {
    background: transparent;
}

.news-main-sec .news-archive-highlight {
    padding: 0 0.86vw;
}

.news-main-sec .news-archive-highlight__top {
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 32.56%, rgba(255, 123, 49, 0.68) 100%), linear-gradient(0deg, #F4F4F4, #F4F4F4);
    padding: 1.786vw 1.587vw 2.381vw;
    gap: 2.116vw;

}

.news-main-sec .news-archive-highlight__top .left {
    width: calc(58.51% - 1.058vw);
    padding-left: 1.257vw;
}

.news-main-sec .news-archive-highlight__top .right {
    width: calc(41.49% - 1.058vw);
    gap: 3.175vw;
}

.news-main-sec .news-archive-highlight .highlight-image {
    aspect-ratio: 797/516;
    overflow: hidden;
    border-radius: 0.529vw;
    display: block;
}

.news-main-sec .news-archive-highlight .highlight-logo {
    margin-bottom: 1.587vw;
}

.news-main-sec .news-archive-highlight .highlight-logo img {
    max-height: 1.587vw;
}

.news-main-sec .news-archive-highlight .highlight-title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;

}

.news-main-sec .news-archive-highlight .highlight-desc {
    font-size: 1.19vw;
    line-height: 1.22;
    letter-spacing: 0.025em;
    margin-bottom: 2.183vw;
    max-width: 29.63vw;
}

.news-main-sec .news-archive-highlight .highlight-label {
    gap: 0.661vw 7.275vw;
}

.news-main-sec .news-archive-highlight .highlight-label .square {
    margin-top: 0.331vw;
}

.news-main-sec .news-archive-highlight .highlight-label p {
    max-width: 6.151vw;
}

.news-main-sec .news-archive-highlight__bottom {
    padding: 0.794vw 2.91vw 0.661vw;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr;
    grid-gap: 1.587vw;
}

.news-archive-list {
    padding: 4.762vw 0 4.563vw;
}

.news-archive-list .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.646vw 1.389vw;
}

.news-archive-list .item-img {
    aspect-ratio: 446/295;
    overflow: hidden;
    display: block;
    border-radius: 0.529vw;
}

.news-archive-list .item-logo {
    height: 1.852vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-archive-list .item-logo img {
    max-height: 100%;
    object-fit: contain;
}

.news-archive-list .item-title {
    font-size: 1.455vw;
    line-height: 114.99999999999999%;
    margin-bottom: 0.331vw;
}

.news-archive-list .item-btn {
    margin-top: auto;
}

.news-archive-list.layout-grid .item-img {
    margin-bottom: 2.116vw;
}

.news-archive-list.layout-grid .item {
    display: flex;
    flex-direction: column;
}

.news-archive-list.layout-grid .item-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.257vw;
    padding-right: 1.323vw;
}

.news-archive-list.layout-list {
    padding: 0 0 6.085vw;
}

.news-archive-list.layout-list .list {
    grid-template-columns: 1fr;
    gap: 6.349vw;
}

.news-archive-list.layout-list .item {
    display: flex;
    flex-direction: row;
    gap: 1.455vw;
}

.news-archive-list.layout-list .item-content {
    width: calc(58.38% - 0.728vw);
    border-top: 1px solid #000;
    padding-top: 3.638vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.175vw;
}

.news-archive-list.layout-list .item-img-wrapper {
    width: calc(41.62% - 0.728vw);
}

.news-archive-list.layout-list .item-img {
    aspect-ratio: 565/340;
}

.news-archive-list.layout-list .item-top {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1.587vw;
}

.news-archive-list.layout-list .item-bottom {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1.587vw;
}

.news-archive-list.layout-list .line-text {
    line-height: 1.25;
    letter-spacing: 0.02em;
}

.news-archive-list.layout-list .item-date {
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin-bottom: 2.116vw;
}

.news-archive-list.layout-list .item-title {
    margin-bottom: 1.918vw;
}

.news-archive-list.layout-list .item-bottom__left {
    max-width: 32.54vw;
    flex: 1;
}

.news-archive-list .item-desc {
    color: #4F4F4F;
    max-width: 26.455vw;
}

.news-main-sec .press-media__header {
    padding-top: 3.704vw;
    margin-bottom: 5.82vw;
}

.news-main-sec .press-media .label {
    gap: 0.661vw 7.275vw;
}

.news-main-sec .press-media .double-plus {
    letter-spacing: 0.02em;
}

.news-main-sec .press-media__list-logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2.976vw 3.968vw;
    justify-content: center;
}

.news-main-sec .press-media__list-logo .item-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-main-sec .press-media__list-logo .item-logo img {
    max-height: 4.365vw;
    object-fit: contain;
}

.speaking-sec {
    padding: 0.661vw 0 0;
}

.speaking-heading {
    font-size: 18.219vw;
    letter-spacing: 0.07em;
    padding: 0 3.175vw 4.696vw;
}

.speaking-title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
}

.speaking-sec .globally-speaking {
    margin-bottom: 5.026vw;
}

.speaking-sec .globally-speaking .column {
    padding-right: 2.116vw;
    gap: 3.175vw;
}

.speaking-sec .globally-speaking .column .square {
    margin-top: 0.331vw;
}

.speaking-sec .globally-speaking .column-1 {
    width: 25%;
}

.speaking-sec .globally-speaking .column-2 {
    line-height: 1.375;
    width: 17%;
}

.speaking-sec .globally-speaking .column-3 {
    width: 46%;
}

.speaking-sec .globally-speaking .column-3 p {
    max-width: 24.14vw;
}

.speaking-sec .globally-speaking .column-4 {
    line-height: 1.375;
    padding-right: 0;
    width: 12%;

}

.speaking-sec .selected-events {
    margin-bottom: 5.093vw;
}

.speaking-sec .selected-events .left .line-text {
    line-height: 1.375;
    letter-spacing: 0;
    margin-bottom: 1.653vw;
}

.speaking-sec .selected-events .left {
    width: 42%;
    padding-right: 3.175vw;
}

.speaking-sec .selected-events .right {
    width: 58%;
    padding-top: 2.778vw;
    margin-top: 0.198vw;
}

.speaking-sec .selected-event-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.646vw;
}

.selected-event-item .item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.587vw;
    font-size: 0.529vw;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #979797;
    padding-bottom: 0.529vw;

}

.selected-event-item .item-label {
    display: flex;
    align-items: center;
    gap: 0.595vw;
}

.selected-event-item .item-logo {
    min-height: 6.548vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-event-item .item-logo img {
    max-height: 2.116vw;
    object-fit: contain;
    margin-top: 0.661vw;
}

.selected-event-item .line-text {
    font-size: 0.59vw;
    line-height: 1.8;
    margin-bottom: 0.926vw;
}

.speaking-sec .speaking-quote .quote-image {
    width: 49.34%;
}

.speaking-sec .speaking-quote .quote-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 67.09%, #000000 100%);
    pointer-events: none;
}

.speaking-sec .speaking-quote .square {
    top: 4.233vw;
    right: 5.159vw;
}

.speaking-sec .speaking-quote .double-plus {
    top: 53%;
    right: 5.159vw;
}

.speaking-sec .speaking-quote .line-text {
    top: 72%;
    right: 3.571vw;
    transform: rotate(90deg);
}

.speaking-sec .speaking-quote .quote-content {
    width: 53%;
    top: 4.233vw;
    left: 43%;
}

.speaking-sec .speaking-quote .quote-icon {
    width: 2.778vw;
    margin-bottom: 2.315vw;
}

.speaking-sec .speaking-quote .quote-text {
    font-size: 2.116vw;
    line-height: 1.0625;
    letter-spacing: 0.01375em;
    margin-bottom: 2.778vw;
}

.speaking-sec .speaking-quote .quote-author-name {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
}

.speaking-sec .speaking-quote .quote-box-bottom {
    aspect-ratio: 1447/88;
    width: 95.71%;
    padding: 1.323vw 1.058vw 1.058vw;
    background: url('../img/news/Rectangle-1946.svg') no-repeat center / cover;
}

.speaking-sec .speaking-quote .quote-box-bottom .content {
    max-width: 43.981vw;
    gap: 5.82vw;
}

.speaking-sec .speaking-quote .quote-box-bottom .title {
    font-size: 1.455vw;
    line-height: 114.99999999999999%;
    max-width: 16.27vw;
}

.circle-dot-orage {
    width: 3.439vw;
    height: 3.439vw;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-dot-orage .dot {
    width: 0.661vw;
    border-radius: 50%;
    height: 0.661vw;
}

.speaking-sec .upfront-summit {
    margin-bottom: 0.463vw;
}

.speaking-sec .upfront-summit .circle-dot-orage {
    top: 60%;
}

.speaking-sec .upfront-summit .circle-dot-orage.circle-left {
    left: 4.233vw;
}

.speaking-sec .upfront-summit .circle-dot-orage.circle-right {
    right: 4.233vw;
}

.speaking-sec .upfront-summit .image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 54.32%, #000000 90.53%);
    pointer-events: none;
}

.speaking-sec .upfront-summit-title {
    bottom: 3.77vw;
    left: 0;
    width: 100%;
}

.speaking-sec .upfront-summit-title .img-border {
    width: 5.82vw;
    top: -2.315vw;
}

.speaking-sec .upfront-summit-title .img-border.img-border-left {
    left: 4.233vw;
}

.speaking-sec .upfront-summit-title .img-border.img-border-right {
    right: 4.233vw;
}

.speaking-sec .upfront-summit-title .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;

}

.speaking-sec .speaker-talk {
    padding: 8.135vw 0 2.91vw;
}

.speaker-talk-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 9.259vw 1.323vw;
    padding-bottom: 3.175vw;
    border-bottom: 1px solid #fff;
}

.speaker-talk-item .item-title {
    display: flex;
    align-items: center;
    gap: 0.661vw 7.275vw;
    margin-top: 0.794vw;
}

.speaker-talk-item .item-background {
    aspect-ratio: 682/624;
    border: 1px solid #FF7B31;
    border-radius: 1.058vw;
}

.speaker-talk-item.item-large .item-background::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 75%);
    pointer-events: none;
}

.speaker-talk-item .item-image {
    bottom: 0.529vw;
    left: 2.646vw;
    right: 0.794vw;
}

.speaker-talk-item.item-large .item-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.95%, #000000 100%);
    pointer-events: none;
}

.speaker-talk-item.item-2 .item-image {
    bottom: 1.257vw;
    left: 50%;
    transform: translateX(-50%);
    width: 22.619vw;
}

.speaker-talk-item.item-small .item-background {
    aspect-ratio: 682/282;
}

.speaker-talk-item.item-3 .item-image {
    left: 0.397vw;
    right: 0.595vw;
    bottom: 0.331vw;
}

.speaker-talk-item.item-4 .item-image {
    left: 0.86vw;
    right: 0.86vw;
    bottom: 0.529vw;
}

.speaking-slider {
    overflow: visible;
    min-height: 39.683vw;
}

.speaking-slider .swiper-wrapper {
    align-items: flex-start;
}

.speaking-slider .swiper-slide {
    width: 29.63vw;
    flex-shrink: 0;
    transition: all .6s ease;
    cursor: pointer;
}

.speaking-slider .swiper-slide.slide-small {
    width: 19.709vw;
}

.speaking-slider .swiper-slide.swiper-slide-next {
    width: 29.63vw;
}

.speaking-slider .slider-image {
    overflow: hidden;
    border-radius: 0.529vw;
    position: relative;
    transition: all .6s ease;
    aspect-ratio: 448/375;
}

.speaking-slider .swiper-slide.slide-small .slider-image {
    aspect-ratio: 298/375;
}

.speaking-slider .swiper-slide-next .slider-image {
    aspect-ratio: 448/566;
}

.speaking-slider .slider-label {
    display: flex;
    gap: 0.794vw;
    transition: all 0.5s ease;
    align-items: center;
    justify-content: space-between;
    color: #5E5E5E;
    margin-bottom: 1.323vw;
}

.speaking-slider .slider-label .square {
    background-color: #5E5E5E;
}

.speaking-slider .swiper-slide-next .slider-label {
    color: #fff;
}

.speaking-slider .swiper-slide-next .slider-label .square {
    background-color: #fff;
}

.speaking-slider .speaking-card {
    position: relative;
}

.speaking-slider .slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .6s ease;
}


.speaking-slider .swiper-slide-next .slider-image:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg,
            rgba(255, 123, 49, 0) 50%,
            #ff7b31 100%);
    mix-blend-mode: exclusion;
}


.speaking-navigation {
    margin-top: 3.307vw;
    gap: 2.116vw;
    padding-bottom: 2.778vw;
    border-bottom: 1px solid #fff;
}


.speaking-counter {
    font-size: 2.116vw;
    color: #555;
}

.speaking-counter .current {
    color: #fff;
}

.clsl-podcasts-sec {
    padding: 3.175vw 1.323vw;
}

.clsl-podcasts-main {
    background:
        linear-gradient(360deg, rgba(255, 255, 255, 0) 57.23%, rgba(255, 123, 49, 0.68) 93.26%), linear-gradient(0deg, #F4F4F4, #F4F4F4);
    padding: 2.05vw 2.646vw 4.762vw;
}

.clsl-podcasts-heading {
    font-size: 11.905vw;
    line-height: 0.79;
    margin-left: -1.323vw;
    width: calc(100% + 2.646vw);
    padding-bottom: 1.786vw;
}

.clsl-podcasts-heading span {
    letter-spacing: -0.09em;
}

.clsl-podcasts-sec .row-1 {
    margin-bottom: 4.828vw;
}

.clsl-podcasts-sec .row-1 .column {
    gap: 0.661vw 7.143vw;
}

.clsl-podcasts-sec .row-1 .column .square {
    margin-top: 0.331vw;
}

.clsl-podcasts-sec .latest-feature .left {
    width: 35%;
    padding-right: 2.513vw;
    padding-top: 1.323vw;
    gap: 1.984vw;
}

.clsl-podcasts-sec .latest-feature .right {
    width: 65%;
}

.clsl-podcasts-sec .latest-feature .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    padding-bottom: 1.918vw;
}

.clsl-podcasts-sec .latest-feature-box {
    background-color: #FF6B00;
    box-shadow: 0px 4px 17.9px 0px #00000040;
    padding: 1.455vw 1.587vw;

}

.clsl-podcasts-sec .latest-feature-box .box-title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
}

.clsl-podcasts-sec .latest-feature-box .box-header {
    margin-bottom: 1.389vw;
}

.clsl-podcasts-sec .latest-feature-box .box-header span {
    font-size: 1.455vw;
    line-height: 114.99999999999999%;
}

.clsl-podcasts-sec .latest-feature-box .box-content {
    aspect-ratio: 855/232;
}

.clsl-podcasts-sec .latest-feature-box iframe {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.clsl-podcasts-sec .latest-feature-podcast {
    gap: 1.058vw;
    padding-bottom: 1.918vw;
}

.clsl-podcasts-sec .latest-feature-podcast .name {
    font-size: 1.455vw;
    line-height: 114.99999999999999%;
}

.clsl-podcasts-sec .latest-feature .available-on {
    gap: 1.72vw;
}

.clsl-podcasts-sec .latest-feature .available-on .list {
    gap: 1.521vw;
}

.clsl-podcasts-sec .latest-feature .available-on .list img {
    width: 1.587vw;
    height: 1.587vw;
    object-fit: contain;
}

.clsl-podcasts-sec .latest-feature {
    margin-bottom: 5.556vw;
}

.clsl-podcasts-sec .podcasts-list-wrapper {
    padding-top: 2.116vw;
}

.clsl-podcasts-sec .podcasts-list-header {
    margin-bottom: 2.116vw;
}

.clsl-podcasts-sec .podcasts-list-header .year {
    font-size: 1.846vw;
}

.clsl-podcasts-sec .podcasts-list-header .column {
    padding-right: 3.175vw;
}

.clsl-podcasts-sec .podcasts-list-header .column-1 {
    width: 25.5%;
}

.clsl-podcasts-sec .podcasts-list-header .column-2 {
    width: 50.5%;
}

.clsl-podcasts-sec .podcasts-list-header .column-3 {
    gap: 3.175vw;
    width: 24%;
    padding-right: 0;
}

.clsl-podcasts-sec .podcasts-list-header .featuring-title {
    margin-bottom: 1.587vw;
}

.clsl-podcasts-sec .podcasts-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3.704vw 1.323vw;
}

.podcasts-item {
    display: flex;
    flex-direction: column;
    gap: 1.587vw;
}

.podcasts-item .item-image {
    aspect-ratio: 332/343;
    border-radius: 0.529vw;
    overflow: hidden;
    transition: all 0.4s ease;
}

.podcasts-item .item-title {
    line-height: 1.375;
    color: #000;
}

.podcasts-item .item-desc {
    color: #000;
}

.podcasts-item:hover .item-image {
    transform: scale(1.02);
}

.podcast-loadmore {
    margin-top: 3.968vw;
}

.podcast-loadmore a {
    display: inline-block;
    font-size: 0.794vw;
    letter-spacing: 0.13em;
    color: #000;
    padding: 0.827vw 2.05vw;
    border: 1px solid #FF7B31;
    border-radius: 2.381vw;
}

.podcast-loadmore a:hover {
    background-color: #ff7b31;
    color: #fff;
}

.featured-articles-sec {
    padding: 4.365vw 0 3.968vw;
}

.featured-articles-sec .wrapper-md {
    padding: 0 11.905vw;
}

.featured-articles-sec .heading {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    margin-bottom: 4.762vw;
}

.featured-article-list {
    gap: 4.233vw;
}

.featured-article-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2.05vw;
    border-bottom: 1px solid #fff;
}

.featured-article-item .left {
    width: 55.5%;
    padding-right: 5.291vw;
}

.featured-article-item .center {
    width: 30.5%;
    padding-right: 5.291vw;
}

.featured-article-item .right {
    width: 14%;
    text-align: end;
}

.featured-article-item .item-btn {
    background-color: #383838;
    padding: 0.992vw 2.183vw;
    justify-content: center;
    align-items: center;
    border-radius: 1.323vw;
    display: inline-flex;
    transition: all 0.3s ease-in-out;
}

.featured-article-item .item-btn img {
    width: 1.984vw;
}

.featured-article-item .item-categories {
    display: flex;
    flex-direction: column;
    font-size: 1.058vw;
    color: #fff;
    line-height: 1.375;
}

.featured-article-item .item-date {
    display: flex;
    align-items: center;
    gap: 0.794vw;
    color: #fff;
    margin-bottom: 2.116vw;
}

.featured-article-item .item-title {
    font-size: 1.455vw;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 26.455vw;
}

.featured-article-item:hover .item-btn {
    background-color: #ff7b31;
}

.featured-article-viewall {
    margin-top: 4.233vw;
}

.featured-article-viewall a {
    display: inline-block;
    font-size: 0.794vw;
    letter-spacing: 0.13em;
    padding: 0.827vw 2.05vw;
    border: 1px solid #fff;
    border-radius: 2.381vw;
}

.featured-article-viewall a:hover {
    background-color: #fff;
    color: #000;
}

.news-page .footer-end {
    mix-blend-mode: difference;
    max-width: 94.444vw;
    margin: -17.46vw auto 0;
    height: 42.989vw;
    overflow: hidden;
}