/* .thylacine-culture-lore-sec .culture-lore-main {
    background-image: url('../img/thy/culture-img-bg-1.png');
} */

.thylacine-culture-lore-sec .cul-center-box {
    margin-top: -14vw;
}

.thylacine-culture-lore-sec .culture-lore-main {
    height: 86.243vw;
    padding-top: 31.349vw;
}

.thylacine-culture-lore-sec .culture-lore-main::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(180deg, rgba(151, 151, 151, 0) 51.28%, #9940DD 95.15%);
    pointer-events: none;
}

.thylacine-culture-lore-sec .culture-lore-heading {
    font-size: 13.539vw;
    margin-bottom: 8.446vw;
}

.thylacine-culture-lore-sec .mt-text {
    margin-top: 1vw;
}

.thylacine-culture-lore-sec .text {
    font-size: 0.794vw;
}

/*******************/
.thylacine-shaping-sec .card-green::before {
    background: linear-gradient(180deg, rgba(255, 125, 49, 0) 38.97%, #FF7B31 100%);
    mix-blend-mode: exclusion;
}

.thylacine-shaping-sec .shaping-conversation-card.card-orange::before {
    background: linear-gradient(180deg, rgba(127, 234, 19, 0) 38.97%, #7DEA13 100%);
    mix-blend-mode: exclusion;
}

.thylacine-shaping-sec .mix-difference {
    letter-spacing: 0.02em;
}

.thylacine-shaping-sec .card-title {
    max-width: 72%;
}

.thylacine-shaping-sec .shaping-conversation-card.card-purple::before {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.302);
}

.thylacine-shaping-sec .shaping-conversation-card .card-image.right-img {
    object-fit: cover;
    object-position: right center;
}

.thylacine-shaping-sec .shaping-conversation-card .card-line-text {
    font-size: 0.926vw;
    line-height: 0.996vw;
    letter-spacing: -0.1em;
}

.thylacine-faqs-sec.faqs-sec {
    padding-top: 5.1vw;
    padding-bottom: 2.646vw;
}

.thylacine-faqs-sec .faqs-heading {
    font-size: 2.381vw;
    letter-spacing: 0.012em;
    padding-bottom: 3.7vw;
}

.thylacine-shaping-sec .shaping-conversation-card.small .card-content {
    padding: 1.19vw 1.323vw 1.7vw 1.521vw;
}

.thylacine-shaping-sec .shaping-conversation-card .card-content {
    padding: 1.323vw 1.72vw 2.1vw 1.852vw;
}

.thylacine-shaping-sec .card-title.text-bt {
    margin-bottom: 1.5vw;
    max-width: 31vw;
}

.thylacine-shaping-sec .shaping-conversation-card .card-desc {
    font-size: 0.794vw;
    padding-bottom: 0.15vw;
    padding-top: 0.3vw;
}

.thylacine-hub-page .mammoth-hero .mammoth-database {
    max-width: 40.563vw;
}

.thylacine-hub-page .medium-title {
    font-size: 3.704vw;
    line-height: 4.233vw;
}

.thylacine-revi-sec.reviving-mammoth-sec .row-2 {
    margin-bottom: 5.4vw;
}

.thylacine-revi-sec .explore-key {
    padding-top: 5.7vw;
}

.thylacine-hero .mammoth-hero-info .item:first-child {
    min-width: auto;
}

.thylacine-hero .mammoth-hero-info .item {
    letter-spacing: 0.02em;
    padding: 0.397vw 0.6vw;
}

.thylacine-hero .row-box-col {
    padding: 2.1vw 0;
    gap: 5.2vw;
}

.thylacine-hero .hero-tt-box {
    padding-bottom: 1.5vw;
}

.thylacine-hero .mammoth-hero-process .line-orange {
    height: 0.463vw;
    border-radius: 1.455vw;
    background: linear-gradient(90deg, #7DEA13 0%, #E0FF14 100%);
    box-shadow: 0px 0px 0.496vw 0px #7DEA13;
    left: -0.132vw;
}

.thy-slider-ex .explore-key-swiper .bg-media video,
.explore-key-swiper .bg-media.transform-scale11 img {
    transform: scale(1.1);
}

.thy-slider-ex .explore-key-swiper .content {
    background: #00000024;
}