.thylacine-culture-lore-page .cl-hero .row-1 .column-1 {
    width: 23.5%;
    margin-right: 10%;
}

.thylacine-culture-lore-page .cl-hero {
    padding-bottom: 20.04vw;
}

.thylacine-culture-lore-page .cl-hero-deco {
    width: 33% !important;
    height: auto !important;
    left: 33.5% !important;
    top: 19% !important;
}

.thylacine-culture-lore-page .mammoth-return-divier {
    top: -8.333vw;
    margin-bottom: 0;
}

.thylacine-culture-lore-page .mammoth-return-heading .heading {
    font-size: 11.447vw;
    letter-spacing: -0.06em;
    background: linear-gradient(180deg, #7DEA13 0%, #EFDECD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.thylacine-culture-lore-page .mammoth-return-heading {
    padding-bottom: 3.571vw;
}

.thylacine-culture-lore-page .mammoth-return-header__image {
    max-width: 89.815vw;
    margin-top: -21.693vw;
    margin-bottom: -30.026vw;
}

.thylacine-culture-lore-page .mammoth-return-header__image::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(360deg, #000000 17.92%, rgba(0, 0, 0, 0) 48.68%);
}

.thylacine-culture-lore-page .mammoth-return-header__text {
    position: absolute;
    left: 4.233vw;
    right: 4.233vw;
    top: 40%;
    font-size: 4.233vw;
    line-height: 1;
    letter-spacing: 0.453125em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 2;
}

.thylacine-culture-lore-page .mammoth-return-header__grid {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
}

.thylacine-culture-lore-page .mammoth-return-header__grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.29%, #000000 119.61%),
        linear-gradient(180deg, #000000 5.45%, rgba(0, 0, 0, 0) 43.68%);
}

.thylacine-culture-lore-page .mammoth-return-header .square {
    background-color: #D9D9D9;
    width: 1.058vw;
    height: 1.058vw;
    position: absolute;
    z-index: 1;
}

.thylacine-culture-lore-page .mammoth-return-header .square-1 {
    top: 22%;
    left: 4.034vw;
}

.thylacine-culture-lore-page .mammoth-return-header .square-2 {
    top: 22%;
    right: 4.034vw;
}

.thylacine-culture-lore-page .mammoth-return-header .square-3 {
    bottom: 35%;
    left: 4.034vw;
}

.thylacine-culture-lore-page .mammoth-return-header .square-4 {
    bottom: 35%;
    right: 4.034vw;
}

.thylacine-culture-lore-page .mammoth-return-main {
    padding-bottom: 1.455vw;
}

.thylacine-culture-lore-page .mammoth-return-list-menus a:hover {
    color: #7DEA13;
}

.thylacine-culture-lore-page .mammoth-return-bottom {
    padding-bottom: 7.407vw;
}

.thylacine-culture-lore-page .ancient-lore-legends .row-2 {
    margin-bottom: 5.423vw;
}

.thylacine-culture-lore-page .ancient-lore-legends {
    padding-bottom: 46.892vw;
}


.thylacine-culture-lore-page .ancient-lore-legends-bg::before {
    background: linear-gradient(180deg, #000000 11.36%, rgba(0, 0, 0, 0) 24.92%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 76.15%, #000000 98.81%);

}

.thylacine-culture-lore-page .ancient-lore-legends-bg-2::before {
    display: none;
}

.thylacine-culture-lore-page .ancient-lore-legends .subheading {
    margin-bottom: 3.704vw;
}

.thylacine-culture-lore-page .ancient-lore-legends .heading span {
    margin-top: -3.307vw;
    margin-bottom: -8.333vw;
    line-height: 1;
    background: linear-gradient(180deg, #FF7B31 0%, #B53C1F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.thylacine-culture-lore-page .subterranean-creatures {
    margin-top: 0;
    padding-bottom: 2.513vw;
}

.thylacine-culture-lore-page .subterranean-creatures-heading {
    margin-top: -18.519vw;
}

.thylacine-culture-lore-page .subterranean-creatures-content {
    margin-top: 6.151vw;
}

.thylacine-culture-lore-page .earth-shapers-header {
    border-top-left-radius: 3.175vw;
    border-top-right-radius: 3.175vw;
    padding: 4.299vw 4.233vw 9.59vw;
}

.thylacine-culture-lore-page .earth-shapers-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.3%, #000000 87.72%);
    pointer-events: none;
    z-index: 1;
}

.thylacine-culture-lore-page .earth-shapers-header__deco {
    width: 51.389vw;
    margin-left: -2.116vw;
}



.thylacine-culture-lore-page .earth-shapers__heading {
    font-size: 14.925vw;
    letter-spacing: -0.11em;
    margin-top: -2.116vw;
}

.thylacine-culture-lore-page .earth-shapers__heading span {
    display: inline-block;
}

.thylacine-culture-lore-page .earth-shapers__heading span:first-child {
    transform: rotate(-4.83deg);
    margin-right: -6.349vw;
}

.thylacine-culture-lore-page .earth-shapers__heading span:last-child {
    transform: rotate(7.8deg);
}

.thylacine-culture-lore-page .earth-shapers-header__img {
    width: 66.138vw;
    margin-top: -4.299vw;
    position: relative;
    z-index: 3;
}

.thylacine-culture-lore-page .earth-shapers-header__img img {
    margin-left: 4.63vw;
}

.thylacine-culture-lore-page .earth-shapers-main {
    margin-top: -18.056vw;
}

.thylacine-culture-lore-page .earth-shapers-main>.left::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 1;
}

.thylacine-culture-lore-page .earth-shapers-main>.left .img-2 {
    height: 100%;
    width: calc(100% + 6.349vw);
}

.thylacine-culture-lore-page .earth-shapers-main>.left .content .label {
    gap: 0.926vw;
    margin-bottom: 7.937vw;
}

.thylacine-culture-lore-page .earth-shapers-main>.left .content .label .square {
    margin-top: 0.265vw;
}

.thylacine-culture-lore-page .earth-shapers-main>.left .content .title {
    margin-bottom: 0;
}

.thylacine-culture-lore-page .king-george-river {
    min-height: 73.479vw;
    margin-top: -16.534vw;
    margin-bottom: -2.116vw;
    overflow: hidden;
}

.thylacine-culture-lore-page .king-george-river::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 61.28%, #000000 88%);
    pointer-events: none;
    z-index: 1;
}

.thylacine-culture-lore-page .king-george-river__img {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    max-width: unset;
    width: 141.667vw;
    z-index: 2;
}

.thylacine-culture-lore-page .many-names__row .column-1 {
    width: 32.5%;
    padding-right: 2.646vw;
}

.thylacine-culture-lore-page .many-names__row .column-2 {
    width: 33%;
    padding-right: 0.595vw;
}

.thylacine-culture-lore-page .many-names__row .column-3 {
    width: 34.5%;
}

.thylacine-culture-lore-page .many-names .title {
    font-size: 4.233vw;
    line-height: 1;
}

.thylacine-culture-lore-page .many-names .image {
    margin-top: -3.968vw;
}

.thylacine-culture-lore-page .many-names__main {
    margin-top: -9.392vw;
    border-bottom-left-radius: 2.646vw;
    border-bottom-right-radius: 2.646vw;
    padding: 34.392vw 0 15.939vw;
}

.thylacine-culture-lore-page .many-names__main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #000000 3.76%, rgba(0, 0, 0, 0) 26.69%);
    pointer-events: none;
    z-index: 1;
}

.thylacine-culture-lore-page .many-names__main-title {
    font-size: 8.898vw;
    line-height: 0.75;
    max-width: 76.72vw;
    background: linear-gradient(180deg, #FFFFFF 24.92%, #5F63B0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding: 0.661vw 0;
}

.thylacine-culture-lore-page .many-names__main-title span {
    display: block;
    margin-left: -4.299vw;
}

.thylacine-culture-lore-page .many-names__main-title span+span {
    margin-top: 3.042vw;
}

.thylacine-culture-facts-sec::before {
    content: "";
    position: absolute;
    top: -3.968vw;
    left: 0;
    width: 100%;
    height: 32%;
    background: linear-gradient(180deg, #FF7B31 16.15%, rgba(153, 64, 221, 0) 86.2%);
    pointer-events: none;
}

.thylacine-culture-facts-sec .myth-box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 0.841vw solid #FFFFFF;
    display: inline-flex;
    flex-direction: column;
    border-radius: 21.825vw;
    color: #fff;
    padding: 3.108vw 4.233vw 1.918vw;
    margin-top: -9.061vw;
    text-align: center;
    z-index: 5;
}

.thylacine-culture-facts-sec .myth-box .myth-text {
    font-size: 10.097vw;
    line-height: 1;
    letter-spacing: -1%;
}

.thylacine-culture-facts-sec .myth-box span {
    margin-top: -1.058vw;
}

.thylacine-culture-facts-sec .row-1 {
    font-size: 1.587vw;
    padding: 0 1.984vw;
    margin-top: -1.852vw;
    margin-bottom: 4.563vw;
}

.thylacine-culture-facts-sec .row-2 {
    font-size: 3.696vw;
    line-height: 90%;
    letter-spacing: 32%;
}

.thylacine-culture-facts-sec .row-3 {
    margin-bottom: 4.894vw;
}

.thylacine-culture-facts-sec .row-3 .image {
    max-width: 89.616vw;
    margin-top: -1.323vw;
}

.thylacine-culture-facts-sec .row-3 .image img {
    margin-left: 2.381vw;
}

.thylacine-culture-facts-sec .row-4 {
    font-size: 3.696vw;
    line-height: 90%;
    letter-spacing: 32%;
    margin-bottom: 13.757vw;
}

.thylacine-culture-facts-sec .row-img {
    position: absolute;
    top: 17.791vw;
    width: 93.519vw;
    left: 2.381vw;
    z-index: 1;
}

.thylacine-culture-facts-sec .row-img .text-no {
    position: absolute;
    font-size: 0.728vw;
    letter-spacing: 10.5%;
    color: #979797;
    transform: rotate(90deg);
    bottom: 10.251vw;
    right: -5.159vw;
    z-index: 2;
}

.thylacine-culture-facts-sec .row-5 {
    margin-bottom: 4.894vw;
}

.thylacine-culture-facts-sec .fact-text {
    font-size: 10.097vw;
    line-height: 1;
    letter-spacing: -1%;
    color: #FF7B31;
    border: 0.841vw solid #FF7B31;
    border-radius: 21.825vw;
    padding: 3.042vw 6.085vw 2.116vw;
    display: inline-block;
}

.thylacine-culture-facts-sec .row-6 .text {
    font-size: 4.762vw;
    line-height: 0.92;
    letter-spacing: -1%;
    padding: 0 3.505vw 1.587vw;
}

.thylacine-in-modern {
    padding: 4.497vw 0 2.315vw;
}

.thylacine-in-modern-grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 66.01%, #FFFFFF 97.18%),
        linear-gradient(180deg, #FFFFFF -2.89%, rgba(255, 255, 255, 0) 25.68%);

}

.thylacine-in-modern__header {
    margin-bottom: 4.696vw;
}

.thylacine-in-modern__header span {
    font-size: 0.661vw;
    line-height: 100%;
    letter-spacing: 0.148em;
}

.thylacine-in-modern__header .line-text {
    font-size: 0.661vw;
    line-height: 100%;
    letter-spacing: 0.045em;

}

.thylacine-in-modern__header .column {
    gap: 3.307vw;
}

.thylacine-in-modern__heading {
    font-size: 13.499vw;
    line-height: 0.77;
    letter-spacing: -1%;
}

.thylacine-in-modern__heading span {
    font-size: 22.222vw;
    line-height: normal;
    letter-spacing: -0.11em;
    background: linear-gradient(180deg, #FF7B31 0%, #B53C1F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-top: -5.159vw;
    margin-left: -4.365vw;
}

.thylacine-in-modern__image {
    max-width: 50vw;
    margin-top: -26.455vw;
}

.thylacine-in-modern__subheading {
    font-size: 8.296vw;
    line-height: 0.853;
    background:
        linear-gradient(180deg, rgba(255, 123, 49, 0.68) 41.12%, rgba(255, 255, 255, 0) 166.12%), linear-gradient(0deg, #F4F4F4, #F4F4F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-top: -10.119vw;
}

.thylacine-stamps__header {
    margin-bottom: 5.622vw;
}

.thylacine-stamps__title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    max-width: 69.577vw;
}

.thylacine-stamps .lasting-symbol {
    gap: 1.323vw;
    padding-top: 11.442vw;
}

.thylacine-stamps .lasting-symbol__left,
.thylacine-stamps .lasting-symbol__right {
    width: calc(50% - 0.661vw);
    min-height: 41.534vw;
    border-radius: 1.058vw;
    position: relative;
    padding: 2.249vw 2.381vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.175vw;
    color: #fff;
}

.thylacine-stamps .lasting-symbol__left::before,
.thylacine-stamps .lasting-symbol__right::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: url('../img/thylacine-culture/grid-3.png') no-repeat center / cover;
    z-index: 1;
    pointer-events: none;
}



.thylacine-stamps .lasting-symbol__title {
    font-weight: 700;
    font-size: 2.646vw;
    line-height: 1;
    letter-spacing: 0.011em;
    text-align: center;
    position: relative;
    font-family: 'Telegraf';
    z-index: 2;
    padding-top: 2.249vw;

}

.thylacine-stamps .lasting-symbol__desc {
    color: #979797;
    position: relative;
    z-index: 2;
}

.thylacine-stamps .lasting-symbol__desc strong {
    color: #fff;
}

.thylacine-stamps .lasting-symbol__left .lasting-symbol__desc {
    max-width: 33.598vw;
}

.thylacine-stamps .lasting-symbol__image {
    position: absolute;
    max-width: unset;
    z-index: 1;
}

.thylacine-stamps .lasting-symbol__left .lasting-symbol__image {
    width: 100%;
    left: 0;
    bottom: 0;

}

.thylacine-stamps .lasting-symbol__right .lasting-symbol__image {
    width: 68.254vw;
    left: 50%;
    transform: translateX(-50%);
    top: -5.291vw;
}

.lasting-symbol__bg {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: inherit;
}

.thylacine-stamps {
    padding-bottom: 4.497vw;
}

.ancient-artifacts.australian-postage-stamps {
    padding: 0 0 7.407vw;
}

.ancient-artifacts.australian-postage-stamps .heading {
    font-size: 2.646vw;
    line-height: 1;
    letter-spacing: 0.011em;
    margin-bottom: 0.331vw;
}

.ancient-artifacts.australian-postage-stamps .subheading {
    font-size: 0.731vw;
    letter-spacing: 0.037em;
}

.ancient-artifacts.australian-postage-stamps .artifact-label {
    top: 1.323vw;
}


.ancient-artifacts.australian-postage-stamps .artifact-swiper {
    padding-top: 2.976vw;
}

.ancient-artifacts.australian-postage-stamps .artifact-swiper .swiper-slide {
    transform: scale(0.6) translateZ(0);
}

.ancient-artifacts.australian-postage-stamps .artifact-slide img {
    width: 100%;
}

.australian-postage-stamps__content {
    max-width: 70.04vw;
    padding-left: 7.672vw;

}

.thylacine-film-tv__header .row-1 {
    margin-bottom: 11.706vw;
}

.thylacine-film-tv__heading {
    font-size: 13.499vw;
    line-height: 0.77;
    letter-spacing: -1%;
}

.thylacine-film-tv__header-grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #FFFFFF -2.89%, rgba(255, 255, 255, 0) 25.68%);
}

.thylacine-film-tv__header-images {
    margin-top: -13.624vw;
}

.thylacine-film-tv__header-images .img-1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.thylacine-film-tv__header-images .img-2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 68.97%, #000000 89.96%);
}

.thylacine-film-tv__header-images .img-3 {
    width: 58.333vw;
    bottom: 0;
    left: -21%;
}

.thylacine-film-tv__header-images .img-3::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 73.08%, #000000 90.32%);
}

.thylacine-film-tv__header-images .img-4 {
    width: 24.603vw;
    bottom: -1.323vw;
    left: 25%;
}

.thylacine-film-tv__header-images .img-4::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.24%, #000000 100%);
}

.thylacine-film-tv__header-images .img-5 {
    width: 44.643vw;
    right: -8%;
    bottom: -14.947vw;
}

.thylacine-film-tv__header-images .text-1 {
    right: 8%;
    bottom: 16.071vw;
    font-size: 6.673vw;
    line-height: 0.74;
    letter-spacing: -0.125em;
    transform: rotate(-11.85deg);
}

.thylacine-film-tv__header-images .text-2 {
    font-size: 1.878vw;
    line-height: 0.74;
    right: 19%;
    bottom: -1.653vw;
    width: 9.921vw;
    transform: rotate(1.96deg);
}

.thylacine-film-tv__content {
    padding: 4.167vw 0 0;
}

.thylacine-film-tv__content .row-1 {
    margin-bottom: 4.233vw;
}

.thylacine-film-tv__content-desc {
    max-width: 63.889vw;
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    margin-bottom: 10.78vw;
}

.extinct-or-alive .title {
    font-size: 8.558vw;
    line-height: 0.788;
    margin-bottom: -2.513vw;
    z-index: 3;
}

.extinct-or-alive .title span {
    font-size: 10.237vw;
    line-height: 0.788;
    letter-spacing: -0.047em;
    margin-bottom: -1.72vw;
}

.extinct-or-alive .clsl-lab-video {
    margin-bottom: 3.307vw;
}

.extinct-or-alive .content-bottom .hub-text-medium {
    line-height: 1.375;
}

.extinct-or-alive .content-bottom .square {
    margin-top: 0.331vw;
}

.extinct-or-alive .content-bottom .column-1 {
    width: 34%;
    gap: 0.661vw 7.275vw;
    padding-right: 1.587vw;
}

.extinct-or-alive .content-bottom .column-2 {
    padding-right: 1.587vw;
    width: 23%;
}

.extinct-or-alive .content-bottom .column-3 {
    width: 43%;
    gap: 1.587vw;
}

.extinct-or-alive .content-bottom .column-3 p {
    max-width: 37.169vw;
}

.extinct-or-alive {
    padding-bottom: 9.061vw;
}

.thylacine-film-tv-sec .documentary-grid {
    position: absolute;
    pointer-events: none;
    left: 0;
    width: 100%;
    top: -20.503vw;
}

.thylacine-film-tv-sec .documentary-grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 67.35%, #000000 100%),
        linear-gradient(180deg, #000000 18.26%, rgba(0, 0, 0, 0) 45.18%);
}

.thylacine-film-tv-sec .documentary-row-1 .left {
    width: 59%;
    padding-right: 3.968vw;
    padding-left: 4.828vw;
}

.thylacine-film-tv-sec .documentary-row-1 .right {
    flex: 41%;
}

.thylacine-film-tv-sec .documentary-row-1 .video {
    aspect-ratio: 682/362;
    border-radius: 1.455vw;
}

.thylacine-film-tv-sec .documentary-row-1 .title {
    font-size: 2.646vw;
    line-height: 1;
    letter-spacing: 0.011em;
}

.thylacine-film-tv-sec .documentary-row-1 .desc {
    color: #979797;
    padding-top: 2.116vw;
}

.thylacine-film-tv-sec .documentary-row-1 .right-row {
    gap: 1.587vw;
}

.thylacine-film-tv-sec .documentary-row-1 .image {
    border-radius: 1.323vw;
}

.thylacine-film-tv-sec .documentary-row-1 .image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #000000 8.46%, rgba(0, 0, 0, 0) 43.35%);
    pointer-events: none;
}

.thylacine-film-tv-sec .documentary-row-1 {
    padding-bottom: 5.291vw;
}

.thylacine-film-tv-sec .documentary-row-2 .left {
    width: 59.3%;
    padding-right: 6.812vw;
    padding-left: 25.5%;
}

.thylacine-film-tv-sec .documentary-row-2 .right {
    width: 40.7%;
    padding-top: 1.653vw;
}

.thylacine-film-tv-sec .documentary-row-2 .desc {
    color: #979797;
}

.thylacine-film-tv-sec .documentary-row-2 .image {
    position: relative;
    border-radius: 1.058vw;
    margin-bottom: 2.976vw;
}

.thylacine-film-tv-sec .documentary-row-2 .image img {
    border-radius: inherit;
}

.thylacine-film-tv-sec .documentary-row-2 .image-caption {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -6.085vw;
    font-size: 3.571vw;
    line-height: 1;
    letter-spacing: 0.01em;
}

.thylacine-film-tv-sec .documentary-row-2 .image-caption span {
    font-size: 6.746vw;
    letter-spacing: -0.166em;
    margin-bottom: -2.116vw;
}

.thylacine-film-tv-sec .documentary-row-2 .image::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(180deg,
            #FFFFFF 0%,
            #979797 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.thylacine-film-tv-sec .documentary-row-2 .right .image {
    border-radius: 1.323vw;
}

.thylacine-film-tv-sec .documentary-row-2 .right .image::before {
    background: linear-gradient(180deg,
            #D9D9D9 0%,
            #666666 100%);
}

.thylacine-film-tv-sec .documentary-row-2 .right .desc {
    padding-left: 7.672vw;
}

.thylacine-film-tv-sec .documentary .the-hunter {
    position: absolute;
    left: 0;
    top: 3.704vw;
    width: 49.339vw;
}

.thylacine-film-tv-sec .documentary .the-hunter::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.06%, #000000 74.83%);

}

.thylacine-film-tv-sec .documentary .the-hunter__logo {
    position: absolute;
    z-index: 2;
    width: 20.238vw;
    top: 35%;
    left: 37%;
}

.wild-kratts__logo {
    max-width: 30.622vw;
    margin-top: -5.159vw;
}

.wild-kratts__video-wrap {
    max-width: 46.098vw;
    padding: 4.63vw 3.439vw;
    margin-top: -6.746vw;
}

.wild-kratts__video-wrap .video-border {
    width: 3.307vw;
    height: 3.307vw;
    border: 1px solid #828282;
}

.wild-kratts__video-wrap .video-border.border-top-left {
    border-bottom: none;
    border-right: none;
}

.wild-kratts__video-wrap .video-border.border-top-right {
    border-bottom: none;
    border-left: none;
}

.wild-kratts__video-wrap .video-border.border-bottom-left {
    border-top: none;
    border-right: none;
}

.wild-kratts__video-wrap .video-border.border-bottom-right {
    border-top: none;
    border-left: none;
}

.wild-kratts__video {
    aspect-ratio: 593/320;
    box-shadow: 0px 25px 20.3px -11px #00000040;
}

.wild-kratts__video::before,
.wild-kratts__video::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}

.wild-kratts__video::after {
    background: rgba(108, 108, 108, 0.2);
}

.wild-kratts__desc {
    position: absolute;
    top: 12%;
    left: 0;
    width: 24.206vw;
    color: #979797;
    z-index: 2;
}

.wild-kratts__desc a {
    color: inherit !important;
}

.wild-kratts__desc a:hover {
    color: #fff !important;
}

.wild-kratts__line {
    position: absolute;
    top: 16%;
    left: 23%;
    width: 10.053vw;
}

.wild-kratts__actor {
    position: absolute;
    bottom: 1.455vw;
    z-index: 1;
}

.wild-kratts__actor-name {
    position: absolute;
    z-index: 2;
    font-size: 1.587vw;
    text-align: center;
    left: 0;
    width: 100%;
    bottom: 31%;
}

.wild-kratts__actor.actor-1 {
    width: 24.14vw;
    left: -0.265vw;
}

.wild-kratts__actor.actor-2 {
    width: 34.788vw;
    right: -8.862vw;
}

.wild-kratts__actor.actor-2 .wild-kratts__actor-name {
    bottom: 33%;
}

.wild-kratts {
    padding-bottom: 5.291vw;
}

.the-peripheral {
    padding: 5.886vw 0 4.563vw;
}

.the-peripheral::before,
.the-peripheral::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.the-peripheral::before {
    background: url('../img/2000W_grid.png') no-repeat center / cover;
    opacity: 0.5;
}

.the-peripheral::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.the-peripheral .content-1 {
    max-width: 37.368vw;
}

.the-peripheral .title {
    font-size: 6.746vw;
    line-height: 1;
    letter-spacing: -0.166em;
    position: absolute;
    z-index: 2;
    white-space: nowrap;
}

.the-peripheral .content-1 .title {
    top: -1.984vw;
    left: 3.571vw;
    transform: rotate(1.59deg);
}

.the-peripheral .content-1 .title span:nth-child(2) {
    font-size: 6.085vw;
    line-height: 1.1;
    letter-spacing: -0.18em;
}

.the-peripheral .content-1 .title span:nth-child(3) {
    font-size: 5.556vw;
    line-height: 1.2;
    letter-spacing: -0.2em;
}

.the-peripheral .desc {
    color: #979797;
    margin-top: 3.175vw;
    max-width: 29.497vw;
}

.the-peripheral .image {
    max-width: 37.368vw;
}

.the-peripheral .image img {
    border-radius: inherit;
}

.the-peripheral .image::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(90deg,
            #B3B3B3 0%,
            #000000 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    border: 1px solid;
}

.the-peripheral .content-2 {
    max-width: 52.646vw;
    margin-left: auto;
    margin-top: -3.439vw;
}

.the-peripheral .content-2 .image {
    background: linear-gradient(180deg, #000000 0%, #B3B3B3 100%);
}

.the-peripheral .content-2 .title {
    top: auto;
    bottom: 1.72vw;
    left: auto;
    right: 2.447vw;
    transform: rotate(-8.14deg);
}

.the-peripheral__logo {
    top: 1.984vw;
    right: 11.905vw;
    width: 29.63vw;
}

.the-peripheral .image-deco {
    right: 0;
    bottom: 0;
    width: 49.339vw;
}

.the-peripheral .image-deco::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

}

.the-peripheral .text-show-setting {
    font-size: 1.587vw;
    bottom: 0;
    left: 4.233vw;
}

.the-peripheral .text-date {
    font-size: 1.587vw;
    bottom: 0;
    right: 4.233vw;
}

.thylacinel-culture-music__banner .banner-top {
    margin-top: -7.407vw;
    padding: 11.376vw 0 15.939vw;
}

.thylacinel-culture-music__banner .banner-top__bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55.05%, #000000 98.33%),
        linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 27.39%);
    pointer-events: none;
    z-index: 2;
}

.thylacinel-culture-music__banner .banner-top__bg {
    mix-blend-mode: lighten;
}

.thylacinel-culture-music__banner .banner-top__header {
    gap: 1.653vw;
    margin-bottom: 13.228vw;
}

.thylacinel-culture-music__banner .banner-top__header p {
    font-size: 0.794vw;
    letter-spacing: 2%;
}

.thylacinel-culture-music__banner .banner-top__btn {
    display: inline-block;
    font-size: 1.19vw;
    line-height: 1.33;
    letter-spacing: 13%;
    padding: 0.728vw 1.124vw;
    border: 1.5px solid #FF7B31;
    background-color: #000;
    color: #FF7B31;
    border-radius: 3.968vw;
}

.thylacinel-culture-music__banner .banner-top__btn:hover {
    background-color: #FF7B31;
    color: #000;
}

.thylacinel-culture-music__banner .banner-top__subheading {
    font-size: 10.237vw;
    line-height: 0.79;
    letter-spacing: -0.047em;
    margin-bottom: -2.315vw;
    z-index: 3;
}

.thylacinel-culture-music__banner .banner-top__heading {
    font-size: 26.651vw;
    line-height: 0.769;
    letter-spacing: -1%;
    margin-bottom: 0.265vw;
}

.thylacinel-culture-music__banner .banner-top__row-1 {
    font-size: 0.661vw;
    line-height: 100%;
    letter-spacing: 0.148em;
    margin-bottom: 2.513vw;
}

.thylacinel-culture-music__banner .banner-top__row-1 .column {
    gap: 1.984vw;
}

.thylacinel-culture-music__banner .banner-top__row-1 .line-text {
    font-size: 0.661vw;
    line-height: 100%;
    letter-spacing: 0.045em;
}

.thylacinel-culture-music__banner .banner-top__row-2 {
    font-size: 1.874vw;
    letter-spacing: 0.026em;
}

.thylacinel-culture-music__banner .banner-top__row-2 .column {
    gap: 2.116vw;
}

.thylacinel-culture-music__banner .banner-top__row-2 .square {
    width: 1.323vw;
    height: 1.323vw;
}

.thylacinel-culture-music__banner .banner-bottom {
    min-height: 77.116vw;
    margin-top: -38.36vw;
}

.thylacinel-culture-music__banner .banner-bottom-bg-1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(102, 102, 102, 0) 100%);
}

.thylacinel-culture-music__banner .banner-bottom-bg-2 {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 3.704vw);
}

.thylacinel-culture-music__banner .banner-bottom-bg-2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80.7%, #000000 100%);
}

.thylacinel-culture-music-sec .rst-music-description {
    z-index: 3;
}

.thylacinel-culture-music-sec .rst-music-description {
    max-width: 79.365vw;
    margin-top: -3.108vw;
    margin-bottom: 4.828vw;
}

.rst-logo-bands__text {
    left: 0;
    width: 100%;
    top: 41%;
    font-size: 7.712vw;
    line-height: 1.1;
    letter-spacing: 0.009em;
    background: linear-gradient(180deg, #979797 0%, #FF7B31 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.cs-list-bands__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.116vw;
}

.cs-list-bands__left,
.cs-list-bands__right {
    display: flex;
    flex-direction: column;
    gap: 1.72vw;
}

.cs-list-bands__item {
    min-height: 18.519vw;
    border-radius: 1.455vw;
    position: relative;
    height: 100%;
}

.cs-list-bands__item img {
    border-radius: inherit;
}

.cs-list-bands__item.item-3 {
    min-height: 26.19vw;
}

.cs-list-bands__item.item-3 .img-deco {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
}

.cs-list-bands__item .cate {
    position: absolute;
    z-index: 2;
    top: 1.19vw;
    left: 1.058vw;
    font-size: 0.653vw;
    padding: 0.331vw 0.397vw;
}

.cs-list-bands__item .cate .cate-dot {
    width: 0.529vw;
    height: 0.529vw;
}

.thylacinel-culture-music-sec .the-wiggles {
    padding: 9.392vw 0 0;
}

.thylacinel-culture-music-sec .the-wiggles__grid {
    top: -6.481vw;
}

.thylacinel-culture-music-sec .the-wiggles__grid::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 67.35%, #000000 100%),
        linear-gradient(180deg, #000000 18.26%, rgba(0, 0, 0, 0) 45.18%);
}

.the-wiggles__heading {
    font-size: 18.049vw;
    line-height: 0.77;
    letter-spacing: -6%;
    margin-bottom: 1.984vw;
    color: #FF6B00;
}

.the-wiggles__heading span {
    font-size: 7.937vw;
    line-height: 110.00000000000001%;
    letter-spacing: 0.009em;
    color: #FBFAF8;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}

.the-wiggles__video {
    max-width: 50.066vw;
    aspect-ratio: 757/422;
}

.the-wiggles__video-wrap .video-caption {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    text-align: center;
    left: 3%;
    width: 100%;
    font-size: 4.63vw;
    line-height: 110.00000000000001%;
    letter-spacing: 1.04em;
    color: #FBFAF8;
}

.the-wiggles__bottom {
    margin-top: 2.249vw;
}

.the-wiggles__bottom p {
    max-width: 17.989vw;
}

.the-wiggles__bottom .column-3 p {
    max-width: 17.262vw;
}

.the-wiggles__btn {
    display: inline-flex;
    align-items: center;
    gap: 0.86vw;
    color: #FF7B31;
    padding: 0.728vw 1.124vw;
    font-size: 1.19vw;
    line-height: 1.33;
    letter-spacing: 13%;
    font-family: 'NB Architekt Std';
    border: 1.5px solid #FF7B31;
    border-radius: 3.968vw;
}

.the-wiggles__btn svg {
    width: 0.794vw;
}

.the-wiggles__btn:hover {
    background-color: #FF7B31;
    color: #000;
}

.thylacine-culture-lore-page .rst-media-playlist-inner {
    background: #7DEA13;
}

.thylacine-culture-lore-page .rst-colossal-playlist-container .cs-text-right {
    font-size: 0.661vw;
    line-height: 100%;
    letter-spacing: 0.09em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: -9.458vw;
}

.thylacine-culture-lore-page .rst-stone-record {
    width: 71.693vw;
    top: -2.447vw;
    left: 9.921vw;
    filter: drop-shadow(0px 36px 16.6px #000000BF);
}

.thylacine-culture-lore-page .rst-colossal-playlist-text {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,
            #979797 0%,
            #FF7B31 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.thylacine-culture-lore-page .rst-colossal-playlist {
    padding-bottom: 15.939vw;
}