.thylacine-culture-lore-sec .cul-center-box {
    margin-top: -14vw;
}

.thylacine-culture-lore-sec .culture-lore-main {
    height: 86.243vw;
    padding-top: 31.349vw;
}

.thylacine-culture-lore-sec .culture-lore-main::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(180deg, rgba(151, 151, 151, 0) 51.28%, #9940DD 95.15%);
    pointer-events: none;
}

.thylacine-culture-lore-sec .culture-lore-heading {
    font-size: 13.539vw;
    margin-bottom: 8.446vw;
}

.thylacine-culture-lore-sec .mt-text {
    margin-top: 1vw;
}

.thylacine-culture-lore-sec .text {
    font-size: 0.794vw;
}

/*******************/
.thylacine-shaping-sec .card-green::before {
    background: linear-gradient(180deg, rgba(255, 125, 49, 0) 38.97%, #FF7B31 100%);
    mix-blend-mode: exclusion;
}

.thylacine-shaping-sec .shaping-conversation-card.card-orange::before {
    background: linear-gradient(180deg, rgba(127, 234, 19, 0) 38.97%, #7DEA13 100%);
    mix-blend-mode: exclusion;
}

.thylacine-shaping-sec .mix-difference {
    letter-spacing: 0.02em;
}

.thylacine-shaping-sec .card-title {
    max-width: 72%;
}

.thylacine-shaping-sec .shaping-conversation-card.card-purple::before {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.302);
}

.thylacine-shaping-sec .shaping-conversation-card .card-image.right-img {
    object-fit: cover;
    object-position: right center;
}

.thylacine-shaping-sec .shaping-conversation-card .card-line-text {
    font-size: 0.926vw;
    line-height: 0.996vw;
    letter-spacing: -0.1em;
}

.thylacine-faqs-sec.faqs-sec {
    padding-top: 5.1vw;
    padding-bottom: 2.646vw;
}

.thylacine-faqs-sec .faqs-heading {
    font-size: 2.381vw;
    letter-spacing: 0.012em;
    padding-bottom: 3.7vw;
}

.thylacine-shaping-sec .shaping-conversation-card.small .card-content {
    padding: 1.19vw 1.323vw 1.7vw 1.521vw;
}

.thylacine-shaping-sec .shaping-conversation-card .card-content {
    padding: 1.323vw 1.72vw 2.1vw 1.852vw;
}

.thylacine-shaping-sec .card-title.text-bt {
    margin-bottom: 1.5vw;
    max-width: 31vw;
}

.thylacine-shaping-sec .shaping-conversation-card .card-desc {
    font-size: 0.794vw;
    padding-bottom: 0.15vw;
    padding-top: 0.3vw;
}

.thylacine-hub-page .mammoth-hero .mammoth-database {
    max-width: 40.563vw;
}

.thylacine-hub-page .medium-title {
    font-size: 3.704vw;
    line-height: 4.233vw;
}

.thylacine-revi-sec .explore-key {
    padding-top: 5.7vw;
}

.thylacine-hero .mammoth-hero-info .item:first-child {
    min-width: auto;
}

.thylacine-hero .mammoth-hero-info .item {
    letter-spacing: 0.02em;
    padding: 0.397vw 0.6vw;
}

.thylacine-hero .row-box-col {
    padding: 2.1vw 0;
    gap: 5.2vw;
}

.thylacine-hero .hero-tt-box {
    padding-bottom: 1.5vw;
}

.thylacine-hero .mammoth-hero-process .line-orange {
    height: 0.463vw;
    border-radius: 1.455vw;
    background: linear-gradient(90deg, #7DEA13 0%, #E0FF14 100%);
    box-shadow: 0 0 0.496vw 0 #7DEA13;
    left: -0.132vw;
}

.thy-slider-ex .explore-key-swiper .bg-media video,
.explore-key-swiper .bg-media.transform-scale11 img {
    transform: scale(1.1);
}

.thy-slider-ex .explore-key-swiper .content {
    background: #00000024;
}


.thy-about-se .earth-friend-content .inner {
    padding: 9.656vw 10.119vw 0;
}


.thy-about-sec .moa-about-img {
    height: 53.638vw;
    max-width: 100%;
}

.thy-about-sec .moa-about-img .bg-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thy-about-sec .moa-about-img .bg-1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.61%, #000000 85.93%),
        linear-gradient(180deg, #9940DD 0%, rgba(113, 95, 49, 0) 50.06%);

}

.thy-about-sec .moa-about-img img {
    margin: 0;
    left: 0vw;
}

.thy-about-sec .moa-about-img .bg-2 {
    position: absolute;
    top: -1.72vw;
    left: 0;
    width: 100%;
    height: 48.148vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62.52%, #000000 93.71%);

}

.thy-about-sec .moa-about-img .bg-2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62.52%, #000000 93.71%);
    z-index: 4;
}

.thy-about-sec .moa-about-img {
    margin-top: 4.5vw;
}

.thy-about-sec .earth-friend-content::before {
    background: linear-gradient(180deg, #7DEA13 4.36%, #9940DD 36%);
    top: 0;
}

.thylacine-revi-sec.reviving-mammoth-sec {
    padding-bottom: 0;
}

.thylacine-slider.explore-key-swiper {
    padding: 5.754vw 0 4.7vw;
}

.earth-friend-content .inner {
    padding: 5.9vw 4.119vw 0;
    margin-bottom: -14.286vw;
}

.thy-about-sec .earth-friend-content .heading {
    padding: 5.532vw 0 0;
}

.thy-science-sec.science-action-sec {
    margin-top: -1.5vw;
    padding-top: 11.39vw;

}

.thy-science-sec.science-action-sec .inner-global {
    margin-bottom: 19.151vw;
}


.thy-science-sec .science-action-content .left .square-lg {
    right: 3.5vw;
    top: 2.61vw;
}

.thy-science-sec .science-action-content .right .plus-2,
.thy-science-sec .science-action-content .right .plus-4 {
    top: 1.984vw;
    right: 1.5vw;
}



.thy-science-sec .science-action-content .left .title {
    font-size: 2.646vw;
    letter-spacing: 0.02225em;
    margin-bottom: 18.839vw;
}

.thy-step-de .step-de-extinction .content-top .box-1 .time {
    font-size: 1.852vw;
    line-height: 1.27vw;
    padding-bottom: 1vw;
}

.thy-step-de .step-de-extinction {
    padding: 3.68vw 2.183vw 3.836vw;
}


.thy-step-de .step-de-extinction .content-top .video {
    left: 0.5vw;
}

.thy-step-de .step-de-extinction .content-top {
    margin-bottom: 3.2vw;
}

.thy-step-de .step-global .text-2 {
    white-space: nowrap;
}

.thy-step-de .step-de-extinction .step-list {
    padding-left: 0.4vw;
}

.thy-sec-ac-video.science-action-video-wrapper .clsl-lab-video-toggle {
    bottom: 2.9vw;
    right: 4.2vw;
}

.thylacine-intro-sec .bg-top {
    position: absolute;
    top: -3.307vw;
    left: 0;
    width: 100%;
    mix-blend-mode: darken;
    opacity: 0.86;
    z-index: 2;
}

.thylacine-hub-page .woolly-mammoths-sec .bg-1::before {
    background: linear-gradient(180deg, #FFFFFF 23.28%, rgba(255, 255, 255, 0) 50%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 77.57%, #000000 100%);
    opacity: 1;
}

.thylacine-hub-page .woolly-mammoths-sec .bg-1::after {
    display: none;
}

.thylacine-intro-sec .bg-top::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(113, 95, 49, 0.7) 4.85%, rgba(113, 95, 49, 0) 63.66%);
}

.thylacine-hub-page .woolly-mammoths-sec .woolly-mammoths-img::before {
    display: none;
}

.thylacine-hub-page .woolly-mammoths-sec .woolly-mammoths-img {
    margin-top: -38.989vw;
}

.thylacine-hub-page .woolly-mammoths-sec .woolly-mammoths-img img {
    transform: rotate(-4.53deg);
}

.thylacine-hub-page .woolly-mammoths-sec .heading {
    font-size: 16.931vw;
    line-height: 1.0703125;
    letter-spacing: 0.035em;
}

.thylacine-hub-page .woolly-mammoths-sec .heading-1 {
    margin: 0;
}

.thylacine-hub-page .woolly-mammoths-sec .heading-2 {
    margin: 0;
    margin-top: 0.794vw;
    z-index: 3;
}

.thylacine-hub-page .moa-intro-bottom {
    position: static;
    margin-top: -31.944vw;
    padding-bottom: 10.847vw;
}

.thylacine-hub-page .moa-intro-bottom .title {
    background:
        linear-gradient(180deg, #715F31 18.99%, rgba(255, 255, 255, 0) 90.31%), linear-gradient(0deg, #FF7B31, #FF7B31);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-bottom: 0;
    margin-bottom: 17.063vw;
}

.thylacine-hub-page .moa-intro-bottom .bottom-row.row-1 {
    margin-bottom: 12.037vw;
}

.thylacine-hub-page .moa-intro-bottom .bottom-row.row-2 .column-1 .square {
    background: #D9D9D9;
    width: 1.587vw;
    height: 1.587vw;
    margin: 0;
}

.thylacine-hub-page .moa-intro-bottom .bottom-row.row-2 .column-1 {
    font-size: 2.249vw;
    line-height: 0.7;
    letter-spacing: 0.026em;
    gap: 1.058vw;
}

.thylacine-hub-page .woolly-mammoths-sec .woolly-mammoths-img .text {
    top: 30.9% !important;
}

.thylacine-hub-page .moa-habitat-sec::before {
    display: none;
}

.thylacine-hub-page .moa-habitat-sec {
    margin-top: 0;
}

.thylacine-hub-page .moa-habitat-sec .map-wrapper {
    margin-top: -48.545vw;
}

.thylacine-hub-page .moa-habitat-sec .map-img {
    max-width: 57.804vw;
    margin: 0 auto;
}

.thylacine-hub-page .moa-habitat-sec .map-img .image {
    margin-left: -1.587vw;
}

.thylacine-hub-page .moa-habitat-sec .map-img .position {
    position: absolute;
    z-index: 2;
    width: 5.225vw;
    height: 5.225vw;
    border-radius: 0.794vw;
    border: 1px solid #979797;
    mix-blend-mode: screen;
}

.thylacine-hub-page .moa-habitat-sec .map-img .position.position-1 {
    bottom: 29%;
    left: 18.5%;
}

.thylacine-hub-page .moa-habitat-sec .map-img .position.position-2 {
    bottom: 37.5%;
    left: 33.5%;
}

.thylacine-hub-page .moa-habitat-sec .map-img .position.position-3 {
    bottom: 25.5%;
    right: 23.5%;
}

.thylacine-hub-page .moa-habitat-sec .map-img .position.position-4 {
    bottom: 6.5%;
    right: 28%;
}

.thylacine-hub-page .moa-habitat-sec .map-img .map-line {
    position: absolute;
    bottom: 33.9%;
    left: 23.8%;
    width: 12.566vw;
    z-index: 1;
}

.thylacine-hub-page .moa-habitat-sec .map-img .square-plus {
    position: absolute;
    z-index: 1;
    bottom: 32%;
    left: 51%;
    width: 1.786vw;
    height: 1.786vw;
}

.thylacine-hub-page .moa-habitat-sec .map-img .square-plus img {
    width: 0.661vw;

}

.thylacine-hub-page .moa-habitat-sec .map-content {
    max-width: 66.667vw;
    margin: -7.937vw auto 0;
}

.thylacine-hub-page .moa-habitat-sec .location-data {
    display: flex;
    padding-bottom: 4.365vw;
}

.thylacine-hub-page .moa-habitat-sec .location-data .left {
    width: 58%;
}

.thylacine-hub-page .moa-habitat-sec .location-data .right {
    width: 42%;
    padding: 6.151vw 0 0 3.968vw;
}

.thylacine-hub-page .moa-habitat-sec .location-data .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    margin-bottom: 2.712vw;
}

.thylacine-hub-page .moa-habitat-sec .location-data .list {
    gap: 0.529vw;
}

.thylacine-hub-page .moa-habitat-sec .location-data .list .item {
    font-size: 1.058vw;
    line-height: 1;
    color: #5E5E5E;
    position: relative;
    cursor: pointer;
}

.thylacine-hub-page .moa-habitat-sec .location-data .list .item:hover {
    color: #F4F4F4;
}

.thylacine-hub-page .moa-habitat-sec .location-data .list .item.active {
    color: #F4F4F4;
}

.thylacine-hub-page .moa-habitat-sec .location-data .list .item::before {
    content: "<<<";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3.968vw;
    font-size: 0.926vw;
    letter-spacing: 2%;
    opacity: 0;
    transition: all 0.3s ease;
}

.thylacine-hub-page .moa-habitat-sec .location-data .list .item.active::before {
    opacity: 1;
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap {
    max-width: 31.878vw;
    height: 29.894vw;
    margin: -6.085vw auto 0;
    left: 0.661vw;
    padding: 2.712vw 3.108vw;
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .border-img {
    width: 1.786vw;
    height: 1.786vw;
    border: 1px solid #828282;
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .border-img.border-top-left {
    border-bottom: none;
    border-right: none;
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .border-img.border-top-right {
    border-bottom: none;
    border-left: none;
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .border-img.border-bottom-left {
    border-top: none;
    border-right: none;
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .border-img.border-bottom-right {
    border-top: none;
    border-left: none;
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .box {
    width: 100%;
    height: 100%;
    border: 0.132vw solid;
    border-image: linear-gradient(180deg,
            #9940DD 0%,
            #B5B5B5 100%) 1;
    padding: 0.794vw;
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .box-inner img {
    border: 1px solid #4F4F4F;
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .border-box {
    width: 1.323vw;
    height: 1.323vw;
    background-color: #4F4F4F;
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .border-box.border-top-left {
    clip-path: polygon(0% 0%, 99.2% 0%, 0% 98.4%);
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .border-box.border-top-right {
    clip-path: polygon(99.2% 0%, 0% 0%, 99.2% 98.4%);
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .border-box.border-bottom-left {
    clip-path: polygon(0% 98.4%, 99.2% 98.4%, 0% 0%);
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .border-box.border-bottom-right {
    clip-path: polygon(99.2% 98.4%, 0% 98.4%, 99.2% 0%);
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .ecosystem-name {
    font-size: 1.093vw;
    line-height: 1.45;
    color: #4F4F4F;
    position: absolute;
    bottom: -0.397vw;
    left: 0;
    width: 100%;
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .map-ecosystem__line {
    position: absolute;
    top: var(--line-top, 0%);
    left: var(--line-left, 0%);
    width: var(--line-width, 16.204vw);
    height: 0.132vw;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background: linear-gradient(to left, #000000 0.5%, #9940DD 35.9%);
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .map-ecosystem__line.vertical {
    height: var(--line-width, 16.204vw);
    width: 0.132vw;
    background: linear-gradient(to bottom, #000000 0.5%, #9940DD 35.9%);
}

.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .map-ecosystem__line.horizontal.add-line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.132vw;
    background: #9940DD;
    height: var(--line-height, 6.614vw);
}



.thylacine-hub-page .moa-habitat-sec .location-data .map-ecosystem-wrap .map-ecosystem__line.active {
    opacity: 1;
    visibility: visible;
}

.thylacine-hub-page .moa-habitat-sec .location-data .text-1 {
    top: 0.463vw;
    left: -1.72vw;
    font-size: 0.874vw;
    letter-spacing: 2%;
    z-index: 2;
}

.thylacine-hub-page .moa-habitat-sec .location-data .text-2 {
    font-size: 0.992vw;
    letter-spacing: 2%;
    top: 2.91vw;
    left: -1.72vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts {
    padding: 1.323vw 0 10.979vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .img-bg {
    width: 83.333vw;
    max-width: unset;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .label {
    font-size: 0.992vw;
    letter-spacing: 2%;
    margin-bottom: 1.455vw;
    padding-left: 1.984vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .square-1 {
    width: 2.183vw;
    height: 2.183vw;
    position: absolute;
    top: 0;
    right: 1.984vw;

}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .title {
    font-size: 2.646vw;
    line-height: 0.775;
    letter-spacing: -0.025em;
    padding-bottom: 0.529vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .desc {
    max-width: 21.495vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .content-top {
    padding: 0 1.984vw 0.794vw;
    border-bottom: 1.64px dashed #000;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .content-top__left {
    width: 48%;
    padding-right: 3.836vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .content-top__right {
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .text-plus {
    font-size: 1.323vw;
    letter-spacing: 2%;

}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .content-bottom {
    padding: 2.116vw 1.984vw 1.587vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .content-bottom .label {
    padding-left: 0;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .content-bottom .row-1 .left {
    padding-right: 1.124vw;
    width: 48%;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .content-bottom .row-1 .right {
    width: 52%;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .content-bottom .images {
    gap: 1.058vw;
    margin-top: 2.447vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .content-bottom .logo-list {
    width: 9.656vw;
    margin-top: 1.455vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .content-bottom .thylacine-split-black-img {
    width: 18.849vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .subtitle {
    font-size: 1.731vw;
    max-width: 20.833vw;
    margin-top: 1.786vw;
    margin-bottom: 2.976vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .text-detail {
    font-size: 1.159vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .content-bottom .line-text {
    font-size: 3.175vw;
    letter-spacing: -17%;
    margin-top: 1.058vw;
    margin-left: 11.442vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content {
    position: absolute;
    z-index: 2;
    bottom: 12%;
    right: -13%;
    width: 18.717vw;
    height: 26.124vw;
    padding: 1.323vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .border-img {
    width: 1.323vw;
    height: 1.323vw;
    border: 1px solid #828282;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .border-img.border-top-right {
    border-bottom: none;
    border-left: none;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .border-img.border-bottom-left {
    border-top: none;
    border-right: none;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .border-img.border-bottom-right {
    border-top: none;
    border-left: none;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .box {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-image: linear-gradient(180deg, #4F4F4F 0%, #B5B5B5 100%) 1;
    padding: 0.529vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .video {
    width: 100%;
    height: 100%;
    position: relative;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .video::before,
.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .video::after {
    content: "";
    position: absolute;
    inset: 0;
    mix-blend-mode: difference;
    pointer-events: none;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .video::before {
    background: rgb(130, 130, 130, 0.23);
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .video::after {
    background: url('../img/thylacine-hub/grid-1.png') no-repeat center / cover;
    opacity: 0.55;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .label-video {
    position: absolute;
    top: 0.926vw;
    right: 1.323vw;
    font-size: 0.529vw;
    letter-spacing: 2%;
    gap: 0.992vw;
    z-index: 2;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .text-source {
    font-size: 0.529vw;
    letter-spacing: 2%;
    margin-top: 0.198vw;
}

.thylacine-hub-page .moa-habitat-sec .habitat-facts .video-content .video-name {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1.852vw;
    font-size: 0.661vw;
    z-index: 2;
}

.thylacine-hub-page .moa-habitat-content .img-1 {
    position: absolute;
    bottom: 0;
    left: -11.243vw;
    width: 22.288vw;
    border: 1px solid #B3B3B3;
    z-index: 3;
}

.thylacine-hub-page .moa-habitat-content .text-global {
    position: absolute;
    top: 16.5%;
    left: -11%;
}

.thylacine-hub-page .moa-habitat-content .text-location {
    position: absolute;
    top: 16.5%;
    right: -12.5%;
}

.thylacine-hub-page .moa-habitat-content .text-systems {
    position: absolute;
    top: 45.5%;
    right: -11.5%;
}

.thylacine-hub-page .moa-habitat-content .square-left,
.thylacine-hub-page .moa-habitat-content .square-right {
    position: absolute;
    top: 30.5%;
}

.thylacine-hub-page .moa-habitat-content .square-left {
    left: -9%;
}

.thylacine-hub-page .moa-habitat-content .square-right {
    right: -9%;
}

.thylacine-hub-page .moa-habitat-content .square-bottom {
    right: 14%;
    bottom: 3.5%;
    position: absolute;
    z-index: 2;
}

.thylacine-hub-page .moa-habitat-content .square-plus-1 {
    position: absolute;
    top: 50.5%;
    right: -13%;
}

.thylacine-hub-page .moa-habitat-grid {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 66.138vw;
}

.thylacine-hub-page .moa-info-sec .tusks-main .tusks-desc {
    max-width: 74.537vw;
    margin: 0 auto 9.854vw;
}

.thylacine-hub-page .moa-info-sec .tusks-main .row-2 .left .text {
    max-width: 17.526vw;
}

.thylacine-hub-page .moa-info-sec .tusks-main .row-2 .left {
    width: 39.4%;
}

.thylacine-hub-page .moa-info-sec .tusks-main .row-2 .right {
    width: 60.6%;
}

.thylacine-hub-page .tusks-main .tusks-heading-1 {
    width: 130%;
    padding-top: 5.357vw;
}

.thylacine-hub-page .moa-info-sec .tusks-main .row-2 .right .image-1 {
    width: 35%;
    margin-top: -3.77vw;
}


.thylacine-hub-page .tusks-main .row-2 .right-inner {
    width: 65%;
    padding-left: 6.415vw;
    padding-top: 1.124vw;
}

.thylacine-hub-page .tusks-main .striped-coat__label {
    margin-bottom: 1.984vw;
}

.thylacine-hub-page .tusks-main .tooth-img {
    width: 5.423vw;
    margin-top: 2.183vw;
}

.thylacine-hub-page .moa-info-sec .tusks-main .tusks-heading-2 {
    padding-top: 1.918vw;
    padding-bottom: 3.902vw;
    margin-left: -81%;
}

.thylacine-hub-page .tusks-sec.moa-info-sec .video-bg {
    aspect-ratio: 1512/800;
    margin-top: -8.979vw;
}

.thylacine-hub-page .mammoth-related-sec.moa-related-sec {
    padding-top: 10.053vw;
}

.thylacine-hub-page .mammoth-related-sec.moa-related-sec .mammoth-related-heading {
    padding-bottom: 12.235vw;
}

.thylacine-hub-page .mammoth-related-sec.moa-related-sec .mammoth-related-item .relative-ancestor {
    margin-bottom: 1.587vw;
}


.mammoth-related-sec.moa-related-sec .mammoth-related-main .column-3 .line-2 {
    width: 120%;
}

.mammoth-related-sec.moa-related-sec .mammoth-related-main .column-1 .line-2 {
    width: 120%;
}

.thylacine-hub-page .mammoth-related-sec.moa-related-sec .mammoth-related-main .column-2 .video-wrapper {
    margin-bottom: 5.968vw;
}

.thylacine-hub-page .mammoth-related-sec.moa-related-sec .mammoth-related-main .column-2 .desc p {
    margin-bottom: 5.489vw;
}

.thylacine-hub-page .mammoth-related-sec.moa-related-sec .animals-wrapper {
    padding-bottom: 0;
}

.thylacine-hub-page .mammoth-related-sec.moa-related-sec .asian-elephant {
    padding-bottom: 5.423vw;
}

.thylacine-hub-page .mammoth-related-sec.moa-related-sec .asian-elephant .title-text {
    max-width: 27.447vw;
}

.thylacine-hub-page .mammoth-related-sec.moa-related-sec .core-phenotype-differences .title {
    letter-spacing: 0.011em;
}

.thylacine-hub-page .core-phenotype-differences .title-bottom {
    margin-top: 2.646vw;
}

.thylacine-hub-page .core-phenotype-differences .video::before {
    display: none;
}

.thylacine-hub-page .core-phenotype-differences .body-part-1 .text {
    max-width: 5.688vw;
}

.thylacine-hub-page .core-phenotype-differences .body-part-1 .img-line {
    width: 6.878vw;
}

.thylacine-hub-page .core-phenotype-differences .video video {
    height: 86%;
    position: relative;
    top: 8%;
}

.thylacine-hub-page .core-phenotype-differences .body-part-2 .img-line {
    width: 1.653vw;
    left: -3.069vw;
}

.thylacine-hub-page .core-phenotype-differences .body-part-2 {
    top: 12%;
    left: 66%;
}

.thylacine-hub-page .core-phenotype-differences .body-part-3 {
    top: 65%;
    left: 9.5%;
    flex-direction: column;
}

.thylacine-hub-page .core-phenotype-differences .body-part-3 .img-line {
    width: 17.196vw;
    left: 0;
    top: 8.688vw;
}

.thylacine-hub-page .core-phenotype-differences .body-part .text {
    max-width: 6.746vw;
}

.thylacine-hub-page .core-phenotype-differences .body-part-4 {
    top: 64%;
    left: 79%;
}

.thylacine-hub-page .core-phenotype-differences .body-part-4 .img-line {
    width: 7.54vw;
    top: -3.042vw;
    left: -2.116vw;
}

.thylacine-hub-page .core-phenotype-differences .videos {
    margin-top: 4.233vw;
    gap: 10.979vw;
}

.thylacine-hub-page .core-phenotype-differences .video-1 {
    aspect-ratio: 170/96;
    width: 11.243vw;
    border: 1px solid #979797;
    flex-shrink: 0;
}

.thylacine-hub-page .core-phenotype-differences .video-2 {
    gap: 0.794vw;
    width: 21.23vw;
}

.thylacine-hub-page .core-phenotype-differences .video-2 .video-inner {
    aspect-ratio: 167/96;
    width: 11.045vw;
    flex-shrink: 0;
}

.thylacine-hub-page .core-phenotype-differences .videos .video-content p {
    font-size: 0.661vw;
    line-height: 1;
    letter-spacing: 1.7%;
}

.thylacine-hub-page .conservation-impact-sec.moa-conservation-impact-sec {
    margin-top: 0.529vw;
}

.thylacine-hub-page .moa-conservation-impact-sec .conservation-impact-header>.bg-grid {
    top: 0;
    opacity: 1;
    mix-blend-mode: difference;
}

.thylacine-hub-page .moa-conservation-impact-sec .conservation-impact-header::before {
    background: linear-gradient(180deg, #7DEA13 15.28%, #FFFFFF 69.02%);
    height: 100%;
}

.thylacine-hub-page .moa-conservation-impact-sec .conservation-impact-header::after {
    height: 100%;
}

.thylacine-hub-page .moa-conservation-impact-sec .conservation-impact-header {
    padding-top: 12.037vw;
    padding-bottom: 13.36vw;
}

.thylacine-hub-page .moa-conservation-impact-sec .conservation-impact-header .wrapper-md {
    padding: 0 2.646vw;
}

.thylacine-hub-page .moa-conservation-impact-sec .conservation-impact-header .subheading-row {
    padding: 0 1.587vw;
}

.thylacine-hub-page .moa-conservation-impact-sec .conservation-impact-header .heading {
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 32.56%, rgba(255, 123, 49, 0.68) 100%), linear-gradient(0deg, #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-top: 9.788vw;
}

.thylacine-hub-page .moa-conservation-impact-sec .conservation-impact-header .image {
    width: 58.003vw;
    mix-blend-mode: hard-light;
    margin-top: -8.862vw;
}

.thylacine-hub-page .moa-conservation-impact-sec .conservation-impact-header .bg-mountains {
    position: absolute;
    bottom: -2.315vw;
    left: 0;
    width: 100%;
    height: 62.963vw;
    z-index: 1;
}

.thylacine-hub-page .moa-conservation-impact-sec .conservation-impact-header .bg-mountains::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 76.26%, #000000 92.7%);

}

.thylacine-hub-page .conservation-threat {
    margin-top: -4.762vw;
    margin-bottom: 2.249vw;
}

.thylacine-hub-page .conservation-threat-box .title {
    font-size: 7.46vw;
    margin: 0.198vw 0 0.661vw;
}

.thylacine-hub-page .conservation-threat .row-1 {
    padding-bottom: 3.307vw;
}

.thylacine-hub-page .conservation-threat-box .subtitle {
    font-size: 2.646vw;
    line-height: 1;
    letter-spacing: 0.011em;
    color: #979797;
    margin-bottom: 0;
}

.thylacine-hub-page .conservation-threat-box .column-2 {
    padding-top: 3.505vw;
    padding-bottom: 2.844vw;
}

.thylacine-hub-page .conservation-threat-box .column-2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/thylacine-hub/grid-4.png') no-repeat center / cover;
    border-top-right-radius: 1.058vw;
    border-bottom-right-radius: 1.058vw;
    mix-blend-mode: screen;
}

.thylacine-hub-page .conservation-threat-box .desc {
    font-size: 1.058vw;
    line-height: 1.25;
    letter-spacing: 0.028125em;
    max-width: 43.981vw;
    margin-top: 6.481vw;
}

.thylacine-hub-page .conservation-threat-box .critical-loss {
    right: auto;
    left: 1.918vw;
    top: 0.992vw;
}

.thylacine-hub-page .conservation-threat-box .text-note {
    position: absolute;
    top: 1.984vw;
    right: 1.984vw;
    font-size: 0.794vw;
    max-width: 15.873vw;
}

.thylacine-hub-page .conservation-threat-box .column-1 {
    padding-bottom: 5.307vw;
}

.thylacine-hub-page .conservation-impact-sec.moa-conservation-impact-sec .conservation-impact-learnmore::before {
    background: rgba(0, 0, 0, 0.2);
}

.thylacine-hub-page .conservation-impact-sec.moa-conservation-impact-sec .conservation-impact-bottom .row-1 {
    margin-bottom: 2.646vw;
}

.thylacine-hub-page .conservation-impact-sec.moa-conservation-impact-sec .conservation-impact-bottom .row-2 .image {
    width: 24.14vw;
    margin-top: 0.529vw;
}

.thylacine-hub-page .conservation-impact-sec.moa-conservation-impact-sec .conservation-impact-bottom .row-2 {
    margin-bottom: 2.646vw;
}

.thylacine-hub-page .conservation-impact-bottom .row-3 .text-1 {
    margin-bottom: 12.566vw;
}

.thylacine-hub-page .conservation-impact-bottom .row-3 .title {
    line-height: 1;
    padding-bottom: 0.529vw;
}

.thylacine-hub-page .conservation-impact-bottom .row-3 .text-2 {
    margin-top: auto;
}

.thylacine-hub-page .conservation-impact-sec.moa-conservation-impact-sec .conservation-impact-bottom .row-3 .image-sm {
    aspect-ratio: 448/313;
}

.thylacine-hub-page .conservation-impact-bottom .row-3 .image {
    margin-bottom: 1.653vw;
}

.thylacine-hub-page .conservation-impact-bottom .row-3 .image:last-of-type {
    margin-bottom: 0;
}

.thylacine-hub-page .conservation-impact-bottom .row-3 .image-gra::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 123, 49, 0) 50%, #FF7B31 100%);
    mix-blend-mode: exclusion;
}

.thylacine-hub-page .conservation-partners-black {
    padding-top: 2.513vw;
    padding-bottom: 2.05vw;
}

.thylacine-hub-page .partner-sec-black .line {
    background: #4F4F4F !important;
}

.thylacine-hub-page .partner-sec-black .partner-slider .partner-name,
.thylacine-hub-page .partner-sec-black .partner-slider .partner-name .plus,
.thylacine-hub-page .partner-sec-black .partner-slider .index-text {
    color: #B3B3B3;
}

.thylacine-hub-page .partner-sec-black .partner-slider .btn-visit {
    color: #B3B3B3;
    border-color: #B3B3B3;
}

.thylacine-hub-page .partner-sec-black .partner-slider .partner-card .partner-logo {
    padding: 2vw 1vw;
}

.thylacine-hub-page .partner-sec-black {
    padding-bottom: 10.185vw;
}

.thylacine-hub-page .partner-sec-black .partner-slider {
    padding-bottom: 2.976vw;
}

.thy-rewilding-paradise-sec {
    padding-bottom: 6.349vw;
}

.thy-rewilding-paradise-sec::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #000;
    height: 42.328vw;
    pointer-events: none;
}

.thy-rewilding-paradise-sec .row-1 {
    padding-top: 1.852vw;
    border-top: 1px solid #979797;
    margin-bottom: 3.042vw;
}

.thy-rewilding-paradise-sec .row-1 .column-1 {
    line-height: 1.375;
    gap: 0.661vw 7.275vw;
    width: 41.5%;
}

.thy-rewilding-paradise-sec .row-1 .column-2 {
    font-size: 0.794vw;
    line-height: 1.83;
    width: 30%;
}

.thy-rewilding-paradise-sec .row-1 .column-3 {
    font-size: 1.587vw;
    width: 28.5%;
    line-height: 0.92;
}

.thy-rewilding-paradise__content .left {
    width: 33.82%;
    padding-right: 1.323vw;
    display: flex;
    flex-direction: column;

}

.thy-rewilding-paradise__content .right {
    width: 66.18%;
    display: flex;
    flex-direction: column;

}

.thy-rewilding-paradise__content .title {
    font-size: 4.431vw;
    line-height: 1.03;
    letter-spacing: 0.013em;
    margin-bottom: 2.646vw;

}

.thy-rewilding-paradise__content .btn-primary .arrow {
    background: transparent;
}

.thy-rewilding-paradise__content .btn-primary span {
    max-width: 8.069vw;
}

.thy-rewilding-paradise__content .subtitle {
    font-size: 1.846vw;
    margin-bottom: 2.116vw;
}

.thy-rewilding-paradise__content .list {
    padding-bottom: 1.058vw;
    border-bottom: 1px solid #828282;

}

.thy-rewilding-paradise__content .list .item {
    display: grid;
    grid-template-columns: 11.574vw 1fr;
    grid-gap: 1.323vw;
    font-size: 0.794vw;
    line-height: 1.33;
    padding: 1.058vw 0;
    border-top: 1px solid #828282;
}

.thy-rewilding-paradise__content .desc-left {
    font-size: 0.794vw;
    letter-spacing: 0.0375em;
    margin-top: 1.587vw;
    max-width: 28.902vw;
    line-height: 1.33;
}

.thy-rewilding-paradise-sec .advisor-swiper-panel {
    margin-top: 3.836vw;
}

.thy-rewilding-paradise-sec .advisor-card .advisor-img-wrapper::before {
    background: linear-gradient(180deg, #C9C9C7 0%, #FF7B31 100%) !important;
}

.thy-rewilding-paradise-sec .advisor-info .advisor-role {
    margin-top: 1.852vw;
}

.thy-rewilding-paradise-sec .advisor-info .advisor-name {
    color: #000000;
}

.thy-rewilding-paradise-sec .advisor-swiper {
    padding-bottom: 1.587vw;
}


/**************************/
.thy-advisors-page .advisor-card .advisor-img-wrapper::before {
    background: linear-gradient(180deg, #C9C9C7 20.19%, #C265F6 100%);
}

.thy-advisors-page .right .advisor-img.img-transcale {
    transform: scale(1.2);
    height: 120%;
}

.thy-advisors-page .right .advisor-img.img-height-120 {
    height: 150%;
}

.thy-advisors-page .ad-text {
    line-height: 1.389vw;
    letter-spacing: 0.1em;
    color: #5A5A5A;
}

.thy-advisors-page .square-24 {
    width: 1.587vw;
    height: 1.587vw;
}

.thy-advisors-page .ad-text-number {
    font-size: 2.249vw;
    line-height: 1.587vw;
    letter-spacing: 0.089em;
}

.thy-advisors-page .pt-top-ad-part {
    padding-top: 1.521vw;
}

/**************************************************/
.thylacine-hero .mammoth-hero-process-row {
    padding-bottom: 0;
    margin-top: 1vw;
}

.thylacine-hero .square-lg.bg-black {
    width: 0.529vw !important;
    height: 0.529vw !important;
}

.thylacine-hero p.hub-text.text-black {
    padding-top: 0.2vw;
}

.thylacine-hero .reviving-mammoth-heading {
    max-width: 100% !important;
}

.thylacine-revi-sec.reviving-mammoth-sec .row-2 {
    margin-bottom: 5.1vw;
}

.thylacine-revi-sec .mammoth-hero-process {
    max-width: 27.315vw;
    width: 100%;
    transform: rotate(90deg);
    left: -5.3vw;
    bottom: 14.881vw;
}

.thylacine-revi-sec .explore-key .title {
    margin-bottom: 1.2vw;
}

.thylacine-revi-sec .explore-key-navigation {
    bottom: 4.2vw;
}

.thylacine-revi-sec .earth-friend-content .inner {
    padding: 5.9vw 4.5vw 0;
}

.thy-about-sec .earth-friend-content {
    overflow: visible !important;
}

.thy-about-sec .moa-about-img {
    width: 100vw;
    max-width: 100vw !important;
    left: 50%;
    transform: translateX(-50%);
}

/*===============================*/

.thy-science-sec .science-action-content .left {
    width: 50%;
    padding-left: 0.2vw;
}

.thy-science-sec .video-info {
    padding-top: 2.65vw;
    padding-left: 0.9vw;
}

.thy-science-sec .science-action-content .right .content .text-content-2 {
    top: 55%;
    left: 2.653vw;
}

.thy-step-de .step-de-extinction .content-top .box-1 {
    top: 0.132vw;
    left: 0.529vw;
    padding: 1.35vw 0.7vw 1.3vw 0.992vw;
}

.thy-step-de .step-de-extinction .content-top .video .desc {
    margin-top: -0.9vw;
    left: 7.5vw;
    line-height: 1.2;
    max-width: 83%;
}

.thy-step-de .step-de-extinction .content-top .video .subtitle {
    left: -0.5vw;
    top: 26%;
}

.thy-advisors-page .row-ml {
    margin-left: -3vw;
    margin-top: -0.5vw;
}

.thy-advisors-page .advisors-header .row-2 {
    margin-bottom: 4.1vw;
}

.thy-advisors-page .ad-box-left-text {
    padding-left: 0.6vw;
}

.thy-advisors-page .ad-box-left-text .p-rem {
    margin-bottom: 1.5vw;
}

.thy-advisors-page .advisors-header {
    margin-bottom: 4.1vw;
    padding-left: -1.9vw;
}

.thy-advisors-page .advisor-info .advisor-role {
    max-width: 100%;
}

.thy-advisors-page .advisor-swiper {
    padding-bottom: 0.2vw;
    margin-top: 0.2vw;
}

.thy-advisors-page .advisors-main>.left {
    width: 25.3%;
    padding-right: 1.323vw;
    margin-left: -0.2vw;
}

.thy-advisors-page .advisor-info .advisor-name {
    margin-top: 1vw;
}

.thy-advisors-page .pt-top-ad-part {
    gap: 1vw;
}

.thy-advisors-page .ad-text-number {
    letter-spacing: 0.059vw;
}

.thy-advisors-page .advisors-main>.left .text-bottom {
    margin-bottom: 0.794vw;
}

.thy-advisors-page .advisor-topbar {
    display: flex;
    align-items: center;
    gap: 1.19vw;
    margin-left: 0.5vw;
}

.thy-advisors-page .advisor-arrows {
    margin-right: -0.5vw;
}