.mammoth-page .hub-text {
    line-height: 1.375;
}

.mammoth-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    z-index: 3;
}

.mammoth-hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/2000W_grid.png') no-repeat center;
    background-size: cover;
    pointer-events: none;
    z-index: 2;
    opacity: 0.5;
}

.mammoth-hero-content {
    padding: 5.886vw 0 2.712vw;
    z-index: 5;
}

.mammoth-hero-heading {
    font-size: 11.399vw;
    width: 102%;
}

.mammoth-hero-info .item {
    letter-spacing: 0.02em;
    padding: 0.397vw 1.058vw;
}

.mammoth-hero .mammoth-database {
    margin: 10.582vw 0 13.955vw;
    font-size: 2.116vw;
    max-width: 29.563vw;
    line-height: 0.9375;
}

.mammoth-hero-process {
    max-width: 27.315vw;
    width: 100%;
    transform: rotate(90deg);
    left: -5.952vw;
    bottom: 14.881vw;
}

.mammoth-hero-process .text-1 {
    font-size: 1.323vw;
    line-height: 1;
}

.mammoth-hero-process .text-2 {
    font-size: clamp(5px, 0.638vw, 20px);
}

.mammoth-hero-process .text-3 {
    letter-spacing: 0.13em;
}

.mammoth-hero-process .line-orange {
    height: 0.463vw;
    border-radius: 1.455vw;
    background: linear-gradient(90deg, #FF7B31 0%, #FFB13C 100%);
    box-shadow: 0px 0px 0.496vw 0px #FF7B31;
    left: -0.132vw;
}

.mammoth-hero-process-row {
    padding-bottom: 1.19vw;
}

.mammoth-hero-process-row>.left {
    width: 49.64%;
    padding-right: 1.323vw;
}

.mammoth-hero-process-row>.right {
    width: 50.36%;
}

.navigate-woolly {
    max-width: 27.315vw;
}

.navigate-woolly p {
    letter-spacing: 0.045em;
    color: #FFFFFFBF;
    margin-bottom: 0.992vw;
}

.navigate-woolly .sub-nav {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0.661vw;
    max-width: 5.952vw;
    margin: 0 auto;
    backdrop-filter: blur(1.72vw);
}

.navigate-woolly .sub-nav .inner {
    padding: 0.562vw 0.728vw 0.43vw;
}

.mammoth-hero-content .text-right {
    right: 5.291vw;
    bottom: 13.426vw;
    transform: rotate(90deg);
}

.mammoth-hero .video-dot {
    bottom: 2.183vw;
    right: 5.225vw;
    max-width: 6.019vw;
    aspect-ratio: 1;
    mix-blend-mode: screen;
    z-index: 4;
}

.reviving-mammoth-sec {
    padding: 3.968vw 0 11.045vw;
}

.reviving-mammoth-sec .row-1 {
    margin-bottom: 2.249vw;
}

.reviving-mammoth-sec .row-2 {
    margin-bottom: 7.738vw;
}

.reviving-mammoth-sec .row-2 .stat-header-item {
    width: auto;
}

.explore-key {
    padding-bottom: 0.926vw;
}

.explore-key .title {
    font-size: 1.587vw;
    margin-bottom: 0.86vw;
}

.explore-key .desc {
    letter-spacing: 0.037em;
    margin-bottom: 3.108vw;
}

.explore-key-list .item {
    font-size: 0.653vw;
    letter-spacing: 0.13em;
    border-radius: 1.587vw;
    padding: 0.265vw 0.397vw;
    background-color: #82828280;
    border: 1px solid #F4F4F4;
    display: inline-flex;
    align-items: center;
    gap: 0.364vw;
    opacity: 0.25;
    transition: all 0.4s ease;
    cursor: pointer;
}

.explore-key-list .item:hover {
    opacity: 1;
}

.explore-key-list .item.active {
    opacity: 1;
}

.explore-key-list .item .dot {
    width: 0.489vw;
    height: 0.489vw;
    border-radius: 50%;
}

.explore-key-swiper {
    padding: 5.754vw 0;
}

.explore-key-swiper .swiper-slide {
    width: 29.497vw;
    position: relative;
}

.explore-key-swiper .border-img-top {
    position: absolute;
    left: -1.521vw;
    width: calc(100% + 3.042vw);
    top: -1.786vw;
    max-width: unset;
    display: none;
}

.explore-key-swiper .border-img-bottom {
    position: absolute;
    left: -1.521vw;
    width: calc(100% + 3.042vw);
    bottom: 1.984vw;
    max-width: unset;
    display: none;
}

.explore-key-swiper .swiper-slide.swiper-slide-active .border-img-bottom,
.explore-key-swiper .swiper-slide.swiper-slide-active .border-img-top {
    display: block;
}

.explore-key-swiper .swiper-slide .inner {
    border-radius: 0.529vw;
    aspect-ratio: 446/618;
    position: relative;
    overflow: hidden;
    margin-bottom: 3.638vw;
}

.explore-key-swiper .bg-media {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
}

.explore-key-swiper .bg-media video,
.explore-key-swiper .bg-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore-key-swiper .bg-media::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, rgba(108, 108, 108, 0.2), rgba(108, 108, 108, 0.2));
    pointer-events: none;
}

.explore-key-swiper .content {
    height: 100%;
    position: relative;
    padding: 1.852vw 1.587vw;
}

.explore-key-swiper .content .square {
    position: absolute;
    top: 2.315vw;
    left: 2.116vw;
    display: none;
}

.explore-key-swiper .swiper-slide.swiper-slide-active .content .square {
    display: block;
}

.explore-key-swiper .content .plus {
    position: absolute;
    color: #fff;
    display: none;
}

.explore-key-swiper .swiper-slide.swiper-slide-active .content .plus {
    display: block;
}

.explore-key-swiper .content .plus-1 {
    top: 1.587vw;
    right: 1.852vw;
}

.explore-key-swiper .content .plus-2 {
    bottom: 1.786vw;
    left: 1.852vw;
}

.explore-key-swiper .content .plus-3 {
    bottom: 1.786vw;
    right: 1.852vw;
}

.explore-key-swiper .content .explore-key-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.explore-key-swiper .swiper-slide.swiper-slide-active .content .explore-key-btn {
    display: block;
}

.explore-key-swiper .content .name {
    font-weight: 700;
    font-size: 2.065vw;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    display: none;
}

.explore-key-swiper .swiper-slide.swiper-slide-active .content .name {
    display: block;
}

.explore-key-swiper .swiper-slide.swiper-slide-active {
    width: 37.368vw;
}

.explore-key-swiper .swiper-slide.swiper-slide-active .inner {
    aspect-ratio: 565/618;
    box-shadow: 0px 1.653vw 1.343vw -0.132vw #00000033;
}

.explore-key-swiper .sub-page {
    font-family: 'NB Architekt Std';
    font-size: 1.058vw;
    color: #B3B3B3;
    text-align: center;
    display: none;
}

.explore-key-swiper .swiper-slide.swiper-slide-active .sub-page {
    display: block;
}


.explore-key-navigation {
    position: absolute;
    right: 7.407vw;
    bottom: 5.026vw;
    z-index: 2;
}

.earth-friend-content {
    background-color: #9940DD;
    border-top-left-radius: 1.058vw;
    border-top-right-radius: 1.058vw;
}

.earth-friend-content .inner {
    padding: 9.656vw 10.119vw 0;
    margin-bottom: -14.286vw;
}

.earth-friend-sec .wrapper {
    padding: 0 1.389vw;
}

.earth-friend-content .grid-bg {
    top: 0.092vw;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}

.earth-friend-content::before {
    content: "";
    position: absolute;
    top: 3.439vw;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #9940DD 1%, #FF7B31 25.91%);

}

.earth-friend-content .subheading {
    font-size: 2.185vw;
}

.earth-friend-content .heading {
    font-size: 11.189vw;
    line-height: 0.8;
    padding: 8.532vw 0 0;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 32.56%, rgba(255, 123, 49, 0.68) 100%), linear-gradient(0deg, #F4F4F4, #F4F4F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.earth-friend-img {
    padding-bottom: 2.712vw;
}

.earth-friend-img .img-1 {
    position: relative;
    z-index: 3;
}

.earth-friend-img .img-2 {
    position: absolute;
    top: 0;
}

.science-action-sec {
    margin-top: -4.233vw;
    padding-top: 11.376vw;
}

.science-action-heading-wrapper {
    top: -6.481vw;
}

.science-action-heading {
    font-size: 16.017vw;
    line-height: 1.15;
    letter-spacing: 0.03em;
    max-width: 88.624vw;
    margin: 0 auto;
}

.science-action-sec .inner-global {
    margin-bottom: 18.651vw;
}

.science-action-content .left {
    width: 50%;
    border-right: 1px solid;
    border-image: linear-gradient(180deg, #828282 0%, #1C1C1C 100%) 1;
    padding: 2.579vw 8.201vw 5.026vw 0;
}


.science-action-content .left .title {
    font-size: 2.646vw;
    letter-spacing: 0.02225em;
    margin-bottom: 15.939vw;
}

.science-action-content .left .square-lg {
    right: 3.505vw;
    top: 2.579vw;
}

.science-action-content .right {
    width: 50%;
    padding: 2.183vw 0 0 0;
}

.science-action-content .right .plus-1 {
    top: 1.984vw;
    left: 3.307vw;
}

.science-action-content .right .plus-2 {
    top: 1.984vw;
    right: 1.786vw;
}

.science-action-content .right .plus-3 {
    bottom: 8.069vw;
    left: 3.307vw;
}

.science-action-content .right .plus-4 {
    bottom: 8.069vw;
    right: 1.786vw;
}

.science-action-content .right .title {
    font-size: 2.085vw;
    max-width: 18.188vw;
    padding-bottom: 2.249vw;
}

.science-action-content .right .content .video {
    aspect-ratio: 448/380;
    max-width: 29.63vw;
    box-shadow: 0px 1.653vw 1.343vw -0.728vw #00000040;
}

.science-action-content .right .content .video .border-ellipse {
    width: 23.148vw;
    pointer-events: none;
}

.science-action-content .right .content .video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        linear-gradient(180deg, #000000 -10.39%, rgba(0, 0, 0, 0) 41.24%);
    pointer-events: none;
}

.science-action-content .right .content .video::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/2000W_grid.png') no-repeat center;
    background-size: cover;
    opacity: 0.5;
    pointer-events: none;
}

.science-action-content .right .content .video-info .inner {
    max-width: 16.997vw;
}

.step-global .text-1 {
    font-size: 0.636vw;
}

.step-global .text-2 {
    font-size: 1.432vw;
    letter-spacing: 0.03em;
    line-height: 0.9;
}

.step-global .row-1 {
    padding-bottom: 1.124vw;
    margin-bottom: 0.661vw;
}

.step-global .row-2 {
    max-width: 16.468vw;
}

.step-global .row-2 .number {
    font-size: 1.909vw;
    padding: 1.124vw 0.992vw;
    margin-right: 0.728vw;
    border-radius: 50%;
}

.science-action-content .right .content .text-content {
    font-size: clamp(6px, 0.529vw, 20px);
    max-width: 4.497vw;
}

.science-action-content .right .content .text-content-1 {
    top: 43%;
    left: 2.91vw;
}

.science-action-content .right .content .text-content-2 {
    top: 55%;
    left: 1.653vw;
}

.science-action-content .right .content .text-content-3 {
    top: 43%;
    right: 1.455vw;
}

.science-action-content .right .content .text-content-4 {
    top: 55%;
    right: 0.198vw;
}

.science-action-content .right .content {
    margin-bottom: 2.91vw;
}

.science-action-content .right .desc p {
    line-height: 1.5;
}

.step-de-extinction {
    padding: 3.108vw 2.183vw 3.836vw;
    margin-bottom: 3.968vw;
}

.step-de-extinction::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/grid-bg-2.png') no-repeat center;
    background-size: cover;
    opacity: 0.35;
    mix-blend-mode: exclusion;
    pointer-events: none;
}

.step-de-extinction .content-top .video {
    clip-path: polygon(0.036% 96.334%, 0.036% 23.501%, 0.036% 23.501%, 0.055% 22.941%, 0.11% 22.411%, 0.198% 21.917%, 0.315% 21.465%, 0.459% 21.063%, 0.628% 20.719%, 0.817% 20.439%, 1.024% 20.23%, 1.246% 20.099%, 1.481% 20.054%, 14.05% 20.054%, 14.05% 20.054%, 14.284% 20.009%, 14.506% 19.878%, 14.714% 19.669%, 14.903% 19.389%, 15.071% 19.044%, 15.216% 18.643%, 15.333% 18.191%, 15.421% 17.697%, 15.475% 17.166%, 15.494% 16.607%, 15.494% 3.533%, 15.494% 3.533%, 15.513% 2.974%, 15.568% 2.444%, 15.655% 1.949%, 15.773% 1.497%, 15.917% 1.096%, 16.085% 0.751%, 16.275% 0.471%, 16.482% 0.262%, 16.704% 0.131%, 16.938% 0.086%, 66.399% 0.086%, 66.399% 0.086%, 66.634% 0.131%, 66.856% 0.262%, 67.063% 0.471%, 67.252% 0.751%, 67.421% 1.096%, 67.565% 1.497%, 67.682% 1.949%, 67.77% 2.444%, 67.825% 2.974%, 67.844% 3.533%, 67.844% 16.607%, 67.844% 16.607%, 67.863% 17.166%, 67.917% 17.697%, 68.005% 18.191%, 68.122% 18.643%, 68.267% 19.044%, 68.435% 19.389%, 68.624% 19.669%, 68.831% 19.878%, 69.054% 20.009%, 69.288% 20.054%, 98.462% 20.054%, 98.462% 20.054%, 98.696% 20.099%, 98.918% 20.23%, 99.125% 20.439%, 99.315% 20.719%, 99.483% 21.063%, 99.627% 21.465%, 99.744% 21.917%, 99.832% 22.411%, 99.887% 22.941%, 99.906% 23.501%, 99.906% 77.529%, 99.906% 77.529%, 99.887% 78.088%, 99.832% 78.619%, 99.744% 79.113%, 99.627% 79.565%, 99.483% 79.966%, 99.315% 80.311%, 99.125% 80.591%, 98.918% 80.8%, 98.696% 80.931%, 98.462% 80.976%, 77.499% 80.976%, 77.499% 80.976%, 77.265% 81.021%, 77.042% 81.152%, 76.835% 81.361%, 76.646% 81.641%, 76.478% 81.985%, 76.333% 82.387%, 76.216% 82.839%, 76.128% 83.333%, 76.073% 83.863%, 76.054% 84.423%, 76.054% 96.334%, 76.054% 96.334%, 76.036% 96.894%, 75.981% 97.424%, 75.893% 97.918%, 75.776% 98.37%, 75.632% 98.772%, 75.463% 99.116%, 75.274% 99.396%, 75.067% 99.605%, 74.845% 99.736%, 74.611% 99.781%, 1.481% 99.781%, 1.481% 99.781%, 1.246% 99.736%, 1.024% 99.605%, 0.817% 99.396%, 0.628% 99.116%, 0.459% 98.772%, 0.315% 98.37%, 0.198% 97.918%, 0.11% 97.424%, 0.055% 96.894%, 0.036% 96.334%);
    aspect-ratio: 1375/575;
}

.step-de-extinction .content-top .video::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
    pointer-events: none;
}

.step-de-extinction .content-top .video .clsl-lab-logo {
    bottom: 2.976vw;
    left: 2.976vw;
    max-width: 17.063vw;
}

.step-de-extinction .content-top .video .subtitle {
    gap: 1.521vw;
    font-size: 0.952vw;
    letter-spacing: 0.037em;
    top: 28%;
    left: 0;
    width: 100%;
}

.step-de-extinction .content-top .video .desc {
    left: 6.415vw;
    text-align: justify;
    font-size: 2.116vw;
    max-width: 87%;
}

.step-de-extinction .content-top {
    margin-top: 1.984vw;
    margin-bottom: 3.77vw;
}

.step-de-extinction .content-top .box-1 {
    top: 0;
    left: 0;
    border-radius: 1.323vw;
    padding: 0.728vw 0.992vw 1.257vw 0.992vw;
}

.step-de-extinction .content-top .box-1 .time {
    font-size: 2.368vw;
    letter-spacing: -0.033em;
    padding-bottom: 0.397vw;
    margin-bottom: 1.058vw;
}

.step-de-extinction .content-top .box-1 .text {
    font-size: 0.526vw;
    margin-right: 1.124vw;
}

.step-de-extinction .content-top .box-2 {
    right: 0;
    top: 0;
}

.step-de-extinction .content-top .box-2 .video-dot {
    max-width: 6.481vw;
    margin-right: 0.794vw;
}

.step-de-extinction .content-top .box-4 {
    bottom: 0px;
    right: 1.124vw;
}

.step-de-extinction .content-top .box-4 .text-1 {
    font-size: 0.789vw;
    padding: 0.496vw 0.463vw;
    margin-bottom: 1.587vw;
}

.step-de-extinction .content-top .box-4 .text-2 {
    font-size: 0.789vw;
    max-width: 9.59vw;
    margin-right: 4.63vw;
    line-height: 1.4;
}

.step-de-extinction .content-top .box-4 img {
    width: 2.646vw;
}

.metrics-panel {
    border-radius: 1.852vw;
    max-width: 20.899vw;
    padding: 0.595vw 0.661vw 0.926vw 0.661vw;
}

.metrics-panel .top {
    border-radius: 1.323vw;
    padding: 0.595vw 0.331vw 0.331vw 0.331vw;
    margin-bottom: 0.529vw;
}

.metrics-panel .line-dashed {
    width: 90%;
    margin: 0.331vw auto 0.529vw;
}

.metrics-panel-row .item {
    width: 20%;
    border-right: 1px solid #000000;
    padding: 0 0.992vw;
}

.metrics-panel-row .item .value {
    font-size: 1.315vw;
    letter-spacing: -0.05em;
    line-height: 1.1;
    text-align: center;
}

.metrics-panel-row .item:last-child {
    border-right: none;
}

.metrics-panel-row .item .label {
    font-size: clamp(5px, 0.526vw, 20px);
}

.metrics-panel-row.row-2 .item {
    border-right: none;
}

.metrics-panel .metrics-icon {
    font-size: clamp(5px, 0.526vw, 20px);
    gap: 0.198vw;
}

.metrics-panel .metrics-icon img {
    height: clamp(5px, 0.397vw, 20px);
    width: auto;
}

.step-de-extinction .content-bottom .heading {
    font-size: 6.331vw;
    letter-spacing: -0.01em;
}

.step-de-extinction .content-bottom .video-dot {
    max-width: 6.019vw;
}

.step-de-extinction .content-bottom .desc {
    font-size: 0.529vw;
    font-size: clamp(5px, 0.529vw, 20px);
}

.step-de-extinction .content-bottom .row-2 .inner {
    gap: 1.653vw;
}

.step-de-extinction .step-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.587vw 1.455vw;
    margin-top: 2.05vw;
}

.science-action-video-wrapper .video {
    aspect-ratio: 1512/817;
    border-bottom-left-radius: 2.646vw;
    border-bottom-right-radius: 2.646vw;
}

.science-action-video-wrapper .video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, rgba(108, 108, 108, 0.2), rgba(108, 108, 108, 0.2)),
        linear-gradient(180deg, #000000 1.96%, rgba(0, 0, 0, 0) 31.95%);
    pointer-events: none;
}

.science-action-video-wrapper .clsl-lab-video-toggle {
    bottom: 2.646vw;
    right: 4.365vw;
}

.advisors-sec {
    padding: 5.556vw 0 4.431vw;
}

.advisors-header {
    margin-bottom: 4.63vw;
}

.advisors-header .row-1 {
    margin-bottom: 1.984vw;
}

.advisors-header .row-2 {
    margin-bottom: 2.976vw;
}

.advisors-header .btn-primary .arrow {
    background: transparent;
}

.advisors-main>.left {
    width: 25.65%;
    padding-right: 1.323vw;
}

.advisors-main>.left .text-bottom {
    margin-bottom: 0.794vw;
}

.advisors-main>.right {
    width: 74.35%;
}

.advisors-main .partner-stats .title {
    font-size: clamp(6px, 0.529vw, 20px);
    margin-bottom: 1.72vw;
}

.partner-stats-list {
    margin-bottom: 5.291vw;
}

.partner-stats-list .item {
    padding: 0.728vw 0;
}

.advisors-main .white-paper .text {
    color: #5A5A5A;
    letter-spacing: 0.1em;
    line-height: 1.3125;
    margin-bottom: 1.19vw;
}

.advisors-main .white-paper .number {
    font-size: 2.249vw;
    letter-spacing: 0.026em;
}

.advisors-main .white-paper .square {
    width: 1.587vw;
    height: 1.587vw;
}

.advisor-swiper .swiper-slide {
    width: 21.892vw;
}

.advisor-topbar {
    display: flex;
    align-items: center;
    gap: 1.19vw;
}

.advisor-counter {
    font-size: 0.794vw;
    letter-spacing: 0.13em;
    padding: 0.364vw 1.786vw;
    background-color: #383838;
}

.advisor-swiper {
    margin-right: -4.233vw;
    padding-bottom: 2.249vw;
}

.advisor-progress {
    flex-grow: 1;
    position: static;
    margin-right: 0.926vw;
}

.advisor-card .advisor-img-wrapper {
    aspect-ratio: 331/414;
    overflow: hidden;
    border-radius: 0.529vw;
    display: block;
    position: relative;
    border: 1px solid #828282;
}

.advisor-card .advisor-img-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #C9C9C7 0%, #C265F6 100%);
    pointer-events: none;
}

.advisor-card .advisor-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.advisor-card .advisor-logo {
    max-width: 5.291vw;
    position: absolute;
    top: 3.571vw;
    right: -0.397vw;
    z-index: 2;
    transform: rotate(90deg);
    pointer-events: none;
}

.advisor-card .advisor-btn-wrapper {
    position: absolute;
    bottom: 1.323vw;
    left: 0;
    width: 100%;
    text-align: center;
}

.advisor-card .advisor-btn {
    border-radius: 2.844vw;
    border: 1px solid #000;
    background-color: #ff7b31;
    font-family: 'NB Architekt Std';
    font-size: 0.794vw;
    color: #000;
    padding: 0.595vw 1.918vw;
    display: inline-block;
}

.advisor-info .advisor-name {
    font-size: 1.058vw;
    margin-top: 1.19vw;
}

.advisor-info .advisor-role {
    font-size: 1.058vw;
    margin-top: 1.587vw;
    color: #828282;
    max-width: 14.22vw;
    font-family: 'NB Architekt Std';
}

.testimonial-sec {
    padding-bottom: 4.894vw;
}

.testimonial-main {
    box-shadow: 0px 1.653vw 1.323vw 0px #00000033;
    border-radius: 1.323vw;
}

.testimonial-main>.left {
    width: 50%;
    padding: 1.852vw 2.381vw 2.513vw;
}

.testimonial-main>.left .line {
    background-color: #DEDFDF;
    margin-bottom: 1.323vw;
}

.testimonial-main>.left .row-1 {
    margin-bottom: -0.661vw;
}

.testimonial-main>.left .row-1 .text {
    font-size: clamp(6px, 0.639vw, 20px);
}

.testimonial-main>.left .quote-icon img {
    width: 1.918vw;
}

.testimonial-main>.left .quote-title {
    font-size: 2.646vw;
    line-height: 0.875;
    letter-spacing: 0.02225em;
    padding: 1.984vw 0;
}

.testimonial-main>.left .quote-desc {
    font-size: 0.926vw;
    line-height: 1.43;
    letter-spacing: 0.032em;
    max-width: 97%;
    margin-bottom: 5.159vw;
}

.testimonial-main>.right {
    width: 50%;
    padding: 1.852vw 2.116vw 2.513vw;
}

.testimonial-main>.right::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(30.75deg, #889BA2 14.97%, #C0C0C0 93.38%);
    pointer-events: none;
}

.testimonial-main>.right::after {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(180deg, rgba(153, 64, 221, 0) 55.45%, #9940DD 100%);
    pointer-events: none;
}

.testimonial-main>.right .testimonial-author {
    padding: 1.852vw 2.381vw 2.579vw;
}

.testimonial-main>.right .testimonial-author-role {
    letter-spacing: -0.02em;
    line-height: 0.9375;
}

.testimonial-main>.right .testimonial-author-info .name {
    font-size: 2.073vw;
    line-height: 0.86;
    letter-spacing: 0.012em;
    padding: 1.323vw 0;
}

.testimonial-main>.right .testimonial-author-info .list {
    gap: 0.661vw;
}

.testimonial-main>.right .testimonial-author-info .item {
    font-size: clamp(6px, 0.653vw, 20px);
    letter-spacing: 0.13em;
    padding: 0.265vw 0.397vw;
    display: inline-block;
    background-color: #82828280;
}

.testimonial-main>.right .testimonial-author-info .item a {
    text-decoration: underline;
}

.citations-box {
    border: 1px solid #8F8F8F;
    padding: 1.257vw 1.257vw 1.521vw 1.257vw;
}

.citations-box .title {
    margin-bottom: 1.257vw;
}

.citations-list .item {
    display: inline-flex;
    align-items: center;
    gap: 0.463vw;
    border: 1px solid #F4F4F4;
    background-color: #82828280;
    padding: 0.331vw 0.529vw 0.397vw 0.529vw;
    border-radius: 2.116vw;
    font-size: 0.846vw;
    letter-spacing: 0.13em;
}

.citations-list .item img {
    width: 0.728vw;
}

.citations-list .item .dot {
    width: 0.628vw;
    height: 0.628vw;
    border-radius: 50%;
    background-color: #7DEA13;
}

.science-partners .item {
    font-size: 6.349vw;
}

.science-partners {
    padding-bottom: 3.108vw;
}

.mammoth-page .partner-sec {
    padding-bottom: 6.415vw;
}

.mammoth-page .partner-slider .partner-name,
.mammoth-page .partner-slider .partner-name .plus,
.mammoth-page .partner-slider .partner-actions {
    color: #000;
}

.mammoth-page .partner-slider .btn-visit {
    border-color: #000;
}

.mammoth-page .partner-nav .swiper-arrow.swiper-button-disabled {
    background-color: #D9D9D9;
    color: #828282;
}

.woolly-mammoths-sec {
    padding-top: 5.093vw;
}

.woolly-mammoths-sec .bg-1 {
    height: 61.971vw;
    pointer-events: none;
}

.woolly-mammoths-sec .heading {
    font-size: 19.312vw;
    line-height: 0.94;
    letter-spacing: 0.031em;
    mix-blend-mode: difference;
    padding: 0.661vw 0;
}

.woolly-mammoths-sec .heading-2 {
    line-height: 0.92;
    padding: 0;
    margin-top: -0.331vw;
}

.woolly-mammoths-sec .row-2 .column {
    gap: 0.661vw 7.143vw;
}

.woolly-mammoths-sec .row-2 .column p {
    margin-bottom: 0.661vw;
}

.woolly-mammoths-sec .row-2 .column p:last-child {
    margin-bottom: 0;
}

.woolly-mammoths-sec .row-2 .column-1 {
    width: 25%;
    margin-right: 4%;
}

.woolly-mammoths-sec .row-2 .column-2 {
    width: 28%;
    margin-right: 4%;
}

.woolly-mammoths-sec .row-2 .column-3 {
    width: 21%;
    margin-right: 4%;
}

.woolly-mammoths-sec .row-2 .column-4 {
    width: 14%;
}

.woolly-mammoths-sec .row-2 .hub-text {
    margin-top: -0.265vw;
}

.woolly-mammoths-sec .woolly-mammoths-img {
    margin-top: -17.989vw;
}

.woolly-mammoths-sec .woolly-mammoths-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 44.39%, #FFFFFF 81.83%);
    pointer-events: none;
}

.woolly-mammoths-sec .bg-2 {
    pointer-events: none;
    height: 98.28vw;
}

.woolly-mammoths-sec .bg-2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 123, 49, 0) 41.49%, rgba(153, 64, 221, 0.2) 92.23%);
}

.woolly-mammoths-sec .woolly-mammoths-info {
    margin-top: -15.278vw;
}

.woolly-mammoths-sec .woolly-mammoths-info-heading {
    font-size: 11.189vw;
    line-height: 0.8;
    background: linear-gradient(180deg, rgba(239, 254, 255, 0.75) 70.75%, rgba(255, 255, 255, 0) 118.83%), linear-gradient(0deg, #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding: 4.167vw 0 4.497vw;
}

.woolly-mammoths-sec .ancient-dna {
    gap: 2.513vw;
    margin-right: 1.323vw;
}

.woolly-mammoths-sec .ancient-dna img {
    width: 10.979vw;
    mix-blend-mode: exclusion;
    border: 1px solid #CFCFCF;
}

.woolly-mammoths-sec .woolly-mammoths-info .row-3 {
    margin-bottom: 3.439vw;
}

.woolly-mammoths-info .text-clsl {
    font-size: 2.249vw;
    letter-spacing: 0.026em;
    gap: 1.058vw;
    left: 4.233vw;
    bottom: 5.754vw;
}

.woolly-mammoths-info .text-clsl .square {
    width: 1.587vw;
    height: 1.587vw;

}

.woolly-mammoths-map .tundra-img {
    width: 73.942vw;
}

.woolly-mammoths-map .wrapper {
    padding: 0 5.489vw;
}

.woolly-mammoths-map .map-wrapper .inner {
    max-width: 55.886vw;
    margin-left: 11.111vw;
    top: -25.132vw;
}

.woolly-mammoths-map .map-wrapper .inner .text-1 {
    top: 5.026vw;
    left: 6.019vw;
}

.woolly-mammoths-map .map-wrapper .inner .text-2 {
    top: 5.026vw;
    right: 12.037vw;
}

.woolly-mammoths-map .map-wrapper .inner .text-3 {
    top: 15.741vw;
    left: 1.984vw;
    font-size: 1.731vw;
    max-width: 9.127vw;
}

.woolly-mammoths-map .map-wrapper .inner .text-4 {
    bottom: 6.283vw;
    left: 3.77vw;
    max-width: 11.045vw;
}

.woolly-mammoths-map .map-wrapper .inner .text-5 {
    bottom: 0.529vw;
    left: 0.661vw;
    font-size: 0.728vw;
    color: #B5B5B5;
}

.woolly-mammoths-map .map-wrapper .inner .box-wrapper {
    right: 1.653vw;
    bottom: 1.323vw;
}

.woolly-mammoths-map .map-wrapper .inner .box-wrapper .text-1 {
    top: 2.315vw;
    left: -0.198vw;
    font-size: 0.529vw;
}

.woolly-mammoths-map .map-wrapper .inner .box-wrapper .stat-plus {
    margin-bottom: 1.587vw;
}

.woolly-mammoths-map .map-wrapper .inner .box-wrapper .box {
    padding: 0.926vw 1.984vw 0px 1.587vw;
}

.woolly-mammoths-map .map-wrapper .inner .box-wrapper .box .box-inner {
    width: 15.542vw;
    height: 14.815vw;
    border: 0.5px solid transparent;
    border-image: linear-gradient(180deg, #4F4F4F 0%, #B5B5B5 100%);
    border-image-slice: 1;
    padding: 0.529vw;
    margin-bottom: 1.323vw;
}

.woolly-mammoths-map .map-wrapper .inner .box-wrapper .box .video::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(130, 130, 130, 0.23);
    pointer-events: none;
}

.woolly-mammoths-map .map-wrapper .inner .box-wrapper .box .video::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../img/2000W_grid_2.png') repeat center;
    background-size: cover;
    pointer-events: none;
}

.woolly-mammoths-map .map-wrapper .inner .box-wrapper .box .video .text-video {
    gap: 0.992vw;
    top: 0.794vw;
    right: 1.455vw;
    font-size: 0.529vw;
}

.woolly-mammoths-map .map-wrapper .inner .box-wrapper .box .video .chevron {
    width: 0.794vw;
}

.woolly-mammoths-map .map-wrapper .inner .box-wrapper .border-img {
    width: 1.058vw;
}

.woolly-mammoths-map .map-wrapper .inner .video-square {
    max-width: 4.167vw;
    right: 9.921vw;
    top: 15.344vw;
}

.woolly-mammoths-map .map-wrapper .inner .video-dot {
    max-width: 6.019vw;
    right: 3.307vw;
    top: 27.778vw;
}

.woolly-mammoths-map .map-wrapper {
    margin-bottom: -25.132vw;
}

.woolly-mammoths-map .map-wrapper .subtitle-1 {
    top: 5.225vw;
    left: 3.77vw;
}

.woolly-mammoths-map .map-wrapper .subtitle-2 {
    top: 5.225vw;
    right: 2.778vw;
}

.woolly-mammoths-map .map-wrapper .subtitle-3 {
    bottom: 30.423vw;
    left: 2.778vw;
}

.woolly-mammoths-map .map-wrapper .subtitle-4 {
    bottom: 30.423vw;
    right: 3.968vw;
}

.woolly-mammoths-map .map-wrapper .square-1 {
    top: 15.542vw;
    left: 5.291vw;
}

.woolly-mammoths-map .map-wrapper .square-2 {
    top: 15.542vw;
    right: 5.291vw;
}

.woolly-mammoths-map .map-wrapper .square-3 {
    bottom: 19.114vw;
    right: 5.291vw;
}

.woolly-mammoths-sec .where-live-box {
    max-width: 44.444vw;
    background: #C9C9C7C7;
    padding: 1.323vw 1.984vw 1.521vw 1.653vw;
    backdrop-filter: blur(0.728vw);
}

.woolly-mammoths-sec .where-live-box .square-top {
    width: 2.183vw;
    height: 2.183vw;
}

.woolly-mammoths-sec .where-live-box .row-1 {
    margin-bottom: 2.646vw;
}

.woolly-mammoths-sec .where-live-box .row-2 {
    gap: 0.794vw;
}

.woolly-mammoths-sec .where-live-box .row-2 .plus {
    font-size: 1.323vw;
}

.woolly-mammoths-sec .where-live-box .row-3 {
    margin-bottom: 4.299vw;
}

.woolly-mammoths-sec .where-live-box .row-4 {
    gap: 6.151vw;
    margin-bottom: 0.661vw;
}

.woolly-mammoths-sec .where-live-box .row-4 .desc {
    font-size: 1.731vw;
    margin-bottom: 1.19vw;
}

.woolly-mammoths-sec .where-live-box .row-4 .detail {
    font-size: 1.159vw;
}

.woolly-mammoths-sec .where-live-box .line-text {
    font-size: 3.175vw;
    letter-spacing: -0.17em;
}

.woolly-mammoths-sec .where-live-box .text {
    font-size: 0.992vw;
}

.woolly-mammoths-sec .where-live-box .title {
    font-size: 2.646vw;
    line-height: 0.775;
    letter-spacing: -0.025em;
    max-width: 50%;
}

.woolly-mammoths-sec .where-live-box .number {
    max-width: 19.511vw;
}

.woolly-mammoths-sec .where-live-box .line-dashed {
    border-top: 1px dashed #000;
    margin: 0.992vw -1.984vw 0.992vw -1.653vw;
}

.woolly-mammoths-sec .where-live-box .source-box {
    gap: 1.587vw;
}

.woolly-mammoths-sec .where-live-box .source-box img {
    width: 3.571vw;
    mix-blend-mode: difference;
}

.woolly-mammoths-sec .where-live-box .logo-list {
    max-width: 9.59vw;
}

.tusks-sec {
    border-bottom-left-radius: 2.646vw;
    border-bottom-right-radius: 2.646vw;
    padding-top: 6.878vw;
}

.tusks-sec .video-bg {
    aspect-ratio: 1512/850;
    margin-top: -10.979vw;
}

.tusks-sec::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background:
        linear-gradient(180deg, #000000 18.57%, rgba(0, 0, 0, 0.971839) 46.44%, rgba(0, 0, 0, 0) 61.92%);
    z-index: 1;
}

.tusks-main .tusks-desc {
    margin-bottom: 8.466vw;
}

.tusks-main .tusks-heading {
    font-size: 9.917vw;
    line-height: 0.82;
    letter-spacing: -0.02em;
    color: #FEFEFE;
}

.tusks-main .tusks-heading-1 {
    padding-top: 6.349vw;
    color: #5E5E5E;
    width: 200%;
}

.tusks-main .tusks-heading-2 {
    width: 150%;
    margin-left: -34%;
    padding-bottom: 3.902vw;
}

.tusks-main .tusks-heading span {
    color: #FEFEFE;
}

.tusks-main .row-2 .left {
    width: 38.72%;
    padding-right: 16.997vw;
}

.tusks-main .row-2 .right {
    width: 61.28%;
}

.tusks-main .row-2 .right .image-1 {
    width: 50%;
}

.tusks-main .row-2 .right .image-2 {
    opacity: 0.7;
    margin-top: 2.116vw;
    margin-bottom: 2.976vw;
}

.tusks-main .row-2 .video-wrapper {
    width: 48.2%;
}

.tusks-main .row-2 .video {
    aspect-ratio: 408/228;
    margin-bottom: 1.587vw;
    margin-top: -1.852vw;
}

.mammoth-related-sec {
    padding-top: 5.952vw;
}

.mammoth-related-heading {
    padding-bottom: 7.937vw;
}

.mammoth-related-main .column-1 {
    width: 40%;
    padding-right: 2.976vw;
}

.mammoth-related-main .column-2 {
    width: 20%;
}

.mammoth-related-main .column-3 {
    width: 40%;
    padding-left: 2.976vw;
}

.mammoth-related-main .column-3 .mammoth-related-item-info .info-list .item p:last-child {
    text-align: end;
}

.mammoth-related-item .lineage-compare {
    font-size: clamp(6px, 0.529vw, 20px);
    line-height: 1.25;
    letter-spacing: 0.05625em;
    margin-bottom: 0.794vw;
}

.mammoth-related-item .line-1 {
    margin-bottom: 0.794vw;
}

.mammoth-related-item .relative-ancestor {
    gap: 1.058vw;
    font-size: 2.249vw;
    letter-spacing: 0.026em;
    margin-bottom: 1.389vw;
}

.mammoth-related-item .animals-wrapper .name {
    font-size: 3.941vw;
}

.mammoth-related-item .animals-wrapper .video {
    aspect-ratio: 290/324;
    margin: -1.058vw auto 0;
    max-width: 19.18vw;
}

.mammoth-related-item .animals-wrapper .video video {
    transform: scale(1.6);
}

.mammoth-related-item .animals-wrapper .animal-species {
    font-size: 0.7vw;
    bottom: 0.86vw;
}

.mammoth-related-item .animals-wrapper .animal-code {
    font-size: 1.487vw;
    letter-spacing: 0.026em;
    bottom: 0.86vw;
    gap: 0.728vw;
}

.mammoth-related-item .animals-wrapper .animal-code .square {
    width: 1.058vw;
    height: 1.058vw;
}

.mammoth-related-item .animals-wrapper .plus {
    font-size: 1.05vw;
}

.mammoth-related-item .animals-wrapper .plus-3,
.mammoth-related-item .animals-wrapper .plus-4 {
    bottom: 4.365vw;
}

.mammoth-related-item .line-2 {
    margin: 0.794vw 0;
}

.mammoth-related-item .text-example {
    font-size: clamp(6px, 0.529vw, 20px);
    letter-spacing: 0.05625em;
    line-height: 1.25;
    margin-bottom: 1.124vw;
}

.mammoth-related-item .mammoth-name-line {
    color: #DEDFDF;
    font-size: clamp(5px, 0.475vw, 20px);
    letter-spacing: 0.045em;
    padding: 0.132vw 0.198vw;
    background-color: #383838;
    width: 60%;
    margin-bottom: 1.19vw;
}

.mammoth-related-item-info {
    gap: 0.926vw;
}

.mammoth-related-main .column-1 .mammoth-related-item-info {
    margin-right: -3.307vw;
}

.mammoth-related-main .column-3 .mammoth-related-item-info {
    margin-left: -3.307vw;
}

.mammoth-related-item-info .info-list {
    width: calc(70% - 0.463vw);
}

.mammoth-related-item-info .info-img {
    width: calc(30% - 0.463vw);

}

.mammoth-related-item-info .info-list .item {
    font-size: clamp(6px, 0.665vw, 20px);
    display: flex;
    justify-content: space-between;
    gap: 0.665vw;
    border-bottom: 1px solid #828282;
    padding: 0.265vw 0;
}

.mammoth-related-item-info .info-list .item:first-child {
    border-top: 1px solid #828282;
}

.mammoth-related-item-info .info-list .item p {
    margin-bottom: 0;
}

.mammoth-related-main .column-2 .video {
    aspect-ratio: 290/463;
    border-radius: 0.992vw;

}

.mammoth-related-main .column-2 .video::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow:
        0px 0px 1.978vw 0px #FF7B31 inset,
        0px 1.124vw 1.878vw 0px #00000040;
}

.mammoth-related-main .column-2 .line-1 {
    width: 1px;
    height: 7.209vw;
    background-color: #3F3F3F;
    margin: -0.992vw auto 0;
}

.mammoth-related-main .column-2 .line-2 {
    width: 2.183vw;
    height: 1px;
    background-color: #3F3F3F;
    margin: 0 auto;
}

.mammoth-related-main .column-2 .video-wrapper {
    margin-bottom: 2.778vw;
}

.mammoth-related-main .column-2 .desc p {
    margin-bottom: 2.315vw;
}

.mammoth-related-main .column-2 .desc .line-1 {
    height: 10.648vw;
}

.mammoth-related-main {
    margin-bottom: 2.513vw;
}

.mammoth-related-sec .asian-elephant {
    padding-bottom: 3.571vw;
}

.core-phenotype-differences {
    min-height: 51.852vw;
    background-color: #F3F3F3;
    backdrop-filter: blur(4.299vw);
    position: relative;
    overflow: hidden;
    padding: 2.778vw 2.778vw 1.455vw 2.513vw;
    clip-path: polygon(98.844% 0%, 98.844% 0%, 99.032% 0.027%, 99.209% 0.104%, 99.375% 0.228%, 99.527% 0.395%, 99.661% 0.599%, 99.777% 0.838%, 99.871% 1.106%, 99.941% 1.399%, 99.985% 1.714%, 100% 2.046%, 100% 81.382%, 100% 81.382%, 99.971% 82.017%, 99.887% 82.619%, 99.753% 83.18%, 99.573% 83.693%, 99.353% 84.148%, 99.095% 84.539%, 98.805% 84.857%, 98.488% 85.095%, 98.148% 85.243%, 97.79% 85.294%, 79.275% 85.294%, 79.275% 85.294%, 78.917% 85.345%, 78.577% 85.494%, 78.26% 85.731%, 77.97% 86.049%, 77.713% 86.44%, 77.492% 86.896%, 77.312% 87.408%, 77.178% 87.97%, 77.094% 88.572%, 77.065% 89.206%, 77.065% 96.039%, 77.065% 96.039%, 77.036% 96.674%, 76.952% 97.276%, 76.818% 97.837%, 76.639% 98.35%, 76.418% 98.805%, 76.16% 99.196%, 75.871% 99.515%, 75.554% 99.752%, 75.213% 99.9%, 74.855% 99.951%, 1.156% 99.951%, 1.156% 99.951%, 0.969% 99.924%, 0.791% 99.847%, 0.625% 99.723%, 0.473% 99.556%, 0.339% 99.352%, 0.223% 99.114%, 0.129% 98.845%, 0.059% 98.552%, 0.015% 98.237%, 0% 97.905%, 0% 2.046%, 0% 2.046%, 0.015% 1.714%, 0.059% 1.399%, 0.129% 1.106%, 0.223% 0.838%, 0.339% 0.599%, 0.473% 0.395%, 0.625% 0.228%, 0.791% 0.104%, 0.969% 0.027%, 1.156% 0%, 98.844% 0%);
}

.core-phenotype-differences .left {
    width: 26.5%;
    padding-right: 3.439vw;
}

.core-phenotype-differences .right {
    width: 73.5%;
}

.core-phenotype-differences .title {
    font-size: 2.646vw;
    letter-spacing: 0.011em;
    margin-bottom: 1.984vw;
}

.core-phenotype-differences .desc p {
    margin-bottom: 1.25em;
}

.core-phenotype-differences .desc p:last-child {
    margin-bottom: 0;
}

.core-phenotype-differences .title-bottom {
    gap: 0.661vw;
    margin-top: 4.63vw;
}

.core-phenotype-differences .title-bottom .square {
    width: 1.587vw;
    height: 1.587vw;
}

.core-phenotype-differences .note-text {
    font-size: 0.661vw;
    line-height: 1.8;
}

.core-phenotype-differences .video {
    aspect-ratio: 900/525;
    transform: rotateY(180deg);
    padding: 2.116vw 2.116vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.core-phenotype-differences .video video {
    width: 80%;
    height: 95%;
}

.core-phenotype-differences .video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #FFFFFF4D;
}

.core-phenotype-differences .body-part {
    position: absolute;
    z-index: 1;
    display: flex;
    mix-blend-mode: multiply;
    gap: 1.058vw;

}

.core-phenotype-differences .body-part .image {
    width: 11.772vw;
    height: 6.614vw;
    object-fit: cover;
    border: 1px solid #979797;
    border-radius: 0.529vw;
}

.core-phenotype-differences .body-part .text {
    font-size: 0.794vw;
    color: #828282;
    max-width: 9.722vw;
}

.core-phenotype-differences .body-part .img-line {
    position: absolute;
    max-width: unset;
}

.core-phenotype-differences .body-part-1 {
    top: 5%;
    left: 5%;
}

.core-phenotype-differences .body-part-1 .img-line {
    top: 7.209vw;
    left: 5.622vw;
    width: 11.706vw;
}

.core-phenotype-differences .body-part-2 {
    top: 6%;
    left: 51%;
}

.core-phenotype-differences .body-part-2 .img-line {
    top: 3.241vw;
    left: -8.069vw;
    width: 7.407vw;
}

.core-phenotype-differences .body-part-3 {
    top: 26%;
    left: 77%;
    flex-direction: column-reverse;
}

.core-phenotype-differences .body-part-3 .img-line {
    top: 5.688vw;
    left: -7.407vw;
    width: 6.614vw;
}

.core-phenotype-differences .body-part-4 {
    top: 72%;
    left: 74%;
    flex-direction: column;
}

.core-phenotype-differences .body-part-4 .img-line {
    top: -1.653vw;
    left: -6.614vw;
    width: 5.886vw;
}

.core-phenotype-differences .body-part-5 {
    top: 65%;
    left: 9%;
    flex-direction: column;
}

.core-phenotype-differences .body-part-5 .img-line {
    top: 8.995vw;
    left: 0.529vw;
    width: 19.246vw;
}

.core-phenotype-differences .key-data {
    font-size: clamp(6px, 0.529vw, 20px);
    letter-spacing: 0.02em;
    transform: rotate(-90deg);
    bottom: 3.505vw;
    left: -0.331vw;
}

.core-phenotype-differences .core-source {
    margin: 2.183vw 33% 0 auto;
    max-width: 11.243vw;
}

.core-phenotype-differences .core-source-label {
    gap: 0.529vw;
    font-size: clamp(6px, 0.529vw, 20px);
    letter-spacing: 0.02em;
    margin-bottom: 1.058vw;
}

.core-phenotype-differences .core-source-video {
    aspect-ratio: 170/95;
}

.phenotype-inner {
    position: relative;
    padding: 1px;
    background: linear-gradient(314.97deg, rgba(69, 69, 69, 0.5) 58.31%, #C5C5C5 82.09%);
    clip-path: polygon(98.844% 0%, 98.844% 0%, 99.032% 0.027%, 99.209% 0.104%, 99.375% 0.228%, 99.527% 0.395%, 99.661% 0.599%, 99.777% 0.838%, 99.871% 1.106%, 99.941% 1.399%, 99.985% 1.714%, 100% 2.046%, 100% 81.382%, 100% 81.382%, 99.971% 82.017%, 99.887% 82.619%, 99.753% 83.18%, 99.573% 83.693%, 99.353% 84.148%, 99.095% 84.539%, 98.805% 84.857%, 98.488% 85.095%, 98.148% 85.243%, 97.79% 85.294%, 79.275% 85.294%, 79.275% 85.294%, 78.917% 85.345%, 78.577% 85.494%, 78.26% 85.731%, 77.97% 86.049%, 77.713% 86.44%, 77.492% 86.896%, 77.312% 87.408%, 77.178% 87.97%, 77.094% 88.572%, 77.065% 89.206%, 77.065% 96.039%, 77.065% 96.039%, 77.036% 96.674%, 76.952% 97.276%, 76.818% 97.837%, 76.639% 98.35%, 76.418% 98.805%, 76.16% 99.196%, 75.871% 99.515%, 75.554% 99.752%, 75.213% 99.9%, 74.855% 99.951%, 1.156% 99.951%, 1.156% 99.951%, 0.969% 99.924%, 0.791% 99.847%, 0.625% 99.723%, 0.473% 99.556%, 0.339% 99.352%, 0.223% 99.114%, 0.129% 98.845%, 0.059% 98.552%, 0.015% 98.237%, 0% 97.905%, 0% 2.046%, 0% 2.046%, 0.015% 1.714%, 0.059% 1.399%, 0.129% 1.106%, 0.223% 0.838%, 0.339% 0.599%, 0.473% 0.395%, 0.625% 0.228%, 0.791% 0.104%, 0.969% 0.027%, 1.156% 0%, 98.844% 0%);
}

.phenotype-wrapper .project-moa {
    bottom: 0.529vw;
    right: 1.653vw;
    gap: 1.653vw;
    font-size: 0.789vw;
    letter-spacing: 0.02em;
    line-height: 1.42;
}

.phenotype-wrapper .project-moa .label {
    padding: 0.364vw 0.463vw;
}

.phenotype-wrapper .project-moa .content img {
    width: 2.778vw;
    flex-shrink: 0;
}

.conservation-impact-sec {
    margin-top: -1.984vw;
}

.conservation-impact-header {
    padding-top: 16.468vw;
}

.conservation-impact-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    background:
        linear-gradient(180deg, #7DEA13 0%, #FFFFFF 69.02%);
    pointer-events: none;
}

.conservation-impact-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    background:
        linear-gradient(180deg, #FFFFFF 7.18%, rgba(255, 255, 255, 0) 17.96%);
    pointer-events: none;
    z-index: 1;
}

.conservation-impact-header>.bg-grid {
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    mix-blend-mode: difference;
}

.conservation-impact-header .subheading {
    font-size: 2.185vw;
}

.conservation-impact-header .heading {
    font-size: 11.189vw;
    line-height: 0.8;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 32.56%, rgba(255, 123, 49, 0.68) 100%), linear-gradient(0deg, #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-top: 6.151vw;
}

.conservation-impact-header .skull-img {
    max-width: 67.063vw;
    margin-top: -22.156vw;
}

.conservation-impact-header .mountains-img {
    margin-top: -23.876vw;
    margin-bottom: -7.143vw;
}

.conservation-impact-header .mountains-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 76.26%, #000000 88.76%);
    pointer-events: none;
}

.conservation-impact-sec .key-stats .line-1 {
    margin-bottom: 0.992vw;
}

.conservation-impact-sec .key-stats .stat-row-header .stat-header-item {
    max-width: 100%;
}

.conservation-impact-sec .key-stats .stats-list {
    margin-top: 2.249vw;
    margin-bottom: 2.646vw;
}

.conservation-impact-sec .conservation-impact-learnmore::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.conservation-impact-sec .conservation-impact-learnmore {
    min-height: 32.143vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3.307vw;
}

.conservation-impact-learnmore .text-top {
    gap: 7.275vw;
    top: 2.778vw;
    left: 2.315vw;
}

.conservation-impact-learnmore .content {
    gap: 9.921vw;
}

.conservation-impact-learnmore .content .text {
    letter-spacing: 0.1em;
}

.conservation-impact-bottom .row-1 {
    margin-bottom: 2.976vw;
}

.conservation-impact-bottom .row-2 {
    margin-bottom: 5.026vw;
}

.conservation-impact-bottom .row-3 .video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58.44%, #000000 100%);
    pointer-events: none;
}

.conservation-impact-bottom .row-3 .video::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 0.529vw;
    background: linear-gradient(180deg, #979797 0%, #FF7B31 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
}

.conservation-impact-bottom .row-3 .text-square {
    gap: 7.275vw;
}

.conservation-impact-bottom .row-3 .text-1 {
    margin-bottom: 15.013vw;
}

.conservation-impact-bottom .row-3 .text-2 {
    margin-top: 9.127vw;
    font-size: 1.19vw;
    line-height: 1.22;
    letter-spacing: 0.025em;
    max-width: 21.892vw;
}

.conservation-impact-bottom .row-3 .title {
    line-height: 0.85;
    padding-bottom: 2.249vw;
}

.conservation-impact-bottom .row-3 .image {
    margin-bottom: 2.116vw;
}

.conservation-impact-bottom .row-3 .image::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 0.529vw;
    background: linear-gradient(180deg, #828282 0%, #FF7B31 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
}

.conservation-impact-bottom .row-3 {
    padding-bottom: 6.614vw;
}

.conservation-impact-bottom .row-3 .text-3 {
    margin-bottom: 1.984vw;
}

.conservation-impact-bottom .conservation-partners {
    padding-bottom: 2.116vw;
}

.mammoth-page .conservation-impact-bottom .partner-slider .partner-name,
.mammoth-page .conservation-impact-bottom .partner-slider .partner-name .plus,
.mammoth-page .conservation-impact-bottom .partner-slider .partner-actions {
    color: #fff;
}

.mammoth-page .conservation-impact-bottom .partner-slider .btn-visit {
    border-color: #b3b3b3;
}

.conservation-impact-bottom .partner-slider {
    padding-top: 2.381vw;
}

.conservation-impact-bottom .swiper-arrow {
    background-color: #7DEA13;
}

.mammoth-page .conservation-impact-bottom .partner-sec {
    padding-bottom: 5.093vw;
}

.shaping-conversation-sec {
    padding: 1.984vw 0 9.193vw;
}

.shaping-conversation-header {
    padding-bottom: 3.638vw;
}

.shaping-conversation-grid>.left {
    width: 67.63%;
    padding-right: 1.323vw;
    gap: 0.926vw 1.323vw;
}

.shaping-conversation-grid>.right {
    width: 32.37%;
}

.shaping-conversation-card {
    aspect-ratio: 916/425;
    border: 1px solid #979797;
    border-radius: 1.058vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    color: #fff !important;
    display: block;
}

.shaping-conversation-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #0000004D;
    pointer-events: none;
    z-index: 0;
}

.shaping-conversation-card.card-orange::before {
    background: linear-gradient(180deg, rgba(255, 123, 49, 0) 50%, #FF7B31 100%);
    mix-blend-mode: exclusion;
}

.shaping-conversation-card.card-green::before {
    background: linear-gradient(180deg, rgba(125, 234, 19, 0) 38.97%, #7DEA13 100%);
    mix-blend-mode: exclusion;
}

.shaping-conversation-card.card-purple::before {
    background:
        linear-gradient(360deg, rgba(153, 64, 221, 0) 68.71%, #9940DD 100%);

}


.shaping-conversation-card .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shaping-conversation-card .card-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.984vw;
    padding: 1.323vw 1.72vw 1.72vw 1.852vw;
}

.shaping-conversation-card .card-content .content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.794vw;
}

.shaping-conversation-card .card-content .content-top p {
    font-size: clamp(6px, 0.529vw, 20px);
    letter-spacing: 0.02em;
}

.shaping-conversation-card .card-content .source {
    display: flex;
    align-items: center;
    gap: 0.595vw;
}

.shaping-conversation-card .card-title {
    font-family: 'Telegraf';
    font-size: 1.587vw;
    max-width: 70%;
}

.shaping-conversation-sec .shaping-conversation-line-top {
    width: 100%;
    height: 1px;
    background-color: #828282;
    margin-bottom: 1.984vw;
}

.shaping-conversation-card .card-arrow {
    width: 1.72vw;
    height: 1.521vw;
    border-radius: 2.116vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0.331vw;
    transition: all 0.3s ease-in-out;
}

.shaping-conversation-card:hover .card-arrow {
    background-color: #ff7b31;
}

.shaping-conversation-card .card-content .content-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1.058vw;
}

.shaping-conversation-card.small {
    width: calc(50% - 0.661vw);
    aspect-ratio: 448/320;
}

.shaping-conversation-card.small .card-content {
    padding: 1.19vw 1.323vw 1.323vw 1.521vw;

}

.shaping-conversation-card .card-desc {
    font-size: 0.794vw;
}

.shaping-conversation-card .card-line-text {
    font-size: 0.926vw;
}

.shaping-conversation-grid>.right .shaping-conversation-card {
    aspect-ratio: unset;
    width: 100%;
    height: 100%;
}

.shaping-conversation-grid>.right .shaping-conversation-card::before {
    display: none;
}

.shaping-conversation-grid>.right .shaping-conversation-card .content-bottom {
    flex-direction: column;
    align-items: start;
    max-width: 90%;
}

.shaping-conversation-grid>.right .shaping-conversation-card .card-title {
    max-width: 100%;
}

.culture-lore-main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7.011vw 0 41.865vw;
    margin-top: -0.331vw;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 67.631% 100%, 67.631% 100%, 67.389% 99.977%, 67.159% 99.912%, 66.944% 99.807%, 66.748% 99.666%, 66.574% 99.492%, 66.425% 99.29%, 66.303% 99.063%, 66.212% 98.815%, 66.156% 98.548%, 66.136% 98.267%, 66.136% 97.355%, 66.136% 97.355%, 66.116% 97.074%, 66.06% 96.807%, 65.969% 96.559%, 65.848% 96.332%, 65.698% 96.13%, 65.524% 95.956%, 65.328% 95.815%, 65.114% 95.71%, 64.884% 95.645%, 64.641% 95.622%, 35.214% 95.622%, 35.214% 95.622%, 34.972% 95.645%, 34.742% 95.71%, 34.527% 95.815%, 34.331% 95.956%, 34.157% 96.13%, 34.008% 96.332%, 33.886% 96.559%, 33.795% 96.807%, 33.739% 97.074%, 33.719% 97.355%, 33.719% 98.267%, 33.719% 98.267%, 33.7% 98.548%, 33.643% 98.815%, 33.552% 99.063%, 33.431% 99.29%, 33.281% 99.492%, 33.107% 99.666%, 32.911% 99.807%, 32.697% 99.912%, 32.467% 99.977%, 32.224% 100%, 0% 100%);
}

.culture-lore-main::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(180deg, #000000 3.64%, rgba(0, 0, 0, 0) 14.88%);
    pointer-events: none;
}

.culture-lore-main::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(151, 151, 151, 0) 51.28%, #FF7B31 95.15%);
    pointer-events: none;

}

.culture-lore-heading {
    font-size: 13.539vw;
    margin-bottom: 2.646vw;
}

.culture-lore-heading-img {
    margin-left: 1.19vw;
    width: 99%;
    margin-bottom: 9.259vw;
}

.culture-lore-main .text {
    font-size: 0.897vw;
    line-height: 1.5;
}

.culture-lore-sec .text-end {
    font-size: 1.196vw;
    bottom: 1.124vw;
}

.mammoth-page .footer-end {
    margin-top: -6.614vw;
}